// This file is part of Moodle - http://moodle.org/
//
// Moodle is free software: you can redistribute it and/or modify
// it under the terms of the GNU General Public License as published by
// the Free Software Foundation, either version 3 of the License, or
// (at your option) any later version.
//
// Moodle is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU General Public License for more details.
//
// You should have received a copy of the GNU General Public License
// along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

/**
 * Change password form definition.
 *
 * @package    core
 * @subpackage auth
 * @copyright  2006 Petr Skoda {@link http://skodak.org}
 * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */
/* 
    Created on : 13 Aug, 2015, 4:20:54 PM
    Author     : arjun
*/
.carousel-indicators {
	bottom:-40px;
	left:0;
	width:100%;
	background:#ccc;
	padding: 6px 0px;
	margin-left:0;
	border-top:2px solid #fff;
}
.carousel-indicators li {
	width:12px;
	height:12px;	
	background:#fff;
	border-color:#fff;
}
.carousel-indicators .active {
	width:14px;
	height:14px;
	background:#428bca;
	border-color:#428bca;
}
.carousel-inner .thumbnail {
	margin-bottom:0;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}
.carousel-inner .caption {
        background: rgb(20, 46, 53);
        padding: 10px;
        min-height: 200px;
        padding: 10px;

}

.block_latest_news  .block .content{min-height:250px;}
.carousel{line-height: 1.5em;margin-bottom:0px!important;}

.carousel-inner .caption a{
        color: #30ADD1;
        font-variant: small-caps;
        font-size: 20px;
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
}
.carousel-inner .caption .wrap-info{
    padding:10px;
    text-align:center;   
}
.userinfo{
    padding:5px;
    border-radius: 12px;
    background: rgba(71, 91, 97, 0.95);
}
.wrap-info img{
    border-radius: 30px;float:left;
}
.userinfo name{
    text-align: right;
}
.carousel-inner .info {
    padding: 5px;
    border-bottom: 1px solid #00BF6F;
    word-wrap: break-word;
    text-overflow: ellipsis;
    height: 30px;
    overflow: hidden;
    text-align: left;
}
.wrap-info .message {
    min-height: 200px;
    max-height: 200px;
    line-height: 1.5em;
    text-align: justify;
    font-family: serif;
}