#wrapper{
    border-top: none;
}
.abc{
    background-image:url([[pix:theme|bg_top]]);
}
/*.navbar .brand{
            border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.navbar {
        padding: 0 0px;
}
.navbar .brand{
        background-image:url([[pix:theme|leather_tile]]);
}
.nav-collapse.collapse li{
          border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-image:url([[pix:theme|leather_tile]]);
}*/
.navbar .container-fluid{
    background: transparent -moz-linear-gradient(center top , #721917 0px, #CB2C2A 100%) no-repeat scroll 0% 0%;
    background: -webkit-linear-gradient(top, #721917 0, #CB2C2A 100%) no-repeat;
    padding: 0px 60px;
}
.navbar .brand{
    background-image: -moz-linear-gradient(center top , #AF3323 0px, #551911 100%);
    background-image: -webkit-linear-gradient(top , #AF3323 0, #551911 100%);
    -webkit-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0;
    border: 1px solid #B16625;
    border-bottom: none;
    font-weight: bold;
    color: #F7AF82;
}
.navbar .nav > li > a{
    background-image:url([[pix:theme|leather_tile]]);
    border-radius: 7px 7px 0px 0px;
    border-width: 0px 1px medium;
    border-style: solid solid none;
    border-color: rgba(227, 128, 114, 0.5) rgba(227, 128, 114, 0.5) ;

    text-shadow: 0 0 5px #000, 0 0 2px #000;
    color: #ECE1C9;
    font-weight: bold;
}
.navbar .dropdown-menu > li > a{
    color: white;
    padding: 8px 20px;
    background: transparent linear-gradient(to bottom, #AD1111 0%, #750202 100%) repeat scroll 0% 0%;
}
.footerlinks{
    background: transparent -moz-linear-gradient(center top , #D63B38 0px, #D42E2B 10%, #5D1413 100%) no-repeat scroll 0% 0%;
    background: transparent -webkit-linear-gradient(top , #D63B38 0, #D42E2B 10%, #5D1413 100%) no-repeat;
    border-top: 1px solid #2B1203;

    margin: 0px auto;

    color: #E8DBBE;
    font-size: 11px;
    font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif;
    text-align: center;
}
#page-footer .footnote{
    float: none;
}
.navbar .brand a:hover{
    color:red;
}
.navbar {
    padding: 0 0px;
}
.navbar .brand:hover{
    background-image:url([[pix:theme|leather_tile]]);
}
#page-footer .footerlinks a{
    color:white;
}
#page-footer .footnote{
    margin-left: 0px;
}
#page-footer .footerlinks a:hover{
    text-decoration: underline;
}
.art-layout-cell1{
    border-right-style: solid; 
    border-right-width: 1px; 
    border-right-color: #BDBDBD; 
    padding: 0px; 
    width: 50%;
    display: table-cell;
}
.art-layout-cell2{

    padding: 0px; 
    width: 50%;
    display: table-cell;
}
.navbar .dropdown-menu > li > a:hover{
    background: transparent linear-gradient(to bottom, #EFC5CA 0%, #D24B5A 50%, #BA2737 51%, #F18E99 100%) repeat scroll 0% 0%;
}
.navbar .dropdown-menu{
    border-bottom: 0px;
}
.navbar .nav > li > a:hover{
    background-color: #FCE3D4;

}
#ageToBuy{
    display: table-cell;
    background-image:url([[pix:theme|leather_tile]]);
    width: 200px;
    float: right;
    border: 1px solid #AAA;
    border-radius: 8px;
    padding: 0px 12px;
}
#ageToBuy h3{
    color: #ECE1C9;
    text-shadow: 0px 0px 8px #000, 0px 0px 5px #000, 0px 0px 2px #000;
}
.art-layout-cell3 h5{
    color: #C5530D;
    margin: 10px 0px;
    font-size: 21px;
    font-family: Arial,"Arial Unicode MS",Helvetica,sans-serif;
    font-weight: normal;
    font-style: normal;
}
input[type="submit"]{
    background-image: -moz-linear-gradient(center top , #AF3323 0px, #551911 100%);
    background-image: -webkit-linear-gradient(top , #AF3323 0px, #551911 100%);
    border: 1px solid #84261A;
}

input[type="submit"]:hover{
    background: transparent -moz-linear-gradient(center top , #F7F2E8 0px, #D9C292 100%) no-repeat scroll 0% 0%;
    background: -webkit-linear-gradient(top, #F7F2E8 0, #D9C292 100%) no-repeat;
    border: 1px solid #A6A6A6;
    color:black;
    background-position: 0 0px;
}
.art-layout-cell3{
    padding-right: 10px; 
    padding-left: 10px; 
    width: 100%;
}
.btn{
    background-image: -moz-linear-gradient(center top , #AF3323 0px, #551911 100%);
    background-image: -webkit-linear-gradient(top , #AF3323 0px, #551911 100%);
}
.btn:hover{
    background: transparent -moz-linear-gradient(center top , #F7F2E8 0px, #D9C292 100%) no-repeat scroll 0% 0%;
    background: -webkit-linear-gradient(top, #F7F2E8 0, #D9C292 100%) no-repeat;

}
.breadcrumb-button input[type="submit"] {
    background-image: -moz-linear-gradient(center top , #AF3323 0px, #551911 100%);
    background-image: -webkit-linear-gradient(top , #AF3323 0px, #551911 100%);

}
.breadcrumb-button input[type="submit"]:hover{
    background: transparent -moz-linear-gradient(center top , #F7F2E8 0px, #D9C292 100%) no-repeat scroll 0% 0%;
    background: -webkit-linear-gradient(top, #F7F2E8 0, #D9C292 100%) no-repeat;

}
.btn:hover,.btn:focus{
    background-position: 0 0px;
}
input[type="submit"]:hover,input[type="submit"]:focus{
    background-position: 0 0px;
}
.cameraContents .camera_caption h1{
    color:red;
    background: none;
}
.cameraContents .camera_caption span{
    border-left: 0px;
    margin-left: 0px;
    background: none;
    text-shadow: 0px 0px 8px #000, 0px 0px 5px #000, 0px 0px 2px #000;
}
body{
    padding-bottom: 35px;
    padding-top: 0px;
}
.art-article td{
    padding: 2px;
    border: 1px solid #616161;
    vertical-align: top;
    text-align: left;
}
.art-layout-cell3{
    padding-bottom: 10px;
}
.cameraContents .camera_caption div{
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0px 0px;
    margin-bottom: 0px;
    height: 375px;
}
#page{
    padding-top: 0px;
}
.navbar .nav > li{
    padding: 0 10px;
}
.imgl{
    margin-left: 20px;
}
.art-slogan{
    font-size: 12px;
    font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    color: #FBD7C1 !important;
}
#block-login{
    background: transparent;
    border:none;
}
#loggedin-user{
    background: transparent;
    border:none;
}
.logininfo a{
    color:white;
}
.navbar #search input {
    background: transparent;
}
.navbar #search input[type="submit"]{
    background: url(/lmsdemo/theme/image.php/azltraining/theme/1464081096/bg/icon-search) no-repeat center center;
}
.navbar #search input[type="submit"]:hover{

}
.art-layout-cell3 {
    margin-bottom: 40px;
}
.navbar .nav>li{
    line-height: 18px;
    margin-top: 15px;
}
.navbar .brand{
    line-height: 18px;
    margin-top: 14px;
}
.navbar .dropdown-menu{
    margin-left: 10px;
}