/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 Dec, 2015, 11:35:14 AM
    Author     : scott
*/
.axis path,
.axis line {
      fill: none;
        stroke: #000;
          shape-rendering: crispEdges;
}

.bar {
      fill: orange;
}

.solidArc:hover {
      fill: orangered ;
}

.solidArc {
        -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
                -webkit-transition: all 0.3s;
                    transition: all 0.3s;
}

.x.axis path {
      display: none;
}

.aster-score { 
      line-height: 1;
        font-weight: bold;
          font-size: 500%;
}

.d3-tip {
      line-height: 1;
        font-weight: bold;
          padding: 12px;
            background: rgba(0, 0, 0, 0.8);
              color: #fff;
                border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
      box-sizing: border-box;
        display: inline;
          font-size: 10px;
            width: 100%;
              line-height: 1;
                color: rgba(0, 0, 0, 0.8);
                  content: "\25BC";
                    position: absolute;
                      text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
      margin: -1px 0 0 0;
        top: 100%;
          left: 0;
}
* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
.post
{
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 0 1px #CCC;
}
.post img
{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}
.post .content
{
    padding: 15px;
}
.post .author
{
    font-size: 11px;
    color: #737373;
    padding: 25px 30px 20px;
}
.post .post-img-content
{
    position: relative;
}
.post .post-img-content img
{
    position: absolute;
}
.post .post-title
{
    display: table-cell;
    vertical-align: bottom;
    z-index: 49;
    top: 0px;
    position: absolute;
}
.post .post-title b
{
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 5px;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.collapse{
    height: auto;
}

.alert-custom{
    padding: 6px 15px !important;
    margin-bottom: 0px !important;
}

.quizcurve{
    float: right;
    top: 116px;
    position: absolute;
    right: 8px;
}
.sectioncurve{
    float: left;
    top: 116px;
    position: absolute;
    right: 8px;
}

.axis text {
    fill: rgb(169, 178, 189);
}

.master-score-title{
    display: table-cell;
    vertical-align: bottom;
    z-index: 49;
    top: 5px;
    position: absolute;
    right: 0px;
    background-color:#7D26CD;
    padding: 4px 11px;
    color: white;
}
.course-title{
    display: table-cell;
    vertical-align: bottom;
    z-index: 49;
    top: 5px;
    position: absolute;
    left: 0px;
    padding: 4px 11px;
    color: white;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
    line-height: 20px;
}

.panel-warning >.panel-heading {
    color: #FFFFFF;
    background-color: #55A2BF;
    border-color: #D8D8D8;
}
.panel-warning {
    border-color: #FFFFFF;
}

#section-title {
    text-align: center;
}
.doughnut { 
    border: 5px solid #7D26CD;
    border-radius: 100px;
    height: 65px;
    width: 66px;
    line-height: 44px;
    font-size: 20px;
    text-align: center;
}
.section-view{
    height:300px;
 }
.coursegraph{
    padding-top:5%;
}
#accordion .panel .panel-heading a:before{float:right;}
