.block_featuredcourses {
border: none !important;
    padding: 0px !important;
    background-color: rgb(220, 230, 230)!important;
    border-radius: 0px;
    margin: 0px;
}
/*.block_featuredcourses h2 {
text-align: center;
  font-size: 28px !important;
  line-height: 50px !important;
  text-transform: none !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  font-weight: 700 !important;
}*/
.featured-slick .coursename {font-weight: normal;
font-weight: 700;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 13px;
  border: 1px solid #ccc;
  text-align: center;
  padding-top: 10px;
    background-color: #fff;
}
.course-details-span span {
  margin-right: 20px;
  position: relative;
}
.statuser {
/* width:50%;
float:right; */
  border: 1px solid #ccc;
  background-color: #fff;
}
.courseimage {
/* width:50%;
float:left; */
  background-color: #fff;
}
.allbelow{
border: 1px solid #ccc;
  padding-bottom: 8px;
  border-top: 0px;
    background-color: #fff;
  }
.featured-slick .coursebox{
border:none !important;
}
.firstdiv {
height:150px;}

.usrlist li {
padding: 10px 0;
}
.usrlist li p a {
margin: 0 6px 0 12px;
}

.usrlist li p span {
color: #36ac65;
margin: 0 6px 0 12px;
}

.usrlist li span {
margin: 0 6px 0 12px;
}

ul {
list-style: none;
padding: 0;
margin-top: 0;
margin-bottom: 0;
}
.crsfeature{
border:1px solid #ccc;
max-height:200px;
min-height:200px;
  background-color: #fff;
}

.slick-dots li button {
    background: none repeat scroll 0% 0% rgba(84, 198, 102, 0.99) !important;
    }
.slick-slide img {
max-width: 100%;
height:auto;

}


/*--------applying theme css----------*/
.wrapper-item.courses-slider {
    width: auto;
}
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.owl-carousel .owl-wrapper-outer {
    /*overflow: hidden;*/
    position: relative;
    width: 100%;
}
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
.wrapper-item .inner-course .course-info span {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    font-style: normal;
    margin-top: 5px;
}
.wrapper-item .inner-course .course-info span:first-child {
    margin-top: 22px;
    background-color: rgba(12, 11, 11, 0.44);
    border-radius: 2px;
    color:#fff;

}

.col-sm-12 {
    width: 100%;
       position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}
.wrapper-item .inner-course {
    border: 2px solid #C3C2C2;
    box-shadow: 0 0 2px #ddd;
    margin-bottom: 30px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.wrapper-item .inner-course .course-thumbnail {
    position: relative;
}
.wrapper-item .inner-course .course-title {
    padding: 25px 15px 0 15px;
}
.wrapper-item .inner-course .course-instructor {
    padding: 5px 15px 15px;
    border-bottom: 1px solid #EEE;
    overflow: hidden;
    line-height: 32px;
    font-style: normal;
    display: block;
}
.course-title {
    margin: 0;
}
.course-price a{color:#64bc62;}
.wrapper-item .inner-course .course-price {
    padding: 12px 15px;
    border-bottom: 1px solid #EEE;
    color: #64bc62;
    font-size: 20px;
}
.wrapper-item .inner-course .course-student {
    padding: 12px 15px;
    overflow: hidden;
    color: #888888;
}
.wrapper-item .inner-course .course-student span {
    width: 50%;
    float: left;
}
.inner-course .course-rating {
    text-align: right;
}

.slick-track{
  left:30px;
}
.wrapper-item .inner-course .course-title h2
{
  font-size: 16px;
    line-height: 1.4em;
    color: #2c3339;
    font-weight: 600;
    margin: 0;
}
.wrapper-item .inner-course:hover{
      border-color: rgb(93, 190, 89);
    box-shadow: 0 0 2px transparent;
}
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
.wrapper-item .inner-course .course-instructor a{
  font-weight: 600;
    color: #888888;
}
.wrapper-item .inner-course .course-instructor .avatar{
  float: right;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
   
}
.course-instructor .avatar{
      border-radius: 50%;
    margin-right: 5px;
}
.course-instructor .avatar .fa{
    margin-right: 4px;
    font-size: 24px;
    margin-left: 5px;
font-size:24px;
}
.wrapper-item .inner-course .course-info{
  position: absolute;
    top: 50%;
    margin-top: -45px;
    left: 50%;
    margin-left: -45px;
    background: rgb(93, 190, 89);
    color: #fff;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    width: 90px;
    height: 90px;
    line-height: 20px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:2px;
    -webkit-transform: scale(scale(0));
    -ms-transform: scale(scale(0));
    -o-transform: scale(scale(0));
    transform: scale(scale(0));
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.wrapper-item .inner-course:hover .course-info {
    width: 150px;
    height: 65px;
    top: 50%;
    left: 40%;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:2px;
    -webkit-transform: scale(scale(1));
    -ms-transform: scale(scale(1));
    -o-transform: scale(scale(1));
    transform: scale(scale(1));
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}
.slick-dots{
  position: absolute;
bottom: -25px;
display: block;
width: 100%;
padding: 0px;
list-style: outside none none;
text-align: center;
margin-left: 0px!important;
}
.slick-dots li button{
  border-radius:10px;
  left:5px;
}
.course-info .no-overflow{
  text-transform: lowercase;
  
}
.button:hover, .button:active 
{
  text-decoration: none;
  color: #0C5;
  border-color: #0C5;
  background: #FFF;
}

.button span 
{
  display: inline-block;
  position: relative;
  padding-right: 0;
  
  transition: padding-right 0.5s;
}

.button span:after 
{
  content: ' ';  
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 12px;
  height: 11px;
  margin-top: -6px;
      margin-right: 10px;
    background: rgba(0, 0, 0, 0);
    border: 3px solid #4896C7;
    border-top: none;
    border-right: none;
    transition: opacity 0.5s, top 0.5s, right 0.5s;
    transform: rotate(-135deg);
}

.button:hover span, .button:active span 
{
  padding-right: 30px;
}

.button:hover span:after, .button:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #0C5;
  right: 0;
  top: 50%;
}




