/** Question editing **/

/* !important is needed in moodle 2.6 to override the display block when window width is reduced. */
#page-mod-selfchecklist-questions .qcontainer .fitemtitle,
#page-mod-selfchecklist-questions #id_questionhdr .fitemtitle {
    display: none!important;
}

#page-mod-selfchecklist-questions .qcontainer .qnums {
    font-weight: bold;
    float: left;
    color: gray;
}

#page-mod-selfchecklist-questions .qcontainer .fstatic {
    width: 97%;
    margin-right: 1em;
    margin-left: 5px;
    /* Set a negative margin-bottom to save some vertical space! */
    margin-bottom: -10px;
}

#page-mod-selfchecklist-questions .mform .fitem fieldset.felement {
    margin-left: 0%;
    padding-left: 1%;
    margin-bottom: 0px!important;
}

#page-mod-selfchecklist-preview fieldset,
#page-mod-selfchecklist-complete fieldset {
    margin-bottom: 0px!important;
}

#page-mod-selfchecklist-questions .mform .fitem .fitemtitle {
    text-align: left;
    margin-left: 10px;
    margin-bottom: 0px!important;
}

#page-mod-selfchecklist-questions .moving {
    border: medium dotted maroon;
}

div.qoptcontainer div.ftextarea {
    clear: all;
    float: none;
    width: 600px;
    margin: 0pt auto 10px;
}

div.qoptcontainer div.ftextarea textarea.qopts {
    width: 600px;
    height: 10em;
    margin-left: 1px;
}

.response span.selected,
.generalboxcontent span.selected {
    font-weight:bold;
}

td.selected {
    background-color: #e4f1fa;
    border: 1px solid gray;
}

#page-mod-selfchecklist-myreport div.respdate {
    font-size: 0.8em;
    font-weight:bold;
    margin-bottom: 6px;
    padding-top: 6px;
    border-bottom: 1px dashed gray;
}

#page-mod-selfchecklist-complete .message,
#page-mod-selfchecklist-complete .notifyproblem,
#page-mod-selfchecklist-preview .message,
#page-mod-selfchecklist-preview .notifyproblem,
#page-mod-selfchecklist-complete .thankbody,
#page-mod-selfchecklist-complete .thankhead {
    background-color:#FFFFFF;
    border-style: solid;
    border-width: 2px;
    margin-bottom:10px;
    padding:5px;
}

#page-mod-selfchecklist-complete .notifyproblem,
#page-mod-selfchecklist-preview .notifyproblem {
    border-color: red;
}

#page-mod-selfchecklist-fbsections .notifyproblem {
    text-align: left;
    padding: 0px;
}

#page-mod-selfchecklist-complete .message,
#page-mod-selfchecklist-preview .message,
#page-mod-selfchecklist-complete .thankbody,
#page-mod-selfchecklist-complete .thankhead {
    border-color: blue;
}

#page-mod-selfchecklist-complete .surveyTitle,
#page-mod-selfchecklist-complete .surveySubtitle,
#page-mod-selfchecklist-complete .addInfo {
    clear:both;
    margin:0px;
    margin-bottom:4px;
    padding:10px;
}

.surveyPage {
    background-color: #eee;
    border-bottom-color:#000000;
    border-bottom-style: solid;
    border-bottom-width:1px;
    clear:right;
    padding:3px;
    margin-bottom:5px;
    margin-top:0px;
}

/* alternate columns formatting */

#page-mod-selfchecklist-complete .c0,
#page-mod-selfchecklist-preview .c0,
#page-mod-selfchecklist-print .c0,
#page-mod-selfchecklist-report .individual .c0,
#page-mod-selfchecklist-myreport .individual .c0 {
    background-color: #fafafa;
    border: 1px solid silver;
    padding-left:5px;
    padding-right:5px;
}

#page-mod-selfchecklist-complete .raterow:hover,
#page-mod-selfchecklist-preview .raterow:hover {
    background-color: #e4f1fa;
}

#page-mod-selfchecklist-complete td.raterow:hover,
#page-mod-selfchecklist-preview td.raterow:hover {
    border: 1px solid navy;
}

#page-mod-selfchecklist-complete td.notanswered,
#page-mod-selfchecklist-preview td.notanswered {
    /* border: none; */
    background-color: #fafafa;;
}

#page-mod-selfchecklist-complete td.notcompleted,
#page-mod-selfchecklist-preview td.notcompleted {
    border: 2px solid red;
    background-color: #fafafa;
}

#page-mod-selfchecklist-complete .c1,
#page-mod-selfchecklist-preview .c1,
#page-mod-selfchecklist-print .c1,
#page-mod-selfchecklist-report .individual .c1,
#page-mod-selfchecklist-myreport .individual .c1 {
    background-color: #eee;
    border: 1px solid silver;
    padding-left:5px;
    padding-right:5px;
}

#page-mod-selfchecklist-myreport .individualresp,
#page-mod-selfchecklist-preview .individualresp,
#page-mod-selfchecklist-print .individualresp {
    border: #c0c0c0 1px solid;
    padding-left:5px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:0px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#page-mod-selfchecklist-complete .notice .buttons div,
#page-mod-selfchecklist-complete .notice .buttons form {
    display:inline;
}

.floatprinticon {
    margin-top:-30px;
    float:right;
}

.qn-legend {
     float: left;
     font-size:inherit;
     width: auto;
}

/* format paragraph top and bottom margins for better vertical positioning in questions text */
.qn-question p {
    margin-bottom: 0.6em;
    margin-top: 0.5em;
}

.qn-question {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
    /* make background same color as quiz question text */
    background-color: #e4f1fa;
}

#page-mod-selfchecklist-questions .qn-question {
    margin-left: 40px;
}

.unselected {
    color: gray;
}

/*respondents list feature*/

#respondentscolumn {
    float:left;
    margin-left:20px;
}
.respondentsnavbar {
    text-align:center;
    padding-bottom:5px;
    padding-top:5px;
    margin-bottom:5px;
    background-color: #F2F2F2;
}

/* new quiz-like formatting for 2.5 */

#page-mod-selfchecklist-questions .qn-container {
    border: 1px dotted gray;
    margin-bottom: 1em;
}

.dir-rtl .qn-container {
    text-align: right;
}
.qn-info {
    float: left;
    width: auto;
    padding: 7px;
    background: #eee;
    font-weight: bold;
}

.qn-info h2.qn-number {
    margin: 0px;
    font-size: 1.5em;
    line-height: 1.2em;
}

.qn-question,
.qn-answer {
    margin: 0 0 0.5em;
    overflow:auto;
}

#notice .qn-question {
    margin: 0;
}

.req {
    font-size: x-small;
}

.qdepend {
    color: red;
    padding-left:5px;
    margin-bottom: 5px;
}

.qn-content {
    margin-bottom: 10px;
    margin-left: 55px;
}

/* move horizontal radio buttons closer to their labels */
.qn-answer input[type="radio"],
.qn-answer input[type="checkbox"] {
    margin-right: 3px;
}

#page-mod-selfchecklist-show_nonrespondents input[type="radio"] {
    margin-right: 1px;
}

.qn-answer label,
#page-mod-selfchecklist-show_nonrespondents label {
    margin-right: 0.6em;
}

.hidedependquestion {
    color:red;
    display: none;
}
.qn-container {
    color:black;
    display: inherit;
    margin-left: 10px;
}

#page-mod-selfchecklist-fbsections .c0,
#page-mod-selfchecklist-fbsections .c1 {
    border: 1px solid silver;
    padding-left:4px;
    padding-right: 4px;
}

#page-mod-selfchecklist-fbsections .c0 {
    background-color: #fafafa;
}

#page-mod-selfchecklist-fbsections .c1 {
    background-color: #eee;
}

#page-mod-selfchecklist-fbsections input[type="radio"] {
    margin-right: 0px;
}

#page-mod-selfchecklist-fbsections .qn-legend {
    padding-left: 8px;
}

#page-mod-selfchecklist-fbsections .qcontainer.qcontent {
    margin-bottom:-5em;
}
#page-mod-selfchecklist-report div.chart {
    overflow: auto;
    margin-left: -40px;
}

#page-mod-selfchecklist-report .generaltable.selfchecklistreport td {
    border: 1px solid silver;
}

.qn-container .smalltext {font-size: 0.75em;}

/* !important is needed in moodle 2.6 to override the display block when window width is reduced. */
#page-mod-selfchecklist-questions #region-main .mform .fitem .felement {
    margin-bottom: 0px;
    margin-left: 5px;
    width: 97%;
}
/* Added by Shiuli on 3rd feb */
#page-mod-selfchecklist-questions .editor_atto {
    margin-left: 28%;
}

/*#id_type_id option[value="99"], #id_type_id option[value="5"], #id_type_id option[value="9"],
#id_type_id option[value="6"], #id_type_id option[value="3"], #id_type_id option[value="100"]
,#id_type_id option[value="10"], #id_type_id option[value="4"], #id_type_id option[value="2"],
 #id_type_id option[value="1"] {
    display: none;
}*/
/* Added by Shiuli on 7th March. */
.customtab .lastrow, .customtab .lastrow p {
    font-weight: bold;
    font-size: 17px !important;
}

.customtab .lastrow {
    background-color: gray !important;
    color: white !important;
}
.customtab .lastrow:hover {
    background-color: gray !important;
    color: #000000 !important;
}

.customtab tr td.c2, .customtab tr td.c3, .customtab tr td.c4 {
    text-align: center;
}

.cbegranks, .cendranks, .cdiffranks {
    text-align: center !important;
}

.redbtn {
	background: #D95843 !important;
	text-shadow: none !important;
	background-image: none !important;
	color: #FFFFFF !important;
	font-weight: 600 !important;
	border-color: transparent !important;
	border-radius: 0 !important;
}

.redbtn:hover {
	text-decoration: none !important;
	text-shadow: none !important;
	color: #fff !important;
	background-color: #dc3219 !important;
	box-shadow: none;
	border-color: transparent !important;
}

.padbott {
	padding-bottom: 2%;
}

