/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 Dec, 2015, 7:23:40 PM
    Author     : scott
*/

table .collapse.in {
    display:table-row;
}

.section-row .table-bordered {

}
.section-row .table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
    border-top-left-radius: 0px !important;
}


.section-row .table-bordered thead:first-child tr:first-child > th:last-child, .table-bordered tbody:first-child tr:first-child > td:last-child, .table-bordered tbody:first-child tr:first-child > th:last-child {
    border-top-right-radius: 0px !important;
}
.section-row .table-bordered{
    border-radius: 0px;
}
.section-header{
    background-color: #F5F5F5;
    margin-bottom: 8px;
    border: 1px solid #E4E4E4;
}
.section-label{
    padding: 5px 11px;
    border-bottom: 1px solid rgb(224, 222, 222);
    background-color: #39B8C8;
    color: #FFF;
}
.quiz-header{
    background-color: #F5F5F5;
    border: 1px solid #E4E4E4;
}
.quiz-label{
    padding: 5px 11px;
    border-bottom: 1px solid rgb(224, 222, 222);
    background-color: #CB6464;
    color: #FFF;
}