

.fcontainer.clearfix {
    margin-right: 30% !important;
}
fieldset.felement.fgroup {
    float: right;
}

.mform .fcheckbox > span, .mform .fradio > span, .mform .fgroup > span {
    padding-left: 54px !important;
}
.form-item::before, .mform .fitem::before, .form-item::after, .mform .fitem::after {
     display: initial !important;
}
div#fgroup_id_buttonar div.felement.fgroup {
 text-align: center !important;   
}