 /*css for input fields and labels */
 
.custom_head{
	width: 206px;
    text-align: left;
    float: left;
    padding-left:10px
}
#fgroup_id_actfromgroup .fitemtitle label,#fgroup_id_arcfromgroup .fitemtitle label{
	width: 206px;
    text-align: left;
    padding-left: 10px;
}
div#fgroup_id_headgroup{
	background: #f0f8ff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
