/* fmubeta Custom CSS
-------------------------*/
#region-main-fmubeta-shadow {
    background: url([[pix:theme|shadow]]) no-repeat scroll 50% 100% / 96% 12px transparent;
    padding-bottom: 12px;
    margin: 0 auto;
    display: block;
    clear: both; /* Clear floats that are sometimes used to make the #region-main-fmubeta fit the content, i.e Editing Quiz. */
}

#footer-shadow {
    /*changed by arjun

    background: url([[pix:theme|shadow_footer]]) no-repeat scroll 50% 0% / 100% 12px transparent;

    */
    background: none;
    padding-top: 12px;
    margin-top: 1em;
    /* http://css-tricks.com/css-transparency-settings-for-all-broswers/ */
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

body.pagelayout-login #region-main.loggedout {
    background: none;
}

.loginbox .loginpanel .loginsub:before {
    [[setting:theloginmessge]]
}

/* Styles that should not be flipped for RTL. */
/* Footer. */
body.has_dock_left_vertical.has_dock #page-footer {
    margin-left: 0px;
}

body.has_dock_right_vertical.has_dock #page-footer {
    margin-right: 0px;
}

/* Look and feel settings
-------------------------*/
body.allpagesbackgroundimage #page-area {
    [[setting:landfallpagesbackgroundimage]]
}

body #region-main-fmubeta, body.allpagesbackgroundimage .panel-default, body.allpagesbackgroundimage .block, body.allpagesbackgroundimage .forumpost {
    [[setting:landfallpagescontenttransparency]]
}

body #region-main-fmubeta-shadow {
    [[setting:landfallpagescontenttransparencymain]]
}

body.frontpagebackgroundimage #page-area {
    [[setting:landffrontpagebackgroundimage]]
}

body.pagelayout-frontpage #region-main-fmubeta, body.frontpagebackgroundimage .panel-default, body.allpagesbackgroundimage .block, body.allpagesbackgroundimage .forumpost {
    [[setting:landffrontpagecontenttransparency]]
}

body.pagelayout-frontpage #region-main-fmubeta-shadow {
    [[setting:landffrontpagecontenttransparencymain]]
}

/* Custom Font
--------------*/
[[setting:fontfilesheading]]

[[setting:fontfilesbody]]

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
/* 28/08/2015 */
.dropdown-menu li{
	text-align:left !important;
}
#region-main-fmubeta {
    padding:30px !important;
}
