/* body{
    background-color: #fff!important;
    background-image: none;
}
header#page-header {
    background: linear-gradient(90deg, #82b540 0%, #c9cf4a 100%);
    color: #fff;
    padding: 30px;
}
div#region-main {
    padding-top: 0px;
    padding-bottom: 50px;
}
#region-main-fmubeta{
    box-shadow: none;
    background: #fff;
}
.ct-pageWrapper{
    box-shadow:none;
}
.breadcrumb{
background-color: rgba(255, 255, 255, 0);
}
.breadcrumb span{color:#fff;}
header span{display: inherit;font-size:18px;}

.breadcrumb>li+li:before{
    content: none;
}
.breadcrumb-nav{padding:20px;font-size: 18px;}
.breadcrumb-nav a{color:#fff;}
.breadcrumb>li {
    display: inline-block;
    padding: 0px;
    font-size: 18px;
    font-family: "Open Sans",sans-serif;
}
.breadcrumb>li a{color:#fff;}
.breadcrumb>li a:hover{color:#426D0A;}
.breadcrumb .divider{padding: 0px 10px;}

a:hover, a:focus, a:active {
    color: #426D0A;
    background: none;
    outline: none;
}
nav.navbar{
    box-shadow: 1px 0px 3px 0px rgba(10, 10, 10, 0.27);
    border: none;
    padding-top: 40px;
    }

ul.pagination.pagination-rounded.margin-bottom{padding-left: 0px;}

div#inst12{display: none;}
.ct-topBar.text-center{position:fixed;    border-bottom: 1px solid #DBE4ED;width:100%;}
.logoicon{
    width: 51%;
    float: left;
    margin-left:2px;
    background-color: rgba(42, 49, 47, 0.8);
}
    
.logoicon img{
    margin-left: auto;
    margin-right: auto;
    max-width: 168px;
}
aside#block-region-side-pre {
    margin-left: 10px;
}

 */
/* added by 26th aug Mihir/Arjun for FMU */
#block-region-side-center {
	
	float:none !important;
}

body.navbarfixedtop header.moodleheader
{
    padding-top: 140px !important;
}

@media (max-width: 768px){
.navbar-wrapper{
display:block!important;
}
}
.navbar-wrapper {
    height: auto!important;
}
.navbar{display:block!important;}
nav.navbar{background-color: rgb(253, 255, 255);}
div#inst12{display: none;}

/* added by 26th aug Mihir/Arjun for FMU */

#region-main-fmubeta{padding:0px;}

/* page bottom as we are making this as footer */

.navbar-default .navbar-brand:hover{color: #FFFFFF;
    
    background-color: rgb(130, 181, 64);
    font-weight: 600;}

#block-region-page-bottom {
background: #2d3339 !important;
color:#fff !important;
}
#block-region-page-bottom  a {
color: #fff !important;
}
#block-region-page-bottom .block {
max-height:100% !important;
height:100% !important;
overflow-y:none !important;
margin-top: 20px;
margin-bottom: 40px;
}

/* page bottom */
#block-region-page-bottom
{
margin-top: 0px !important;
border-top: 1px solid #4D4949;

}

#page-footer {
	background-color: #2D3339 !important;
}

header.moodleheader {
	margin-top:20px;
}

a:hover, a:focus, a:active {
    border-radius:0px !important;
    background: none;
    outline: none;
}
/* moodle header logo heading */
.moodleheader .logoheading, .moodleheader .heading {
padding-left: 20px !important;
background: none !important;
border: 0px !important;

}
body.allpagesbackgroundimage #page-area {
	
	background-repeat:no-repeat !important;
}

/* this is for the course pages */
.path-course-view #region-main-fmubeta {
	background-color:transparent !important;
}
.sectionname {
	
	padding: 21px 23px;
    
    border-bottom: 1px solid #e7eddf
	
}

.course-content ul li.section.main {
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}
.section li.activity {
	
	font-size: 14px;
    line-height: 66px;
    padding: 0 23px;
    
    display: block;
    border-bottom: 1px solid #e7eddf;
    font-weight: 500;
}
#region-main-fmubeta {
	/* padding:20px; */
}
#region-main-fmubeta::after, #region-main-fmubeta::before  {
background: #82B540;
height: 50px; 
}
/* for quiz review */
#page-mod-quiz-attempt .submitbtns, #page-mod-quiz-review .submitbtns {
	
	padding: 10px;
background: #82B540;
}

li {
	/* padding:4px !important; */
}
/* enrol user screen*/
.userselector div {
	
	margin-op:0px !important;
	margin-bottom:4px !Important;
}
h1.logoheading {
    line-height: 50px !important;
}
form input[type='text'] {
    height:auto !important;
}
.editor_atto_wrap {
    float:left !important;
}
.paging{
    left: 433px !important;
    margin: 0 auto !important;
    position: absolute !important;
    top: 532px !important;
    font-size: 20px;
}
.paging span.current-page {
    background-color: #82B540;
    padding: 10px;
}

/*  logo */

.logo {
	
	background-color:#82b540 !important;
}