/* body{
    background-color: #fff!important;
    background-image: none;
}
header#page-header {
    background: linear-gradient(90deg, #1daef3 0%, #c9cf4a 100%);
    color: #fff;
    padding: 30px;
}
div#region-main {
    padding-top: 0px;
    padding-bottom: 50px;
}
#region-main-fmubeta{
    box-shadow: none;
    background: #fff;
}
.ct-pageWrapper{
    box-shadow:none;
}
.breadcrumb{
background-color: rgba(255, 255, 255, 0);
}
.breadcrumb span{color:#fff;}
header span{display: inherit;font-size:18px;}

.breadcrumb>li+li:before{
    content: none;
}
.breadcrumb-nav{padding:20px;font-size: 18px;}
.breadcrumb-nav a{color:#fff;}
.breadcrumb>li {
    display: inline-block;
    padding: 0px;
    font-size: 18px;
    font-family: "Open Sans",sans-serif;
}
.breadcrumb>li a{color:#fff;}
.breadcrumb>li a:hover{color:#426D0A;}
.breadcrumb .divider{padding: 0px 10px;}

a:hover, a:focus, a:active {
    color: #426D0A;
    background: none;
    outline: none;
}
nav.navbar{
    box-shadow: 1px 0px 3px 0px rgba(10, 10, 10, 0.27);
    border: none;
    padding-top: 40px;
    }

ul.pagination.pagination-rounded.margin-bottom{padding-left: 0px;}

div#inst12{display: none;}
.ct-topBar.text-center{position:fixed;    border-bottom: 1px solid #DBE4ED;width:100%;}
.logoicon{
    width: 51%;
    float: left;
    margin-left:2px;
    background-color: rgba(42, 49, 47, 0.8);
}
    
.logoicon img{
    margin-left: auto;
    margin-right: auto;
    max-width: 168px;
}
aside#block-region-side-pre {
    margin-left: 10px;
}

 */
/* added by 26th aug Mihir/Arjun for FMU */
#block-region-side-center {
	
	float:none !important;
}

body.navbarfixedtop header.moodleheader
{
    padding-top: 140px !important;
}

@media (max-width: 768px){
.navbar-wrapper{
display:block!important;
}
}
.navbar-wrapper {
    height: auto!important;
}
.navbar{display:block!important;}
nav.navbar{background-color: rgb(253, 255, 255);}
div#inst12{display: none;}

/* added by 26th aug Mihir/Arjun for FMU */

#region-main-fmubeta{padding:0px;}

/* page bottom as we are making this as footer */

.navbar-default .navbar-brand:hover{color: #FFFFFF;
    
    background-color: #64bc62;
    font-weight: 600;
}

#block-region-page-bottom {
background: #2d3339 !important;
color:#fff !important;
}
#block-region-page-bottom  a {
color: #fff !important;
}
#block-region-page-bottom .block {
max-height:100% !important;
height:100% !important;
overflow-y:none !important;
margin-top: 20px;
margin-bottom: 40px;
}

/* page bottom */
#block-region-page-bottom
{
margin-top: 0px !important;
border-top: 1px solid #4D4949;

}

#page-footer {
	background-color: #FFFFFF !important;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 0, rgb(255, 255, 255) 100%);
}

header.moodleheader {
	margin-top:20px;
}

a:hover, a:focus, a:active {
    border-radius:0px !important;
    background: none;
    outline: none;
}
/* moodle header logo heading */
.moodleheader .logoheading, .moodleheader .heading {
padding-left: 20px !important;
/*background: none !important; */
border: 0px !important;

}
body.allpagesbackgroundimage #page-area {
	
	background-repeat:no-repeat !important;
}

/* this is for the course pages */
.path-course-view #region-main-fmubeta {
	background-color:transparent !important;
}
.sectionname {
	
	padding: 21px 23px;
    
    border-bottom: 1px solid #e7eddf
	
}

.course-content ul li.section.main {
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
}
.section li.activity {
	
	font-size: 14px;
    line-height: 66px;
    padding: 0 23px;
    
    display: block;
    border-bottom: 1px solid #e7eddf;
    font-weight: 500;
}
#region-main-fmubeta {
	/* padding:20px; */
}
#region-main-fmubeta::after, #region-main-fmubeta::before  {
background: #1daef3;
height: 50px; 
}
/* for quiz review */
#page-mod-quiz-attempt .submitbtns, #page-mod-quiz-review .submitbtns {
	
	padding: 10px;
background: #1daef3;
}

li {
	/* padding:4px !important; */
}
/* enrol user screen*/
.userselector div {
	
	margin-op:0px !important;
	margin-bottom:4px !Important;
}
h1.logoheading {
    line-height: 50px !important;
}
form input[type='text'] {
    height:auto !important;
}
.editor_atto_wrap {
    float:left !important;
}
.paging{
    left: 433px !important;
    margin: 0 auto !important;
    position: absolute !important;
    top: 550px !important;
    font-size: 20px;
}
.paging span.current-page {
    background-color: #1daef3;
    padding: 10px;
}

/*  logo */

.logo {
	
	background-color:#2D3339 !important;
}

/* for my board page 3rd sept */
.pagelayout-myboard  .block .header h2 {
	color: #fff;
}
.pagelayout-myboard  .block  a {
	color: #fff;
}
.pagelayout-myboard  .block .block_action img {
display:none !important;
}
.pagelayout-myboard .block {
background:#2D3339 !important;
color:#fff !important;
border-radius: 0px;
border: 0px;
padding-bottom: 20px;

}

.pagelayout-myboard #block-region-side-pre {
background:#2D3339 !important;
}
/* end of myboard */

/* for my dashboard page 3rd sept */
.pagelayout-mydashboard  .block .header h2 {
	color: #fff;
}
.pagelayout-mydashboard  .block  a {
	color: #fff;
}
.pagelayout-mydashboard  .block .block_action img {
display:none !important;
}
.pagelayout-mydashboard .block {
background:#2D3339 !important;
color:#fff !important;
border-radius: 0px;
border: 0px;
padding-bottom: 20px;

}

.pagelayout-mydashboard #block-region-side-pre {
background:#2D3339 !important;
}
/* end of myboard */

body.allpagesbackgroundimage #page-area {
	
	margin-bottom:50px;
}

/* this is copied from browsestyle.css for mydashboard tabs  3rd august */
.nav-tabs > li {display:block!important;}
.user-details{padding:4px;width:75%;}
.category-heading{
    padding: 3px;
    width: 71%;
    text-align: left;
    margin-left: 21px;}
.nav-list li a{height:auto!important;}
.pagination li.active{width: 20px;
  text-align: center;
  background: #30ADD1;}
ul.nav.nav-tabs{
        padding-left: 0px;
}


ul.nav-tabs li {
	margin: 0;
	border-top: 0px solid #ddd;
}

ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover {
	color: #fff;
	background: #0088cc;
	border: 1px solid #0088cc;
}
ul.nav-tabs li:first-child a {
	border-radius: 4px 4px 0 0;
}

ul.nav-tabs.affix {
	top: 75px; /* set the top position of pinned element */
}

/* for settings block GO button */
.block_settings .btn-default {
padding: 0px 4px;
font-size: 22px;
margin: 0px 0px 2px 4px;
}
/*addiox style for header*/
nav.navbar .navbar-nav .dropdown-menu{
        background-color: #FDFFFF!important;
}
nav.navbar .navbar-nav .dropdown-menu li a:hover{
        background-color: #FCFEFE!important;
            color: #64bc62!important;
}
nav.navbar .navbar-nav li a:hover{color:#64bc62;}

#region-main-fmubeta::after, #region-main-fmubeta::before{
    background:#fff!important;
}

.block_htmlfooter ul li {
margin-bottom: 0px !important;
    }
#block-region-page-bottom {
    height: 350px !important;
}