/*!
 * Yamm!3
 * Yet another megamenu for Bootstrap
 * http://geedmo.github.com/yamm3
 *
 * Demo styles
 */

/* layout */
body {
  padding-bottom: 40px;
  color: #666;
}
pre { margin: 0; padding: 10px 20px !important;}

footer {
  margin-top: 200px;
}


/* menu styes */
.list-unstyled,
.list-unstyled ul { 
  min-width: 120px;
  min-height: 112px
   }

@media ( min-width: 767px ) {
  .panel-group { width: 400px; }
  .thumbnail { margin: 0; }
}

/* Grid demo styles */
.grid-demo {
  padding: 10px 30px;
}

  .grid-demo [class*="col-"] {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
    text-align: center;
    line-height: 2;
    background-color: #e5e1ea;
    border: 1px solid #d1d1d1;
  }
/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: 20px 30px;
}
.font-bold{
  font-weight: bold;
}
.aligncenter{
  display:table;
  margin:0 auto;
  max-width: 75%;
  text-align: left;
}
.displaycount{
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    
}
.color-grey{
 background-color: #E5E1EA;
}
.mrg0{
  margin:0px !important;
}
nav.navbar .navbar-nav .usermenu li a {

  line-height: 0px;
  padding: 0px;
} 
nav.navbar .navbar-nav .categorymenu li a {
 padding: 0px;
 border-bottom:0px solid !important;

}
nav.navbar .navbar-nav .usermenu li a::after {
content:none !important;
}
nav.navbar .navbar-nav .categorymenu li a::after {
content:none !important;
}
