*
{
    -webkit-box-sizing: border-box                            ;-moz-box-sizing: border-box;box-sizing: border-box;
}*:before,
*:after
{
    -webkit-box-sizing: border-box                            ;-moz-box-sizing: border-box;box-sizing: border-box;
}html
{
    font-size: 10px;-webkit-tap-highlight-color: rgba(0,0,0,0);
}body
{
    font-family: [[setting:bodyfont]] 'Cabin','Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 14px;line-height: 1.42857143;color: #1f4d87;background-color: #fff;
}input,
button,
select,
textarea
{
    font-family: inherit;font-size: inherit;line-height: inherit;
}a
{text-decoration: none;

    color: #1f4d87;
}a:hover,
a:focus
{text-decoration: underline;

    color: #112a49;
}a:focus
{
    outline: thin dotted                ;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;
}figure
{
    margin: 0;
}img
{
    vertical-align: middle;
}.img-responsive,
.thumbnail > img,
.thumbnail a > img
{
    display: block;max-width: 100%;height: auto;
}.img-rounded
{
    border-radius: 6px;
}.img-thumbnail
{line-height: 1.42857143;display: inline-block;max-width: 100%;height: auto;
    padding: 4px;-webkit-transition: all .2s ease-in-out;-o-transition: all .2s ease-in-out;transition: all .2s ease-in-out;border: 1px solid #1f4d87;border-radius: 4px;background-color: #fff;
}.img-circle
{
    border-radius: 50%;
}hr
{
    margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 1px solid #2d70c5;
}.sr-only
{
    position: absolute;overflow: hidden;clip: rect(0, 0, 0, 0);width: 1px;height: 1px;margin: -1px;padding: 0;border: 0;
}.sr-only-focusable:active,
.sr-only-focusable:focus
{
    position: static;overflow: visible;clip: auto;width: auto;height: auto;margin: 0;
}[role='button']
{
    cursor: pointer;
}h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6
{
    font-family: [[setting:headingfont]] 'Railway','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight: 500;line-height: 1.1;color: inherit;
}h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small
{
    font-weight: normal;line-height: 1;color: #2965b0;
}h1,
.h1,
h2,
.h2,
h3,
.h3
{
    margin-top: 20px;margin-bottom: 10px;
}h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small
{
    font-size: 65%;
}h4,
.h4,
h5,
.h5,
h6,
.h6
{
    margin-top: 10px;margin-bottom: 10px;
}h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small
{
    font-size: 75%;
}h1,
.h1
{
    font-size: 36px;
}h2,
.h2
{
    font-size: 30px;
}h3,
.h3
{
    font-size: 24px;
}h4,
.h4
{
    font-size: 18px;
}h5,
.h5
{
    font-size: 14px;
}h6,
.h6
{
    font-size: 12px;
}p
{
    margin: 0 0 10px;
}.lead
{font-size: 16px;font-weight: 300;line-height: 1.4;

    margin-bottom: 20px;
}@media (min-width:768px)
{
    .lead
    {
        font-size: 21px;
    }
}small,
.small
{
    font-size: 85%;
}mark,
.mark
{padding: .2em;

    background-color: #fcf8e3;
}.text-left
{
    text-align: left;
}.text-right
{
    text-align: right;
}.text-center
{
    text-align: center;
}.text-justify
{
    text-align: justify;
}.text-nowrap
{
    white-space: nowrap;
}.text-lowercase
{
    text-transform: lowercase;
}.text-uppercase
{
    text-transform: uppercase;
}.text-capitalize
{
    text-transform: capitalize;
}.text-muted
{
    color: #2965b0;
}.text-primary
{
    color: #1f4d87;
}a.text-primary:hover,
a.text-primary:focus
{
    color: #15355e;
}.text-success
{
    color: #3c763d;
}a.text-success:hover,
a.text-success:focus
{
    color: #2b542c;
}.text-info
{
    color: #31708f;
}a.text-info:hover,
a.text-info:focus
{
    color: #245269;
}.text-warning
{
    color: #8a6d3b;
}a.text-warning:hover,
a.text-warning:focus
{
    color: #66512c;
}.text-danger
{
    color: #a94442;
}a.text-danger:hover,
a.text-danger:focus
{
    color: #843534;
}.bg-primary
{
    color: #fff;background-color: #1f4d87;
}a.bg-primary:hover,
a.bg-primary:focus
{
    background-color: #15355e;
}.bg-success
{
    background-color: #dff0d8;
}a.bg-success:hover,
a.bg-success:focus
{
    background-color: #c1e2b3;
}.bg-info
{
    background-color: #d9edf7;
}a.bg-info:hover,
a.bg-info:focus
{
    background-color: #afd9ee;
}.bg-warning
{
    background-color: #fcf8e3;
}a.bg-warning:hover,
a.bg-warning:focus
{
    background-color: #f7ecb5;
}.bg-danger
{
    background-color: #f2dede;
}a.bg-danger:hover,
a.bg-danger:focus
{
    background-color: #e4b9b9;
}.page-header
{margin: 40px 0 20px;
    padding-bottom: 9px;border-bottom: 1px solid #2d70c5;
}ul,
ol
{
    margin-top: 0;margin-bottom: 10px;
}ul ul,
ol ul,
ul ol,
ol ol
{
    margin-bottom: 0;
}.list-unstyled
{
    padding-left: 0;list-style: none;
}.list-inline
{margin-left: -5px;
    padding-left: 0;list-style: none;
}.list-inline > li
{
    display: inline-block;padding-right: 5px;padding-left: 5px;
}dl
{
    margin-top: 0;margin-bottom: 20px;
}dt,
dd
{
    line-height: 1.42857143;
}dt
{
    font-weight: bold;
}dd
{
    margin-left: 0;
}@media (min-width:768px)
{
    .dl-horizontal dt
    {
        float: left;clear: left;overflow: hidden;width: 160px;text-align: right;white-space: nowrap;text-overflow: ellipsis;
    }.dl-horizontal dd
    {
        margin-left: 180px;
    }
}abbr[title],
abbr[data-original-title]
{
    cursor: help;border-bottom: 1px dotted #2965b0;
}.initialism
{
    font-size: 90%;text-transform: uppercase;
}blockquote
{font-size: 17.5px;margin: 0 0 20px;
    padding: 10px 20px;border-left: 5px solid #2d70c5;
}blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child
{
    margin-bottom: 0;
}blockquote footer,
blockquote small,
blockquote .small
{font-size: 80%;line-height: 1.42857143;

    display: block;color: #2965b0;
}blockquote footer:before,
blockquote small:before,
blockquote .small:before
{
    content: '\2014 \00A0';
}.blockquote-reverse,
blockquote.pull-right
{
    padding-right: 15px;padding-left: 0;text-align: right;border-right: 5px solid #2d70c5;border-left: 0;
}.blockquote-reverse footer:before,
blockquote.pull-right footer:before,
.blockquote-reverse small:before,
blockquote.pull-right small:before,
.blockquote-reverse .small:before,
blockquote.pull-right .small:before
{
    content: '';
}.blockquote-reverse footer:after,
blockquote.pull-right footer:after,
.blockquote-reverse small:after,
blockquote.pull-right small:after,
.blockquote-reverse .small:after,
blockquote.pull-right .small:after
{
    content: '\00A0 \2014';
}address
{font-style: normal;line-height: 1.42857143;

    margin-bottom: 20px;
}code,
kbd,
pre,
samp
{
    font-family: Menlo,Monaco,Consolas,'Courier New',monospace;
}code
{font-size: 90%;

    padding: 2px 4px;color: #1a4172;border-radius: 4px;background-color: #e3f2ff;
}kbd
{font-size: 90%;

    padding: 2px 4px;color: #fff;border-radius: 3px;background-color: #333;box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}kbd kbd
{font-size: 100%;font-weight: bold;

    padding: 0;box-shadow: none;
}pre
{font-size: 13px;line-height: 1.42857143;

    display: block;margin: 0 0 10px;padding: 9.5px;word-wrap: break-word;word-break: break-all;color: #15355e;border: 1px solid #c9e6ff;border-radius: 4px;background-color: #e3f2ff;
}pre code
{font-size: inherit;

    padding: 0;white-space: pre-wrap;color: inherit;border-radius: 0;background-color: transparent;
}.pre-scrollable
{overflow-y: scroll;

    max-height: 340px;
}table
{
    background-color: transparent;
}caption
{
    padding-top: 8px;padding-bottom: 8px;text-align: left;color: #2965b0;
}th
{
    text-align: left;
}.table
{
    width: 100%;max-width: 100%;margin-bottom: 20px;
}.table > thead > tr>th,
.table > tbody > tr>th,
.table > tfoot > tr>th,
.table > thead > tr>td,
.table > tbody > tr>td,
.table > tfoot > tr>td
{line-height: 1.42857143;

    padding: 8px;vertical-align: top;border-top: 1px solid #c9e6ff;
}.table > thead > tr>th
{
    vertical-align: bottom;border-bottom: 2px solid #c9e6ff;
}.table > caption + thead > tr:first-child>th,
.table > colgroup + thead > tr:first-child>th,
.table > thead:first-child > tr:first-child>th,
.table > caption + thead > tr:first-child>td,
.table > colgroup + thead > tr:first-child>td,
.table > thead:first-child > tr:first-child>td
{
    border-top: 0;
}.table > tbody + tbody
{
    border-top: 2px solid #c9e6ff;
}.table .table
{
    background-color: #fff;
}.table-condensed > thead > tr>th,
.table-condensed > tbody > tr>th,
.table-condensed > tfoot > tr>th,
.table-condensed > thead > tr>td,
.table-condensed > tbody > tr>td,
.table-condensed > tfoot > tr>td
{
    padding: 5px;
}.table-bordered
{
    border: 1px solid #c9e6ff;
}.table-bordered > thead > tr>th,
.table-bordered > tbody > tr>th,
.table-bordered > tfoot > tr>th,
.table-bordered > thead > tr>td,
.table-bordered > tbody > tr>td,
.table-bordered > tfoot > tr>td
{
    border: 1px solid #c9e6ff;
}.table-bordered > thead > tr>th,
.table-bordered > thead > tr>td
{
    border-bottom-width: 2px;
}.table-striped > tbody > tr:nth-of-type(odd)
{
    background-color: #e3f2ff;
}.table-hover > tbody > tr:hover
{
    background-color: #c9e6ff;
}table col[class*='col-']
{
    position: static;display: table-column;float: none;
}table td[class*='col-'],
table th[class*='col-']
{
    position: static;display: table-cell;float: none;
}.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active>td,
.table > tbody > tr.active>td,
.table > tfoot > tr.active>td,
.table > thead > tr.active>th,
.table > tbody > tr.active>th,
.table > tfoot > tr.active>th
{
    background-color: #c9e6ff;
}.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover>td,
.table-hover > tbody > tr:hover>.active,
.table-hover > tbody > tr.active:hover>th
{
    background-color: #afdaff;
}.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success>td,
.table > tbody > tr.success>td,
.table > tfoot > tr.success>td,
.table > thead > tr.success>th,
.table > tbody > tr.success>th,
.table > tfoot > tr.success>th
{
    background-color: #dff0d8;
}.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover>td,
.table-hover > tbody > tr:hover>.success,
.table-hover > tbody > tr.success:hover>th
{
    background-color: #d0e9c6;
}.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info>td,
.table > tbody > tr.info>td,
.table > tfoot > tr.info>td,
.table > thead > tr.info>th,
.table > tbody > tr.info>th,
.table > tfoot > tr.info>th
{
    background-color: #d9edf7;
}.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover>td,
.table-hover > tbody > tr:hover>.info,
.table-hover > tbody > tr.info:hover>th
{
    background-color: #c4e3f3;
}.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning>td,
.table > tbody > tr.warning>td,
.table > tfoot > tr.warning>td,
.table > thead > tr.warning>th,
.table > tbody > tr.warning>th,
.table > tfoot > tr.warning>th
{
    background-color: #fcf8e3;
}.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover>td,
.table-hover > tbody > tr:hover>.warning,
.table-hover > tbody > tr.warning:hover>th
{
    background-color: #faf2cc;
}.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger>td,
.table > tbody > tr.danger>td,
.table > tfoot > tr.danger>td,
.table > thead > tr.danger>th,
.table > tbody > tr.danger>th,
.table > tfoot > tr.danger>th
{
    background-color: #f2dede;
}.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover>td,
.table-hover > tbody > tr:hover>.danger,
.table-hover > tbody > tr.danger:hover>th
{
    background-color: #ebcccc;
}.table-responsive
{
    overflow-x: auto;min-height: .01%;
}@media screen and (max-width:767px)
{
    .table-responsive
    {overflow-y: hidden;

        width: 100%;margin-bottom: 15px;border: 1px solid #c9e6ff;-ms-overflow-style: -ms-autohiding-scrollbar;
    }.table-responsive > .table
    {
        margin-bottom: 0;
    }.table-responsive > .table > thead > tr>th,
    .table-responsive > .table > tbody > tr>th,
    .table-responsive > .table > tfoot > tr>th,
    .table-responsive > .table > thead > tr>td,
    .table-responsive > .table > tbody > tr>td,
    .table-responsive > .table > tfoot > tr>td
    {
        white-space: nowrap;
    }.table-responsive > .table-bordered
    {
        border: 0;
    }.table-responsive > .table-bordered > thead > tr>th:first-child,
    .table-responsive > .table-bordered > tbody > tr>th:first-child,
    .table-responsive > .table-bordered > tfoot > tr>th:first-child,
    .table-responsive > .table-bordered > thead > tr>td:first-child,
    .table-responsive > .table-bordered > tbody > tr>td:first-child,
    .table-responsive > .table-bordered > tfoot > tr>td:first-child
    {
        border-left: 0;
    }.table-responsive > .table-bordered > thead > tr>th:last-child,
    .table-responsive > .table-bordered > tbody > tr>th:last-child,
    .table-responsive > .table-bordered > tfoot > tr>th:last-child,
    .table-responsive > .table-bordered > thead > tr>td:last-child,
    .table-responsive > .table-bordered > tbody > tr>td:last-child,
    .table-responsive > .table-bordered > tfoot > tr>td:last-child
    {
        border-right: 0;
    }.table-responsive > .table-bordered > tbody > tr:last-child>th,
    .table-responsive > .table-bordered > tfoot > tr:last-child>th,
    .table-responsive > .table-bordered > tbody > tr:last-child>td,
    .table-responsive > .table-bordered > tfoot > tr:last-child>td
    {
        border-bottom: 0;
    }
}.well
{
    min-height: 20px;margin-bottom: 20px;padding: 19px;border: 1px solid #e3e3e3;border-radius: 4px;background-color: #f5f5f5;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}.well blockquote
{
    border-color: #ddd        ;border-color: rgba(0,0,0,.15);
}.well-lg
{
    padding: 24px;border-radius: 6px;
}.well-sm
{
    padding: 9px;border-radius: 3px;
}.btn
{font-size: 14px;font-weight: normal;line-height: 1.42857143;

    display: inline-block;margin-bottom: 0;padding: 6px 12px;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;text-align: center;vertical-align: middle;white-space: nowrap;border: 1px solid transparent;border-radius: 4px;background-image: none;touch-action: manipulation;
}.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus
{
    outline: thin dotted                ;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px;
}.btn:hover,
.btn:focus,
.btn.focus
{text-decoration: none;

    color: #1f4d87;
}.btn:active,
.btn.active
{
    outline: 0;background-image: none;-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn
{
    cursor: not-allowed;opacity: .65;-webkit-box-shadow: none;box-shadow: none;filter: alpha(opacity=65);
}a.btn.disabled,
fieldset[disabled] a.btn
{
    pointer-events: none;
}.btn-default
{
    color: #1f4d87;border-color: #1f4d87;background-color: #c9e6ff;
}.btn-default:focus,
.btn-default.focus
{
    color: #1f4d87;border-color: #07121f;background-color: #96ceff;
}.btn-default:hover
{
    color: #1f4d87;border-color: #143155;background-color: #96ceff;
}.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default
{
    color: #1f4d87;border-color: #143155;background-color: #96ceff;
}.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus
{
    color: #1f4d87;border-color: #07121f;background-color: #72beff;
}.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default
{
    background-image: none;
}.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active
{border-color: #1f4d87;
    background-color: #c9e6ff;
}.btn-default .badge
{
    color: #c9e6ff;background-color: #1f4d87;
}.btn-primary
{
    color: #1f4d87;border-color: #afdaff;background-color: #c9e6ff;
}.btn-primary:focus,
.btn-primary.focus
{
    color: #1f4d87;border-color: #309fff;background-color: #96ceff;
}.btn-primary:hover
{
    color: #1f4d87;border-color: #72beff;background-color: #96ceff;
}.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary
{
    color: #1f4d87;border-color: #72beff;background-color: #96ceff;
}.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus
{
    color: #1f4d87;border-color: #309fff;background-color: #72beff;
}.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary
{
    background-image: none;
}.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active
{border-color: #afdaff;
    background-color: #c9e6ff;
}.btn-primary .badge
{
    color: #c9e6ff;background-color: #1f4d87;
}.btn-success
{
    color: #fff;border-color: #4cae4c;background-color: #5cb85c;
}.btn-success:focus,
.btn-success.focus
{
    color: #fff;border-color: #255625;background-color: #449d44;
}.btn-success:hover
{
    color: #fff;border-color: #398439;background-color: #449d44;
}.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success
{
    color: #fff;border-color: #398439;background-color: #449d44;
}.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus
{
    color: #fff;border-color: #255625;background-color: #398439;
}.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success
{
    background-image: none;
}.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active
{border-color: #4cae4c;
    background-color: #5cb85c;
}.btn-success .badge
{
    color: #5cb85c;background-color: #fff;
}.btn-info
{
    color: #fff;border-color: #46b8da;background-color: #5bc0de;
}.btn-info:focus,
.btn-info.focus
{
    color: #fff;border-color: #1b6d85;background-color: #31b0d5;
}.btn-info:hover
{
    color: #fff;border-color: #269abc;background-color: #31b0d5;
}.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info
{
    color: #fff;border-color: #269abc;background-color: #31b0d5;
}.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus
{
    color: #fff;border-color: #1b6d85;background-color: #269abc;
}.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info
{
    background-image: none;
}.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active
{border-color: #46b8da;
    background-color: #5bc0de;
}.btn-info .badge
{
    color: #5bc0de;background-color: #fff;
}.btn-warning
{
    color: #fff;border-color: #eea236;background-color: #f0ad4e;
}.btn-warning:focus,
.btn-warning.focus
{
    color: #fff;border-color: #985f0d;background-color: #ec971f;
}.btn-warning:hover
{
    color: #fff;border-color: #d58512;background-color: #ec971f;
}.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning
{
    color: #fff;border-color: #d58512;background-color: #ec971f;
}.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus
{
    color: #fff;border-color: #985f0d;background-color: #d58512;
}.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning
{
    background-image: none;
}.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active
{border-color: #eea236;
    background-color: #f0ad4e;
}.btn-warning .badge
{
    color: #f0ad4e;background-color: #fff;
}.btn-danger
{
    color: #fff;border-color: #d43f3a;background-color: #d9534f;
}.btn-danger:focus,
.btn-danger.focus
{
    color: #fff;border-color: #761c19;background-color: #c9302c;
}.btn-danger:hover
{
    color: #fff;border-color: #ac2925;background-color: #c9302c;
}.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger
{
    color: #fff;border-color: #ac2925;background-color: #c9302c;
}.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus
{
    color: #fff;border-color: #761c19;background-color: #ac2925;
}.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger
{
    background-image: none;
}.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active
{border-color: #d43f3a;
    background-color: #d9534f;
}.btn-danger .badge
{
    color: #d9534f;background-color: #fff;
}.btn-link
{font-weight: normal;

    color: #1f4d87;border-radius: 0;
}.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link
{
    background-color: transparent;-webkit-box-shadow: none;box-shadow: none;
}.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active
{
    border-color: transparent;
}.btn-link:hover,
.btn-link:focus
{text-decoration: underline;

    color: #112a49;background-color: transparent;
}.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus
{text-decoration: none;

    color: #2d70c5;
}.btn-lg
{font-size: 18px;line-height: 1.33;

    padding: 10px 16px;border-radius: 6px;
}.btn-sm
{font-size: 12px;line-height: 1.5;

    padding: 5px 10px;border-radius: 3px;
}.btn-xs
{font-size: 12px;line-height: 1.5;

    padding: 1px 5px;border-radius: 3px;
}.btn-block
{
    display: block;width: 100%;
}.btn-block + .btn-block
{
    margin-top: 5px;
}input[type='submit'].btn-block,
input[type='reset'].btn-block,
input[type='button'].btn-block
{
    width: 100%;
}.alert
{margin-bottom: 20px;
    padding: 15px;border: 1px solid transparent;border-radius: 4px;
}.alert h4
{
    margin-top: 0;color: inherit;
}.alert .alert-link
{
    font-weight: bold;
}.alert > p,
.alert > ul
{
    margin-bottom: 0;
}.alert > p + p
{
    margin-top: 5px;
}.alert-dismissable,
.alert-dismissible
{
    padding-right: 35px;
}.alert-dismissable .close,
.alert-dismissible .close
{
    position: relative;top: -2px;right: -21px;color: inherit;
}.alert-success
{color: #3c763d;border-color: #d6e9c6;
    background-color: #dff0d8;
}.alert-success hr
{
    border-top-color: #c9e2b3;
}.alert-success .alert-link
{
    color: #2b542c;
}.alert-info
{color: #31708f;border-color: #bce8f1;
    background-color: #d9edf7;
}.alert-info hr
{
    border-top-color: #a6e1ec;
}.alert-info .alert-link
{
    color: #245269;
}.alert-warning
{color: #8a6d3b;border-color: #faebcc;
    background-color: #fcf8e3;
}.alert-warning hr
{
    border-top-color: #f7e1b5;
}.alert-warning .alert-link
{
    color: #66512c;
}.alert-danger
{color: #a94442;border-color: #ebccd1;
    background-color: #f2dede;
}.alert-danger hr
{
    border-top-color: #e4b9c0;
}.alert-danger .alert-link
{
    color: #843534;
}.thumbnail
{line-height: 1.42857143;

    display: block;margin-bottom: 20px;padding: 4px;-webkit-transition: border .2s ease-in-out;-o-transition: border .2s ease-in-out;transition: border .2s ease-in-out;border: 1px solid #1f4d87;border-radius: 4px;background-color: #fff;
}.thumbnail > img,
.thumbnail a > img
{margin-right: auto;
    margin-left: auto;
}a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active
{
    border-color: #1f4d87;
}.thumbnail .caption
{
    padding: 9px;color: #1f4d87;
}.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after
{display: table;

    content: ' ';
}.clearfix:after,
.dl-horizontal dd:after
{
    clear: both;
}.center-block
{
    display: block;margin-right: auto;margin-left: auto;
}.pull-right
{
    float: right !important;
}.pull-left
{
    float: left !important;
}.hide
{
    display: none !important;
}.show
{
    display: block !important;
}.invisible
{
    visibility: hidden;
}.text-hide
{
    font: 0/0 a;color: transparent;border: 0;background-color: transparent;text-shadow: none;
}.hidden
{
    display: none !important;
}.affix
{
    position: fixed;
}body
{
    margin: 8px;
}
