/* This file is part of Moodle - http://moodle.org/
 *
 * Moodle is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Moodle is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
 */

/**
 * Local font(s) for the fmubeta theme where there is no CDN alternativeS.
 *
 * @package    theme.
 * @subpackage fmubeta.
 * @version    See the value of '$plugin->version' in version.php.
 * @copyright  &copy; 2014-onwards Gareth J Barnard.
 * @author     G J Barnard - gjbarnard at gmail dot com and {@link http://moodle.org/user/profile.php?id=442195}
 * @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later.
 */

@charset "UTF-8";

@font-face {
  font-family: 'Railway'; 
  font-weight: 400;
  font-style: normal;
  src: url('[[font:theme|Railway.otf]]');
}