/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
  position: static;
}
.yamm .container {
  position: relative;
}
.yamm .dropdown-menu {
  left: auto;
}
.yamm .yamm-content {
  padding: 20px 30px !important;
}
.mycontent {

   padding: 20px 30px !important;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0 !important;
  right: 0 !important;
}
.usermenu{
  min-width:450px !important;
  right:0 !important;
  left: auto !important;
  border: 1px solid #FFD564;
}
.categorymenu{
  min-width:450px !important;
  border: 1px solid #FFD564;
}
.minht168{
    min-height: 210px;
}
.padT10{
    padding-top:10px;
}
.enrolled{
    background-color:#D25656;
    color: #FFFFFF;
    font-size: 15px;
}
.nobullets{
      list-style: none;
    text-align: left;
}
.pad0{
  padding:0;
}
.padR9{
  padding-right: 9px;
}
.border1{
  border-bottom: 1px solid
}
.txtcenter{
  text-align:center;
}