body{
    background: none;
    padding-top: 0px;
   
    font-size: 15px;
}
.block{
    background:transparent none repeat scroll 0% 0%; 
}
a:hover{
    color:#08C;
}
#page-footer{
    border-top: none;
}
.navbar .dropdown-menu{
    border-bottom: none;
}
.block .header .title h2{
    color:#649741;
}
.socials-header .socials{
    background-color: transparent;
    border-bottom: none;
}
.footerlinks{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
#page-footer .content a, #page-footer .footerlinks a{
    color:white;
}
#page-footer .content a:hover, #page-footer .footerlinks a:hover{
    color: #649741;
}
#page-footer .footnote{
    color:black;
}