form#enrol_courseapproval_manage_form tr {
    border-left: 3px solid transparent;
}

form#enrol_courseapproval_manage_form tr.enrol_courseapproval_waitinglist_highlight {
    border-color: grey;
}

.formaction {
    text-align: center;
}
