<!-- No config needed -->
<?php
    // set to defaults if undefined
    if (!isset($config->baseurl)) {
        $config->baseurl = '';
    }
    if (!isset($config->service)) {
        $config->service = '';
    }
    if (!isset($config->workingkey)) {
        $config->service = '';
    }

?>

<table cellspacing="0" cellpadding="5" border="0">
<tr>
   <td colspan="3">
        <h2 class="main"><?php print_string('auth_emailsettings', 'auth_email') ?> </h2>
   </td>
</tr>
<tr>
    <td align="right"><label for="menurecaptcha"><?php print_string('baseurl', 'auth_otplogin') ?></label></td>
    <td><?php
        global $OUTPUT;
        echo html_writer::empty_tag('input',array('name' =>'baseurl', 'value' => $config->baseurl));
        ?></td>
    <td><?php print_string('baseurltext', 'auth_otplogin') ?></td>
</tr>
<tr>
    <td align="right"><label for="menurecaptcha"><?php print_string('service', 'auth_otplogin') ?></label></td>
    <td><?php
        global $OUTPUT;
        echo html_writer::empty_tag('input',array('name' =>'service', 'value' => $config->service));
        ?></td>
    <td><?php print_string('servicetext', 'auth_otplogin') ?></td>
</tr>
<tr>
    <td align="right"><label for="menurecaptcha"><?php print_string('workingkey', 'auth_otplogin') ?></label></td>
    <td><?php
        global $OUTPUT;
        echo html_writer::empty_tag('input',array('name' =>'workingkey', 'value' => $config->workingkey));
        ?></td>
    <td><?php print_string('workingkeytext', 'auth_otplogin') ?></td>
</tr>

</table>
