.block_whoweare .content  #owl-services  .service-item  .rounded-icon {

    padding-top: 20px!important;
}
.block_whoweare .content hr {
     margin: auto !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border:1px solid rgba(255, 255, 255, 0.37)!important;
}
.block_whoweare , .block_whoweare #parallax4{

    background-color: rgb(93, 190, 89)!important;

	}
.mrgT5PC{
margin-top:5%!important;
}
.mrgB5PC{
margin-bottom:5%!important;
}
.block_whoweare {

  margin-top:0%!important;

	}
.block_whoweare .content #owl-services .service-item .rounded-icon{
    padding-top: 30px!important;
    border: 2px solid #fff;
    border-radius: 50px;
    background-color: #ffffff;
    width: 100px;
    height: 100px;
    margin-left: 30%;
}
.rounded-icon .fa{font-size:42px!important;}
.section-title {color:#fff;padding-bottom:35px;}
.section-title h4{color:#fff!important;font-size:24px!important;}
.service-desc {color:#fff!important;padding:15px;text-align: left;}
.service-desc h4{text-align: center;}
