/* Custom CSS
-------------------------*/
body {
	font-size:13px;
}
a.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
  display: block;
float: left;
height: 50px;
margin-left: 15px;
padding: 0px;
width: 75%;
}
a.logo1 {
    background: url([[setting:logo]]) no-repeat 0 0;
  display: block;

height: 30px;
float: left !important;
padding: 0px;
width: 75%;
background-size: auto 30px;
}
div.logo {
    background: url([[setting:logo]]) no-repeat 0 0;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
    width: 100%;
}


.dir-rtl a.logo {
    background: url([[setting:logo]]) no-repeat 100% 0;
    display: block;
    float: right;
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]


..block{background-image:url([[pix:theme|block]]); }
#header2{
  background-color:white;  
}
#head{
    display: table;
    margin:0 auto;
    padding: 10px;
  }
 #elearn1{
    background-color:white;
 } 
 #learn1{
    display: table;
    
 }
 #learn2{
    display: table;
    
 }
 #learn3{
    display: table;
    
 }
 #learn4{
    display: table;
 }
.row1{
    background-color: red;
}
.row21{
    background-color: green;
}
.row22{
    background-color: blue;
}
.row23{
    background-color: red;
}
.row24{
    background-color: yellow;
}
..row31{
    background-color: red;
}
..row32{
    background-color: aqua;
}
.pannel3{
    text-align:center;
    padding-left:150px;
    padding-right:15    0px;
}
.pannel1{
    text-align:center;
    padding: 50px;
}

/* Custom CSS
siddharth change this file. Dt-22dec2015 */
 .navbar{
    background: #DDDCFC none repeat scroll 0px 0px;
    border-bottom: 7px solid #722885;
}
.navbar-inner {
    background-image: none; 
    background-color: transparent; !important;
}

#page-footer{
    background: #DDDCFC none repeat scroll 0px 0px;
    border-top: 2px solid #722885;
    padding: 1px 0px!important;
}
.block .header h2{
    border-bottom: 2px solid #722885;
}
.block{
min-height: 20px;
padding: 8px 0px;
margin-bottom: 20px;
background-color: transparent;
border: none;
border-radius: none;
box-shadow: none;

}
#block-region-side-post{
  border: 1px solid #DDDCFC;
  border-radius: 10px;
  margin-top: 25px;
  padding: 10px;
  margin-left: 25px;
}
.breadcrumb{
    background-color: transparent;
    
}
.instancename{
  
    color:#7A297A;
}
.breadcrumb > li > a {
color: #7A297A;
}
.availabilityinfo{
    display:none;
}
a.dimmed{
    color: #7A297A;
}
a.dimmed:link{
    color: #7A297A;
}
.qn-question{
    margin-left:3%;
}
.item-content-wrap:hover{
    text-decoration: underline;
}
.logininfo{
   float: right;
   font-size: 11px;
   margin-right: 40px;
}
.sitelink{
    margin-top: -2%;
    margin-left: -70%;
}
#page-footer-copyright{
   
    padding: 0px;
    font-size: 11px;
}
.block .header h2{
    text-transform: none;
      color: #191970;
}
.block_navigation .block_tree .tree_item.branch{
     color: #191970;
}
a{
      color: #7A297A;
}
.no-overflow {
          color: #191970;

}
.page-context-header .page-header-headings h1{
     color: #191970;
}
#site-news-forum h2, #frontpage-course-list h2, #frontpage-category-names h2, #frontpage-category-combo h2{
    color: #191970;
}
h3{
    color: #191970;
	font-size:17px !important;
}
 
#page-footer-copyright .footnote  .text_to_html {
        float: left;
        padding-left: 4px;
    }

	
	/* added on 3rd Feb */
.modified { 
color: #7784bb;
Font-size: 0.85em;
margin-top: 1em;
text-align: center;
}


#page {
	width: 90%;
margin: 0px auto;
}

.breadcrumb > li > .divider {
    color: #191970;
}
.breadcrumb a.dimmed_text {
		color: #191970;
}

.breadcrumb a.dimmed_text:hover {
		color: #7A297A;
}
	/* Font colors */

h1, h2, h3, h4, h5, h6,
h1.headermain, 
h2.headingblock,
.block .title h2 {
    color: #191970;
		text-shadow: none;
}

/* Font sizes */

.inside h1.headermain {
    font-size: 1.7em;
}

h1.headermain,
h2.headingblock {
    text-shadow: none !important;
}
/* Font family */

h1, h2, h3, h4, h5, h6 {
	font-family: "Palatino" !important;
	text-indent: 0;  
}

.headingblock, .path-course-view .course-content li.section {
    border-bottom: 2px solid #722885 !important;
}



.section.current{
  background-color: #FFFFDD;
}

a.dimmed span.instancename{
  color:#7784bb;
}

.breadcrumb > li{
  color:navy;
}

.no-overflow > p{
margin: 0px 0px 10px;
font-size: 13px;
}

h1,h2,h3,h4,h5,h6{
      font-weight: bold;
    margin:10px 0px;
}

h3{
      font-size: 1.25em;
    line-height: 1;
    margin-bottom: 0.5em;
    margin-left: 14px;
    padding: 10px;
}
.box.contents>p , .no-overflow>p{
      text-indent: 2em;
}

.breadcrumb a.dimmed_text{
  color:#7A297A;
}
a.hover{
  text-decoration: underline;
}

