<div align="center">
    <p><?php print_string("paymentrequired") ?></p>
    <p><b><?php echo $instancename; ?></b></p>
    <p><b><?php echo get_string("cost").": {$instance->currency} {$localisedcost}"; ?></b></p>
    <p>
        <img  src="freshbooks/pix/icon.png" />
    </p>
    <p><?php print_string("paymentinstant") ?></p>
    <form action="<?php echo 'freshbooks/freshbooks.php';?>" method="get">
        <input type="hidden" name="instance" value="<?php echo "$instance->id"; ?>" />
        <input type="hidden" name="courseid" value="<?php echo "$course->id" ?>" />
        <input type="submit" value="<?php print_string("sendpaymentbutton", "enrol_freshbooks") ?>" />
    </form>
</div>
