.block_popularcourses h2 {
text-align: left;
  font-size: 28px !important;
  line-height: 50px !important;
  text-transform: none !important;
  padding-top: 20px !important;

  font-weight: 700 !important;
}

.block_popularcourses .popularline {
    position: absolute;
    height: 3px;
    background-color: rgb(188, 193, 187);
    width: 43px;
}


.popular-slick  {
margin-top: 40px;
}
.popular-slick .course-title{padding:5px;}
.popular-slick .inner-course{
    padding-bottom: 10px;
    
}
.popular-slick .coursename {
    font-weight: normal;
    font-weight: 700;
    font-size: 16px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 13px;
    border: 1px solid #ccc;
    text-align: left;
    padding-top: 10px;
    padding-left: 8px;
}
.course-details-span span {
  margin-right: 20px;
  position: relative;
}
.statuser {
/* width:50%;
float:right; */
  border: 1px solid #ccc;
}
.courseimage {
/* width:50%;
float:left; */
}
.allbelow{
border: 1px solid #ccc;
  padding-bottom: 8px;
  border-top: 0px;
  }
.popular-slick .coursebox{
border:none !important;
}
.firstdiv {
height:150px;}

.usrlist li {
padding: 10px 0;
}
.usrlist li p a {
margin: 0 6px 0 12px;
}

.usrlist li p span {
color: #36ac65;
margin: 0 6px 0 12px;
}

.usrlist li span {
margin: 0 6px 0 12px;
}

ul {
list-style: none;
padding: 0;
margin-top: 0;
margin-bottom: 0;
}
.crspopular{
border:1px solid #ccc;
max-height:200px;
min-height:200px;
}

#imglink{width:30%;float:left;padding-right:10px;}
.col-sm-6.col-md-12 ul{padding:0px!important;}
/*added by nihar*/
.popular-slick .inner-course {
  float:left;
}