/* ======= Home Page ======= */
#page-site-index h1.section-heading {
  font-size: 22px;
  font-weight: 300;
  line-height: 2;
  margin-top: 0;
}
#page-site-index section {
  overflow: hidden;
  margin-bottom: 30px;
}
#page-site-index .section-content {
  padding: 15px;
  padding-top: 0;
}
#page-site-index .carousel-controls a .fa {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  background: #dddddd;
  color: #fff;
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  margin-right: 0;
  font-size: 15px;
}
#page-site-index .carousel-controls a.next .fa {
  padding-top: 2px;
  padding-right: 1px;
}
#page-site-index .carousel-controls a.prev .fa {
  padding-top: 2px;
  padding-right: 1px;
}
#page-site-index .promo {
  margin-bottom: 30px;
}
#page-site-index .promo h1.section-heading {
  margin-top: 0;
  font-size: 24px;
  color: #fff;
}
#page-site-index .promo p {
  color: #f5f5f5;
}
#page-site-index .promo .btn-cta {
  font-size: 20px;
  margin-top: 30px;
  font-family: 'Open Sans', arial, sans-serif;
}
#page-site-index .testimonials {
  position: relative;
  background: #f5f5f5;
  padding: 30px;
  min-height: 200px;
}
#page-site-index .testimonials .carousel-controls {
  position: absolute;
  right: 10px;
  top: 10px;
}
#page-site-index .testimonials .fa {
  margin-right: 10px;
  font-size: 24px;
}
#page-site-index .testimonials .carousel {
  margin-bottom: 0;
}
#page-site-index .testimonials .carousel .item .profile-container {
  text-align: center;
}
#page-site-index .testimonials .carousel .item .profile-container .profile {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #fff;
  -webkit-box-shadow: 0 0 2px #d5d5d5;
  -moz-box-shadow: 0 0 2px #d5d5d5;
  box-shadow: 0 0 2px #d5d5d5;
  border: 1px solid #e8e8e8;
  padding: 2px;
  margin: 0 auto;
}
#page-site-index .testimonials .carousel .item .profile-container .people {
  margin-top: 10px;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
#page-site-index .testimonials .carousel .item .profile-container .people .name {
  display: inline-block;
  margin-bottom: 4px;
}
#page-site-index .testimonials .carousel .item .profile-container .people .title {
  color: #999999;
  font-size: 12px;
  display: inline-block;
}
#page-site-index .testimonials .carousel .item blockquote {
  margin-bottom: 0;
  border-left: none;
}
#page-site-index .testimonials .carousel .item blockquote p {
  font-size: 22px;
  font-weight: 300;
  font-family: 'open sans', arial, sans-serif;
}
#page-site-index .awards {
  background: #fff;
}
#page-site-index .awards .logos {
  margin: 0;
  padding: 0;
}
#page-site-index .awards .logos li {
  list-style: none;
  margin-right: 0;
  text-align: center;
}
#page-site-index .awards .logos li img {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  margin: 0 auto;
}
#page-site-index .awards .logos li img:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#page-site-index .awards .carousel-control {
  background: none;
  width: auto;
  top: 20px;
  text-shadow: none;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
#page-site-index .awards .carousel-control .fa {
  color: #e8e8e8;
  font-weight: bold;
}
#page-site-index .awards .carousel-control:hover .fa {
  color: #999;
}
