#block-region-side-pre {
    padding-top: 25px;
}

div .block ul li::before {
	display: none;
}

.block {
	border: 0px solid #eee;
	padding: 5px 0px 15px;
	width: auto;
	box-shadow: none;
	background: transparent;
	border-radius: 0px;
	padding-bottom: 15px;
	background: transparent;
	box-shadow: none;
	margin-bottom: 15px;
	
	border-bottom: 0px solid #eee;
}

.block .header {
	border-bottom: 0px solid [[setting:maincolor]];
	padding: 5px 0px 7px;
	clear: both;
	position: relative;
	min-height: 35px;
}

.block .title {

}

/* block titles */
.block .header .title h2 {
	font-weight: 500;
	margin: 0 0;
	padding: 0 0;
	text-transform: none;
	font-size: 1.1em;
	margin: 0px 0px;
	background: transparent;
	clear: both;
	padding-right: 10px;
	display: inline-block;
}

div .block .header .title h2 {
	margin-bottom: 15px;
}

.block .content {
	padding: 10px 0px;
	font-weight: normal;
	font-weight: 300;
}

.block .content a {
    color: #888;
}

.block .header .block_action {
	margin: 0 0;
	background: #fff;
}

.block_login .c1.btn input {
	display: block;
	margin: 10px auto;
	text-align: center;
	width: 96%;
}



.block.firstblock .title h2, .block.firstblock .content, .block_news_items.firstblock .post .name {
	color: #fff;
}

.block.firstblock .content a, .block.firstblock .content li a, .block.firstblock .content table a {
	color: #fff;
	text-decoration: underline;
}

.block.firstblock td.hasevent, .block.firstblock td.hasevent a, .block.firstblock td.today, .block.firstblock td.today a {
	color: #333;
}

.firstblock input[type="submit"], .firstblock input[type="button"], .firstblock #searchform_button, .firstblock a.submit {
	background: [[setting:secondcolor]] !important;
	border: 1px solid rgba(0,0,0,.14);
}

/** some specific block styles for calendar block, login block, my profile block, etc. **/

.block_calendar_month table.minicalendar.calendartable td,.block_calendar_month table.minicalendar.calendartable th {
    border: none !important;
}

.block_calendar_month table.minicalendar {
    margin-bottom: 0px !important;
}

.block_calendar_month table.minicalendar.calendartable th abbr {
    border: none !important;
    text-decoration: none;
}

.block_comments div.content li {
    list-style-type: none;
}

.questionbankwindow.block {
	padding: 0px;
}

.block_tree_box hr {
	background: transparent;
	border: none;
	border-top: 1px solid #eee;
}

/*quiz editing block header */
#page-mod-quiz-edit .questionbankwindow div.header {
	background-color: #eee;
	color: inherit;
}

#page-mod-quiz-edit .questionbankwindow div.header a {
	color: inherit;
}

.block .block-hider-show, .block .block-hider-hide {
	opacity: .8;
	max-height: 15px;
}

.block .block-hider-show:hover, .block .block-hider-hide:hover {
	opacity: .8;
}

.block #login_username, .block #login_password {
    width: 94%;
}

.block .header .block_action {
	padding: 0 0;
	position: absolute;
	right: 0px;
	z-index: 9999;
}

img.block-hider-hide, img.block-hider-show, .block .header .moveto.customcommand.requiresjs, #dock .controls img {

    background: rgba(0,0,0,.15);
    padding: 3px;
    border-radius: 10px;

}