.coursebox > .info > h3.name, .course_category_tree .category > .info .name {
    font-size: 120%;
    font-weight: normal;
    margin: 0;
}

.coursebox .content {
	clear: none;
}

.coursebox {
	padding: 0 0;
	border: 0px;
	border-radius: 0px;
}

.course-content ul li.section.main {
	border: 0px;
	border-bottom: 1px solid #eee;
	padding-top: 5px;
}

.section-summary-activities.mdl-right {
	display: none;
}

.site-topic ul.section, .course-content ul.section {
	margin: 0em 1em;
}

#newdiscussionform {
	text-align: center;
}

#searchforums {
	margin: 5px 0px 5px 5px;
}

.courses .coursebox {
	background: transparent !important;
}

.course-content .current {
    background-color: #FAFAFA;
    margin-top: -5px !important;
}

.coursebox.panel {
	position: relative;
	margin-bottom: 25px;
}

.coursebox.panel:hover {
	}

.coursebox.panel .panel-body {
	border: 1px solid #fff !important;
	border-right: 0px !important;
	background: transparent !important;
	overflow: hidden;
	position: relative;
	box-shadow: none;
}

.cimbox {
	height: 135px;
	position: relative;
	margin-right: -1px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.cimbox.noim {
	background: #eee;
}

.coursebox-content {
	padding: 0px 0px 0px;
	text-align: center;
	background: transparent;
}

.coursebox-content h3 {
	text-align: left;
	font-weight: normal;
	font-size: 15px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 95%;
    margin: 0px 0px 0px;
    line-height: normal;
    padding: 15px 0px 5px;
    font-weight: 700;
    text-transform: none;
}

.coursebox-content h3 a {
	color: #222;	
}

.coursebox-content .teachers, .panel-heading {
	
}

.coursebox-content .teachers, .coursebox-content .teachers li {
	list-style-type: none;
	padding: 0 0;
	margin: 0 0;
}

.coursebox-content .teachers {
    margin-bottom: 15px;
    margin-top: 0px;
}

.coursebox-content .teachers li {
	display: block;
	font-size: 13px;
	font-weight: 300;
	font-style: italic;
	padding-left: 30px;
	padding-right: 30px;
	text-align: left;
}

.coursebox-content .teachers li a {
	color: #505050;
}

.panel .coursebtn.submit.btn {
	float: none;
	display: block;
	width: auto;
	margin: 0px auto 15px;
	padding-left: 0px;
	padding-right: 0px;
	background: transparent !important;
	border: 0px solid #eee !important;
	box-shadow: none !important;
	color: [[setting:linkcolor]];
	font-weight: 500;
	text-align: right;
	font-size: 12px;
}

.panel:hover .coursebtn.submit.btn {
	z-index: 9;
	position: relative;
}

.coursebtn .fa {
	font-size: 84%;
	font-weight: normal;
}

.coursebox.panel2 .panel-body:hover .coursebtn.submit.btn {
	box-shadow: 0px 0px 2px rgba(0,0,0,.35);
	color: #333 !important;
}

.coursebox.panel2 .panel-body:hover {
	background: [[setting:maincolor]] !important;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.coursebox.panel .panel-body:hover .cimbox2 {
	opacity: .3;
	-webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.coursebox .summary {
    font-size: 14px;
    min-height: 60px;
    padding: 0 0px 0px;
    text-align: left;
    line-height: 20px;
    font-weight: normal;
    color: #969ba2;
}

.coursebox .summary p {
	line-height: 20px;
	font-weight: 400;
	font-size: 13px;
}

.coursebox2 .summary p {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 100%;
}

.coursebox:hover .summary2 p {
	overflow: visible;
	max-width: inherit;
	white-space: normal;
}

.coursebox.panel .fa-chevron-right.fa.glyphicon.glyphicon-arrow-right {
    font-size: 10px;
}

.coursebox.panel .ribbon-wrapper-green {
	display: block !important;
}

.coursebox .enrolmenticons {
	float: none;
	display: inline-block; 
	padding-left: 10px;
}

.coursebox .enrolmenticons img {
	width: 12px;
}

#underheader {
	border-bottom: 1px solid #e1e1e1;
	background: #fafafa;
	padding: 15px 0px;
}

#underheader h3 {
	color: #333;
	font-weight: normal;
	font-size: 20px;
	margin: 0 0;
}

h3.sectionname, .section h3 {
	
}

.section .label .mod-indent-outer, .section .activity .mod-indent-outer {
	padding-left: 0px;
}

.section .left, .section .right {
	display: none;
}

.section .activity.modtype_label.label {
	padding-left: 0px;
}

.course-content ul.topics li.section, .course-content ul.weeks li.section {
	padding-bottom: 10px;
}

.course-content ul li.section.section-summary {
	padding-bottom: 0px;
}

.course-content ul.topics li.section .summary, .course-content ul.topics li.section .content, .course-content ul.weeks li.section .content, .site-topic ul.section, .course-content ul.section {
	margin-left: 0px;
	margin-right: 0px;
}

.editing .course-content ul.topics li.section .summary, .editing .course-content ul.topics li.section .content, .editing .course-content ul.weeks li.section .content, .editing .site-topic ul.section, .editing .course-content ul.section {
	margin-left: 20px;
	margin-right: 20px;
}

.editing .section .left, .editing .section .right {
	display: block;
}

.mform fieldset.collapsible legend a.fheader {
	margin-left: 0px;
}

.que .formulation, .que .info {
    border: 0 none;
    border-radius: 6px;
}

.que .content {
    margin: 0 0 0 9em;
}

/* forum areas */
#page-mod-forum-discuss #region-main h2:first-of-type, .discussioncontrol.movediscussion {
	display: none;
}

.editing .discussioncontrol.movediscussion {
	display: inherit;
}

#page-mod-forum-discuss .discussioncontrol.displaymode {
    float: none;
    text-align: left;
	margin-bottom: 15px;
}

div.forumpost {
	border: 1px solid #eee;
	padding: 20px 25px;
	box-shadow: 0px 0px 2px rgba(0,0,0,.00);
	margin-bottom: -1px;
}

.forumpost.clearfix.firstpost.starter {
    z-index: 1;
}

h3.discussionname {
	font-size: 24px;
	margin-bottom: 0px;
	line-height: normal;
	margin-top: 15px;
}

.forumpost .picture img.userpicture {
	margin-top: 0px;
	margin-left: 0px;
}

.forumpost .author {
	padding-top: 0px;
	color: #999;
}

.forumpost .posting.fullpost, .forumpost .posting.fullpost p {
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	color: #505050;
}

.forumpost .row.maincontent .content {
	padding-top: 5px;
}

.forumpost .row.maincontent .no-overflow, .forumpost .row.maincontent .posting.fullpost {
	clear: both;
}

.forumpost .row .options {
	margin-left: 0px;
	clear: both;
}

.forumpost .row .commands {
	text-align: left;
	clear: both;
	margin-top: -5px;
	margin-bottom: 5px;
	color: #999;
}

.forumpost .row .commands a {
	font-weight: 600;
	font-size: 94%;
}

.forumsearch {
	margin-top: -15px;
}

.forumsearch input[type="text"] {
	margin-right: -6px;
}

.single-section h3.sectionname {
    clear: both;
    font-size: 26px;
    line-height: normal;
    text-align: left;
    padding-top: 10px;
    margin-bottom: 0px;
}

.course-content .single-section .section-navigation {
	padding: 15px 0px;
}

.courses3 .row-fluid [class*="span"] { margin:0 }

.courses3 .row-fluid .span4 {
	width: 33.33%;
}

@media (max-width: 1100px) {
	.cimbox {
		height: 120px;
	}
}

@media (max-width: 1010px) {
	.cimbox {
		height: 100px;
	}
}

@media (max-width: 920px) {
	.cimbox {
		height: 85px;
	}
}

@media (max-width: 768px) {
	.cimbox {
		height: 125px;
	}
	.courses .row-fluid .span4 {
	width: auto;
	}
}

.path-course-view .completionprogress {
	display: none;
}

.editing_move img {
    position: relative;
    z-index: 99999;
}