html,body {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #969ba2;
	font-size: [[setting:fsize]]%;
}

body {
	margin-top: 0px;
}

body#page-site-index {
	margin-top: 0px;
}

body.active2 {
	padding-top: 50px;
}

/* background: #f1eee7 url([[pix:theme|bkg]]) no-repeat 100% 0; */
html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,input,textarea {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {

}

h1, h2, h3 {
	
}

h1 {
	
}

h2 {

}

h3 {
	
}

p {
	line-height: 150%;
}
/* background: #f1eee7 url([[pix:theme|bkg]]) no-repeat 100% 0; */

/*link colors */
a:link,
a:visited, .tabtree .tabrow0 li a  {
    color: [[setting:linkcolor]];
    text-decoration: none;
}

a:hover,
a:active {
    color: [[setting:linkhover]];
    text-decoration: underline;
}

a:active {
    outline: 0;
/* for browsers that understand */
}

a:focus {
    outline: 0;
/* for browsers that understand */
}
/* Custom CSS
-------------------------*/
/* real main headings */

.headingblock, .sitetopic h2, h2.main, #site-news-forum h2, #frontpage-course-list h2, #frontpage-category-names h2, #frontpage-category-combo h2, .headingwrap h2 {
 
  font-size: 30px;
  font-weight: 600;
  text-transform: none;
  border-bottom: 0px solid #eee;
  float: none;
  display: block;
  background: transparent;
  line-height: normal;
  padding: 10px 0 25px;
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 15px;
  color: #3d3d3d;
  text-align: center;
}

#site-news-forum h2, #frontpage-course-list h2, #frontpage-category-names h2, #frontpage-category-combo h2 {
	margin-bottom: 0px;
}

#frontpage-course-list .headingwrap, .standardintro {
	display: none;
}

#page {
	max-width: 3040px;
	padding: 0 0;
}

#page-content {
	background:transparent;
}

.used-region-side-pre #region-main {
	padding-right: 30px;
}

.used-region-side-pre.zoomin #region-main {
	padding-right: 0px;
}

#region-main {
	-webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#padder {
	padding: 15px 0px;
}


#page-header-wrapper {
	background: transparent;
	max-height: 125px;
	position: relative;
	top: 0px;
	min-height: 50px;
}


#page-header {
	border-bottom: 0px solid #e1e1e1;
	clear: both;
	margin-bottom: 0px;
	position: relative;
	max-height: 125px;
}

#page-site-index #page-header {
	border-bottom: 0px;
}


#page-header-contact {
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 55px;
	color: #999;
	max-width: 40%;
}

#page-header-contact p {
		padding: 0 0;
		margin: 0 0;
}

#page-header, #page-content, .container, #ticker-wrap, #page-navbar.container {
	max-width: 2200px;
	width: 90%;
	margin: 0 auto;
}

#logo {
	float: none;
	display: block;
	margin:30px 0px 0px;
	min-height: 15px;
}

.active #logo {
	margin: 20px 0;
}

.lalign #logo {
	float: left;
}

.fixed #logo {
	margin: 18px auto;
}

#headsocial {
	background: transparent;
	padding: 0px 0px;
	padding-right: 0px;
	margin-top: 2px;
}

#headsocial a {
	color: #fff;
	font-size: 14px;
	padding: 4px 8px;
	background: #bbb;
	margin-left: 5px;
}

#headsocial a:hover {
	background: [[setting:maincolor]];
}



#textwrap {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    min-height: 75px;
    left: 0;
    position: absolute;
    width: 100%;
}

.textwrapinner {
	 color: #fff;
    min-height: 55px;
    overflow: hidden;
    padding: 10px 0;
}

.textwrapinner .pull-left {
	max-width: 60%;
	min-width: 50%;
}

.textwrapinner h2 {
	color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin: 5px 0px 0px;
    
      max-width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.textwrapinner .pull-left p {
	margin: 0px 0px 10px;
}

.headermenu {
	float: right;
	padding-top: 30px;
	font-size: 80%;
	color: #ccc;
	right: 0px;
	top: 0px;
	max-width: 40%;
}

#footer-wrap {
		background-color: [[setting:secondcolor]];
		border-top: 0px solid [[setting:maincolor]];
		box-shadow: none;
		margin-top: 0px;
		position: relative;
}

#page-footer {
	background: [[setting:secondcolor]];
    margin: 0px auto 0;
   text-align: left;
   border-top: 0px;
   color: #7c7c7c;
   padding: 25px 0px;
}

#page-footer a {
    color: #7c7c7c;
    font-weight: 600;
}

#page-footer .logininfo {
	font-size: 13px;
	margin-right: -3px;
	text-align: right;
    margin-top: -25px;
    color:#FFFFFF;
}

#page-footer .info {
   font-size: 13px;
}

#page-footer ol, #page-footer ul {
    list-style: none outside none;
    margin: 0 0;
    color:#fff!important;
}

#page-footer .socials {
	text-align: right;
	padding-top: 0px;
}

#page-footer .socials a {
	font-size: 22px;
	padding-left: 8px;
	 color: #fff;
}

#breadwrap {
	padding: 30px 0px 30px;
	background: transparent;
	border-bottom: 0px solid #eee;
	position: relative;
	margin-top: 0px;
	
	background: #f6f6f6;
    color: #2f383d;
    border-bottom: 2px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
}

#breadwrap h1 {
	font-weight: 400;
	font-size: 20px;
	line-height: 38px;
	margin: 0 0 0px;
	padding: 0 0;
	text-transform: uppercase;
	float: left;
	max-width: 50%;
	color: #000;
}

#page-navbar {
    background: transparent;
    border-bottom: 0px solid #dadada;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px 0 0;
    
    float: right;
    width: 50%;
}

.breadcrumb {
	padding: 7px 0px 0px;
	padding-left: 0px;
	margin: 0 0;
	background: transparent;
	font-size: 90%;
	
    border: 1px solid #e1e1e1;
    float: right;
    font-size: 90%;
    margin: 0;
    padding: 8px 15px;
}

.breadcrumb li {
	position: relative;
}

.breadcrumb li, .breadcrumb a, .breadcrumb > li > .divider {
	color: #222;
	text-shadow: none;
}

.breadcrumb li.lastb, .breadcrumb li.lastb a {
	color: #222;
	font-weight: 600;
}

.breadcrumb-button .singlebutton div, .breadcrumb-button .singlebutton div input, #page-navbar .breadcrumb-button {
	margin: 0 0;
}

.breadcrumb-button .singlebutton div input {
	margin-top: 0px;
}

.breadcrumb-button .singlebutton {
	margin-top: -10px;
}

div .breadcrumb-button {
	float: right;
	width: auto;
}

div .breadcrumb-button input[type="submit"] {
    font-size: 11px;
    font-weight: normal;
    margin-left: 5px;
    margin-top: 12px;
    padding: 5px 8px;
}

#breadwrap .container {
    position: relative;
    z-index: 99;
}

#intro.generalbox {
    background: #fefefe;
    border: 0px solid #eee;
    border-left: 5px solid [[setting:secondcolor]];
 	box-shadow: none;
 	border-radius: 0px;
    margin: 1em auto;
    padding: 15px;
    width: auto;
}

#notice,
.redirectmessage2 {
    text-align: center;
    border-color: #e5e5e5;
    padding: 5px;
}

.pagelayout-redirect #content {
	width:60%; background: #fff; margin: 20px auto; padding: 1em;
	border: 1px solid #dadada;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
}

div.redirectmessage {
    width: 60%;
    margin: 10px auto 0 auto;
    border: 0px solid transparent;
    font-size: 13px;
    background: #fff url([[pix:theme|ajax-loader]]) no-repeat 50% 95%;
    padding: 20px 20px 40px;  
}

/*buttons */
input[type="submit"], input[type="button"], #searchform_button, a.submit, #notice .singlebutton + .singlebutton input:first-child {
		background: [[setting:secondcolor]] !important;
       
     border: 0px;
	 -webkit-border-radius: 0px;
           -moz-border-radius: 0px;
                border-radius: 3px;
                 box-shadow: none;
        background-size: 100% 200%;
        text-shadow: none;
        color: #fff;
        cursor: pointer;    
        font-weight: 600;
        padding: 10px 25px 8px;
        line-height: normal;
        -webkit-transition: background .2s ease-out;
           -moz-transition: background .2s ease-out;
            -ie-transition: background .2s ease-out;
             -o-transition: background .2s ease-out;
                transition: background .2s ease-out;
}

input[type="submit"]:hover, input[type="button"]:hover, #searchform_button:hover, a.submit:hover{
	 background-position: 0 -100%;
	 text-decoration: none !important;
	 color: #fff;
	 background-color: [[setting:maincolor]] !important;
	 box-shadow: none;
}

#marketblocks {
	padding: 0px 0px 0px;
	margin-bottom: -10px;
	
}

#marketblocks .span6.first {
	margin-left: 0px;
}

#marketblocks .span4, #marketblocks .span3, #marketblocks .span6 {
	border: 0px solid #ccc;
	min-height: 180px;
	margin-bottom: 15px;
	margin-top: 15px;
	background: transparent
	position: relative;
	z-index: 90;
}

.internalmarket {
	padding: 15px 0px;
	text-align: center;
	position: relative;
	background: transparent;
	border-radius: 0px;
}

.internalmarket img {
	display: block;
	max-width: 100%;
	width: 100%;
	position: relative;
	 border: 5px solid #fefefe;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.internalmarket p {
	font-size: 90%;
    line-height: 24px;
    padding-left: 5px;
    text-align: left;
}

#marketblocks .span4 h3, #marketblocks .span3 h3, #marketblocks .span6 h3 {
	font-size: 20px;
}

#marketblocks p a {
	font-weight: 600;
}

#marketblocks p a i {
	font-size: 80%;
	font-weight: 400;
}

.internalmarket .fa {
	background: [[setting:maincolor]];
	font-size: 1.1em;
	margin-right: 5px;
	padding: 5px;
	color: #fff;
}

#marketblocks .span4 a.submit, #marketblocks .span3 a.submit, #marketblocks .span6 a.submit {
	display: block;
	margin: 10px 0px;
}

#marketblocks p {
	clear: both;
	font-weight: 300;
	font-size: 14px;
	line-height: 22px;
	padding: 0 0;
	margin: 20px 0px 0px;
}

.headshot {
    max-width: 35px;
    border-radius: 20em;
    margin-right: 10px;
}

.marketauthor {
	font-size: 14px;
	color: #aaa;
	padding: 10px 0px 0px;
	font-weight: 300;
}


#callout {
	text-align: center;
	margin-bottom: 20px;
	position: relative;
}

#callout-internal {
	display: none;	
}

#callout .headingwrap, #marketblocks .headingwrap{
	margin: 30px 0px;
}

#callout p {
	font-size: 22px;
    font-weight: 300;
    line-height: 31px;
    margin: 0 auto;
    max-width: 75%;
    padding: 0;
}

#callout a.submit {
	 border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 22px;
    line-height: normal;
    margin: 10px auto 0;
    min-width: 30%;
    padding: 15px 35px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px -4px 0px rgba(0,0,0,.2) inset;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 15px Sans-Serif;
  color: #333;
  text-align: center;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: [[setting:maincolor]];
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid [[setting:maincolor]];   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}

.forumpost {
    background-color: #fff;
    border: 0px solid #eee;
    border-radius: 0;
    box-shadow: none;
    padding: 0 0;
}

.forumpost .subject {
    color: #1e1e1e;
    font-size: 22px;
    margin: 0 0 5px;
    padding: 12px 0 0;
}

.forumpost .author, .forumpost .commands {
	color: #666;
	font-weight: 300;
	font-size: 14px;
}

.forumpost .posting.fullpost {
	font-weight: 300;
	font-size: 14px;
}

.forumpost .picture img {
    border: 3px solid #FFFFFF;
    border-radius: 6em;
    margin: 4px;
}

.forumsearch input[type="text"] {
    margin-bottom: 0 !important;
    margin-left: 5px;
    padding: 7px;
}


select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	border-radius: 0px;
}

.loginbox.onecolumn .loginform {
	max-width: 500px;
	margin: 0 auto;
}

.loginbox.onecolumn .loginform .form-label {
	float: none;
	text-align: left;
	width: auto;
}

.loginbox.onecolumn .loginform .form-input {
    float: none;
    width: auto;
}

.loginbox.onecolumn .loginform .form-input input {
    width: 100%;
}

/* course search box */
#coursesearch {
    background: none repeat scroll 0 0 #eee;
    border-radius: 6px;
    margin: 30px auto;
    padding: 30px;
    text-align: center;
    width: 50%;
}

#coursesearch .coursesearchbox label {
	visibility: hidden;
	position: absolute;
	left: -10000px;
}

#shortsearchbox {
    margin-left: 5px;
    padding: 7px;
    width: 400px;
    margin-bottom: 0px;
}

#coursesearch .coursesearchbox input[type="submit"] {
	margin-bottom: 0px;
	margin-left: -6px;
	
	border: 3px solid [[setting:secondcolor]];
    box-shadow: -1px 0 0 rgba(0, 0, 0, 0.24) inset, 1px 0 0 rgba(0, 0, 0, 0.24) inset, 0px 1px 0 rgba(0, 0, 0, 0.24) inset, 0px -1px 0 rgba(0, 0, 0, 0.24) inset;
    padding-top: 6px;
    padding-bottom: 6px;
}

.path-grade-report-grader .gradeparent {
    overflow: auto;
    position: relative;
}

.form-item .form-label, .mform .fitem div.fitemtitle {
    float: none;
    padding-top: 0;
    text-align: left;
    width: auto;
}

.form-item .form-setting, .mform .fitem .felement, .path-backup .mform .fitem .felement, .mform .fdescription.required, .form-item .form-description {
    margin-left: 0;
}

.admin.used-region-side-pre #region-main {
	overflow: auto;
}


@media (max-width: 1140px) {
	#shortsearchbox {
		width: 300px;
	}
	
	.tp-caption.sfr.mmaincap.start, .tp-layer-inner-rotation, .tp-caption.lfb.msubsubcap.start {
    left: 30px !important;
	}
}

@media (max-width: 980px) {
	.navbar {
		float: none !important;
	}
	
	.navbar .pull-right {
		float: none;
	}
	.flex-direction-nav .flex-next {
		right: 0px !important;
	}
	
	.flex-direction-nav .flex-prev {
		left: 0px !important;
	}
	#shortsearchbox {
		width: 250px;
	}
	
}

@media (max-width: 837px) {
	
	#content.composer_content {
    padding-left: 30px !important;
    padding-right: 30px !important;
    width: auto;
    float: none;
	}
	
	.services_medium .read_more {
		margin-bottom: 30px;
	}
	
	div .light .title_counter h4 {
    color: #fff;
    margin-bottom: 60px;
	}
	
	div .count_to {
		margin-top: 28px;
	}
	
	.header_1_body.fullwidth_slider_page #content {
		float: none;
		width: auto;
	}
	
	#content .section_clear.row-fluid {
    width: auto;
	}
	
}

@media (max-width: 768px) {
	#region-main, .used-region-side-pre #region-main, .used-region-side-pre.zoomin #region-main {
		padding: 0px 15px;
	}
	
	#coursesearch {
		width: 80%;
	}
	
	#shortsearchbox {
		width: 200px;
	}

	
	#page-header, #page-header-wrapper {
		height: auto;
	}
	
	#logo {
		
		max-width: 60%;
	}
	
	#page-header-contact {
		font-size: 14px;
	}
	
	#marketblocks {
   
	}
	
	#callout p {
	font-size: 18px;
    font-weight: 300;
    line-height: 27px;
    margin: 0 auto;
    max-width: 90%;
    padding: 0;
	}
	
	.headermenu {
	float: none;
	padding: 10px 0px 0px;
	text-align: center;
	clear: both;
	}

	#breadwrap {
		padding: 10px 0px;
	}
	
	a.submit {
		width: 80%;
		display: block;
		margin: 5px auto;
		text-align: center;
	}
	
	
	.block .header {
		margin: 0px 10px !important;
	}

	
	.lalign .navbar-inner {
		margin-left: auto !important;
	}
	
	.textwrapinner .pull-left, .headermenu {
		float: none;
		max-width: inherit;
	}
	
	#page-header, #page-content, .container, #ticker-wrap, div.navbar {
		width: 95%;
	}
	
	.vc_col-sm-3.span3 {
		clear: both;
	}
	
	.vc_col-sm-6.span6.wpb_column.column_container {
    padding-left: 30px;
    float: none;
    width: auto;
	}
	
	.recent_news .dl-horizontal dt {
		float: left;
		clear: none;
	}
	
	.container .textbar-container .btn-system.normal {
    clear: both;
    display: block !important;
    float: none;
    margin-right: 0;
    position: relative;
    text-align: center;
    width: auto;
	}
	
	.tp-layer-inner-rotation, .tp-caption.mmaincap {
		font-size: 24px !important;
		line-height: 110% !important;
	}
	.msubsubcap {
	display: none;
	}
	
}

@media (max-width: 630px) {
	div .recent_news .news-carousel-item dl dt {
		display: none;
	}
	
	div .recent_news .news-carousel-item dl dd {
		width: auto;
		margin-left: 0px;
	}
	.tp-layer-inner-rotation, .tp-caption.mmaincap {
		font-size: 18px !important;
		line-height: 110% !important;
	}
	.tp-layer-inner-rotation {
		display: none;
	}
}	

@media (max-width: 520px) {
	#above-header .socials, #headsocial {
		display: none;
	}

	#logo, .fixed #logo {
		
	}
	
	#coursesearch {
		width: auto;
		padding: 15px;
	}
	
	#shortsearchbox {
		width: 150px;
	}
	
	.textwrapinner h2 {
		font-size: 18px;
	}
	#marketblocks .span4 {
		
		margin: 15px auto;
	}
	
	.internalmarket img {
		border: 0px;
	}
	
	.headermenu {
		top: -12px;
	}
	
	.textwrapinner .pull-left {
		text-align: center;
		float: none;
	}
	
	#marketblocks .span4 a.submit, #marketblocks .span3 a.submit, #marketblocks .span6 a.submit {
		width: auto;
	}
	
	div.navbar {
		margin-left: auto;
	}
	
	.fixed .navbar {
    margin-top: 15px !important;
	}
}


.forumpost .row.maincontent .left {
	display: none;
}

.forumpost .row.maincontent .content{
	padding-top: 10px;
}



/*hide show blocks css */
        /*set fullscreen */
        .fullin .container {
			width: 95%;
		}
		
		.sbll {
			display: none;
		}
		
		.fullin .sbll {
			display: inherit;
		}
		
		.fullin .hbll {
			display: none;
		}
        
       .zoomin #block-region-side-pre {
            display: none;
        }
        .zoomin #region-main,
        .zoomin #region-bs-main-and-pre {
            width: 100% !important;
            left: 0 !important;
        }
        
        .sbl {
        	display: none;
        }
        
        .zoomin .sbl {
        	display: inherit;
        }
        
        .zoomin .hbl {
        	display: none;
        }


#ticker, #ticker_container {
	font-size: 85%;
}

#ticker-wrap {
	position: relative;
	margin-bottom: 15px;
	background: #eee;
	line-height: 40px;
}

#ticker-announce {
	background: [[setting:maincolor]];
	padding: 0px 15px;
	color: #eee;
	margin-right: 15px;
	text-transform: uppercase;
	font-weight: 600;
}

#ticker-wrap #controls {
	padding-right: 15px;
}

#ticker-wrap #controls a {
	color: [[setting:secondcolor]];
}

#ticker-wrap #newscontent {
	max-width: 75%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#ticker-wrap #newscontent #news {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media (max-width: 895px) {
	#ticker-announce {
		float: none;
		margin: 0 0;
		text-align: center;
	}
	
	#ticker-wrap #newscontent {
		max-width: inherit;
		overflow: inherit;
		white-space: normal;
		padding: 10px 10px 10px;
		line-height: normal;
		
	}
	
	#ticker-wrap #newscontent #news {
		white-space: normal;
	}
	
	#ticker-wrap #controls {
		display: none;
	}
}

.user-enroller-panel {
	z-index: 9999;
}

.moodle-actionmenu.show[data-enhanced] .menu a {
    padding: 0 1em 0 28px;
}

div .moodle-actionmenu li a span {
	font-size: 11px !important;
}

.jsenabled .usermenu .moodle-actionmenu.show .menu:after, .jsenabled .usermenu .moodle-actionmenu.show .menu:before {
	display: none;
}

.path-admin-setting .form-label label {
	color: #333;
	font-size: 110%;
	font-weight: 600;
}

img.type_image.media_animation.animation_left.alignment_left.start_animation {
	max-width: 100%;
}

body .one-staff .social_widget ul {
	text-align: center;
	width: 100%;
}

body .one-staff .social_widget ul li {
	float: none;
	display: inline-block;
}

#region-main h2:first-of-type {
    margin-bottom: 15px !important;
}
/* added by Arjun Singh 
---------------------------*/
.F_logo{
	background: #fff;
	width: 150px;
    padding: 3px;
    height: 40px;
}
/* for course ,management hiding the category for cwadmin & ezadmin*/
.redstone_hidden{
	display: none;
}
body#page-mod-gotomeeting-view a#bstart {
    display: block;
    background: #4DB458 !important;
    color: #fff;
    font-weight: bolder;
    width: 180px;
    padding: 6px;
    margin: 5px;
    border-radius: 3px;
    text-decoration: none;
}
body#page-mod-gotomeeting-view a#bstart:hover{
	background: #fcb937 !important;
}
/* redstonev1 Custom CSS ADDED BY REDSTONE PERSON */

/* @import url(http://fonts.googleapis.com/css?family=Vibur);*/
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /*font-family: arial;*/
}

body {
  background: #484c4d;
   font-size: 15px;
  line-height: 1.46666667;
  color: #777777;
 font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


.full {
    background:  url('../images/background-img-1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}



h1 {
  color: #ccc;
  text-align: center;
font-family: [[setting:headingfont]],'Raleway', sans-serif;
  font-size: 50px;
}
.login-form  .logo{ padding: 20px 10px 40px;}
.login-form  .cllogo{ margin: 30px 0px 0px; border-top:1px solid #d7d7d7}
.login-form {
  width: 350px;
  padding: 10px 30px 40px;
  background: #eee;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-group {
  position: relative;
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  height: 50px;
  border: none;
  padding: 5px 7px 5px 15px;
  background: #fff;
  color: #666;
  border: 2px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.form-control:focus, .form-control:focus + .fa {
  border-color: #10CE88;
  color: #10CE88;
}

.form-group .fa {
  position: absolute;
  right: 15px;
  top: 17px;
  color: #999;
}

.log-status.wrong-entry {
  -moz-animation: wrong-log 0.3s;
  -webkit-animation: wrong-log 0.3s;
  animation: wrong-log 0.3s;
}

.log-status.wrong-entry .form-control, .wrong-entry .form-control + .fa {
  border-color: #ed1c24;
  color: #ed1c24;
}

.log-btn {
  background: #50ac5a;
  dispaly: inline-block;
  width: 100%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  text-decoration: none;
  border: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.checkbox-inline { font-size: 12px; color: #a1a1a1;}
.link {
  text-decoration: none;
  color: #a1a1a1;
  float: right;
  font-size: 12px;
  margin-bottom: 15px;
}
.link:hover {
  text-decoration: underline;
  color: #8C918F;
}

.alert {
  display: none;
  font-size: 12px;
  color: #f00;
  float: left; padding:10px 0px 0px 0px; 
}


.text-white{color:#fff;}
.text-grey{color:#eceff4;}
.text-default{color:#fdb839;}

a.text-default:hover{color:#cb8c19;}

.stage-title-right a{ padding:15px 20px 0px 0px; display:block; float:left;color:#717677;  }
.stage-title-right a.hlink{ padding-top:25px; color:#cb8c19; }
.stage-head{ height:90px; background:#36393a; }

.stage-head h2,.stage-head h5{margin:0px; font-weight:300; padding:3px;}
.stage-head { padding:10px;}

.stage .stage-left{padding-right:0px;}
.stage .stage-title-right{padding-left:0px;}
.stage-progress{ padding:5px; background:#535758; padding-bottom:0px; }

.stage .stage-navigation{ padding:15px;}





/*Form Wizard*/
.bs-wizard { padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 20px; height: 20px; display: block; background: #4db458; top: 8px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 10px; height: 10px; background: #6bdd77; border-radius: 50px; position: absolute; top: 5px; left: 5px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 5px; box-shadow: none; margin: 18px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #77e683;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%; }
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/


@-moz-keyframes wrong-log {
  0%, 100% {
    left: 0px;
  }
  20% , 60% {
    left: 15px;
  }
  40% , 80% {
    left: -15px;
  }
}
@-webkit-keyframes wrong-log {
  0%, 100% {
    left: 0px;
  }
  20% , 60% {
    left: 15px;
  }
  40% , 80% {
    left: -15px;
  }
}
@keyframes wrong-log {
  0%, 100% {
    left: 0px;
  }
  20% , 60% {
    left: 15px;
  }
  40% , 80% {
    left: -15px;
  }
}
input[type="text"],
 input[type="password"], input[type="datetime"],
  input[type="datetime-local"], input[type="date"],
   input[type="month"], input[type="time"], input[type="week"],
    input[type="number"], input[type="email"], input[type="url"],
     input[type="search"], input[type="tel"], input[type="color"],
      .uneditable-input {
	height:30px !important;
}
fieldset#id_courseformathdr,
    fieldset#id_appearancehdr,
    fieldset#id_filehdr,
    fieldset#id_groups,
    fieldset#id_rolerenaming,
    fieldset#id_tagshdr {
        background: rgba(193, 193, 193, 0.4);
        padding: 10px;
        margin: 10px;
    }
    fieldset#id_courseformathdr .ftoggler,
    fieldset#id_appearancehdr .ftoggler,
    fieldset#id_filehdr .ftoggler,
    fieldset#id_groups .ftoggler,
    fieldset#id_rolerenaming .ftoggler,
    fieldset#id_tagshdr .ftoggler{
        height:10px!important;
    }
    div#fitem_id_mastersettings {
    border-bottom: 1px solid #bbb;
    font-size: 14px;
    font-weight: bold;
}
.tab-menu{
	border:none!important;
	margin-top:2px!important;
}
.#nav-tab.tab-a{
	text-decoration: none!important;
}
#nav-tab.nav-tabs>li>a:hover, .nav-tabs>li>a:focus{
border-color: transparent;
text-decoration: none!important;
}
#custom-dropdown{
	margin-left: -13px!important;
    min-width: 184px!important;
    border-top: 1px solid #c5c5c5;
    margin-top: 5px;
    background: #f6f6f6!important;
    line-height: 22px!important;
    font-size: 13px!important;
}
#custom-dropdown2{
	margin-left: -20px!important;
    min-width: 176px!important;
    border-top: 1px solid #c5c5c5;
    margin-top: 5px;
    background: #f6f6f6!important;
    line-height: 22px!important;
    font-size: 13px!important;
}
ul#action-menu-0-menu{
	display: none;
}
body#page-course-index .catadmin{
	display:block!important;
}
body#page-course-index .notcatadmin{
	display:none;
}
body#page-course-index .catadmin .notcatadmin{
	display:block!important;
}
#page{
	min-height: 570px;
}
body#page-course-index .categorypicker{
	display:none;
}
body#page-course-index #coursesearch{
	margin: 20px auto!important;
    	padding: 20px!important;
}
body#page-course-index .coursesearchbox input[type="submit"]{
	margin-top: -8px;
}
.quizeditbutton a{
	background: #323232 !important;
    border: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 3px;
    box-shadow: none;
    background-size: 100% 200%;
    text-shadow: none;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    padding: 10px 25px 8px;
    line-height: normal;
    -webkit-transition: background .2s ease-out;
    -moz-transition: background .2s ease-out;
    -ie-transition: background .2s ease-out;
    -o-transition: background .2s ease-out;
    transition: background .2s ease-out;
}
.quizeditbutton a:hover{  background-position: 0 -100%;
    text-decoration: none !important;
    color: #fff;
    background-color: #009dcd !important;
    box-shadow: none;
    text-decoration: none;
}
/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
