
.stage{
	position:absolute;  
	top:0px; right:0px; bottom:0px; left:0px;
}

.menu-icon{position:fixed;  left:0px; top:0px; bottom:0px; width:80px; z-index:1000; background:#fcb937; }

.menu-icon .icons{ top:10px; margin-top:10px;}
.menu-icon .icons a{color:#f3f3f3; display: block;left:0px; width:100%;    text-decoration:none; padding:10px 0px 10px 0px; text-align:center;  border-bottom:1px solid #e9a625;  }
.menu-icon .icons a span{ font-size:12px;}
.menu-icon .icons a:hover{background:#f3f3f3; color:#484c4d; border-bottom:1px solid #e4e9ef; }
.menu-icon .icons a:hover i{color:#fcb937; }
.menu-icon .icons a.active{background:#f3f3f3; color:#484c4d; border-bottom:1px solid #e4e9ef;}
.menu-icon .icons a.active i{color:#fcb937; }


.stage-content{ width:100%; position:fixed; bottom:0px;top:145px;}

.stage-left{width:75%;  background:#232526; float:left;}
.stage-right{width:19.2%;  background:#484c4d;float:left;}

/* General styles for all menus */
.cbp-spmenu {
    background: #f3f3f3;
    position: fixed; padding:10px 10px 10px 100px;
}


/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical {
    width: 32%;
    height: 100%;
    top: 0;
    z-index: 1000;
  
}


/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
    left: -32%;
}


.cbp-spmenu-left.menu-open {
    left: 0px;
}




/* Push classes applied to the body */
.push-body {
    overflow-x: hidden;
    position: relative;
    left: 80px; width:94.3%;
}

.push-body-toright {
    width: 68%;  left: 32%;
}


/* Transitions */
.cbp-spmenu,
.push-body {
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

/* Example media queries */
@media screen and (max-width: 55.1875em) {
   
	.push-body {

    left: 80px; width:100%;
}

.push-body-toright {
    width: 100%;  left: 300px;
}
.cbp-spmenu-vertical {
    width: 300px;
  
  
}


/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {
    left: -300px;
}
.menu-icon .icons{width:80px;}
.stage-right{width:40% !Important; }
.stage-left{width:60% !Important; }
 
}


