a [class*="moon-"], a [class*=" moon-"]{
	cursor:pointer;
	outline: 0 !important;
}
[class*="moon-"], [class*=" moon-"]{
	cursor:default;
}

[class*="moon-"]:before, [class*=" moon-"]:before {
	font-family: 'moon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	text-decoration:none;
	-webkit-font-smoothing: antialiased;
}

ul.icons {list-style:none !important;}

.pull-right {
	float: right;
	
}
.pull-left {
	float: left;
	
}
@keyframes anim-rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
.spinner--steps {
	animation: anim-rotate 1s infinite steps(8);
}
.spinner--steps2 {
	animation: anim-rotate 1s infinite steps(12);
}

.icon-spin {
	display: inline-block;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
	width:30px;
}
.hover-fade{
	padding:0 5px;
	opacity:1; 
	filter:alpha(opacity=100); /* For IE8 and earlier */
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

#header-widget-area .textwidget a:last-child .hover-fade{padding-right:0;}

.hover-fade:hover{
	opacity:0.65; 
	filter:alpha(opacity=65); /* For IE8 and earlier */
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.icon-background, .metro-background {
	color: #fff;
	display: inline-block;
	padding: 0.09em 0 0;
	overflow: hidden;
	max-width: 2.4em;
	padding-right: 0;
	max-height: 2.09em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
.icon-background{
	border: 1px solid #777;
	border-color: rgba(0,0,0,0.2);
	border-bottom-color: #333;
	border-bottom-color: rgba(0,0,0,0.4);
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.05) 49%, rgba(0,0,0,0.05) 51%, rgba(0,0,0,0.1) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.1)), color-stop(49%,rgba(255,255,255,0.05)), color-stop(51%,rgba(0,0,0,0.05)), color-stop(100%,rgba(0,0,0,0.1)));
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.05) 49%,rgba(0,0,0,0.05) 51%,rgba(0,0,0,0.1) 100%);
	background-image: -o-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.05) 49%,rgba(0,0,0,0.05) 51%,rgba(0,0,0,0.1) 100%);
	background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.05) 49%,rgba(0,0,0,0.05) 51%,rgba(0,0,0,0.1) 100%);
	background-image: linear-gradient(to bottom,  rgba(255,255,255,0.1) 0%,rgba(255,255,255,0.05) 49%,rgba(0,0,0,0.05) 51%,rgba(0,0,0,0.1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1affffff', endColorstr='#1a000000',GradientType=0 );
	-moz-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
	-webkit-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
	box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.4), inset 0 0 0.1em rgba(255,255,255,0.9);
	-moz-border-radius: .3em;
	-webkit-border-radius: .3em;
	border-radius: .3em;
}
.icon-background:before, .metro-background:before {content: "";
	float: left;
	font-size: 120%;
	line-height:1.65;
	font-style: normal;
	font-weight: normal;
	margin: 0 0.5em 0 0;
	text-align: center;
	text-decoration: none;
	text-transform: none;
	padding: 0;
	width: 2em;
	height: 2em;
	border: none;
	box-shadow: none;	
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.hover-show-color{
	padding:0 6px;
	color:#ccc !important;
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}
#header-widget-area .textwidget a:last-child .hover-show-color{padding-right:0;}

.hover-show-color:hover{	
	color:inherit !important;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.hover-show-color-bg{
	color:#666 !important;
	border: 1px solid #aaa;
	border-color: rgba(0,0,0,0.3);
	border-bottom-color: #777;
	border-bottom-color: rgba(0,0,0,0.5);	
	text-shadow: 0 1px 0 #fff;
	background-image: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.07) 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.07)));
	background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.07) 100%);
	background-image: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.07) 100%);
	background-image: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.07) 100%);
	background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.07) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#12000000',GradientType=0 );
	-moz-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.7), inset 0 0 0.08em rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.7), inset 0 0 0.08em rgba(255,255,255,0.5);
	box-shadow: inset 0 0.08em 0 rgba(255,255,255,0.7), inset 0 0 0.08em rgba(255,255,255,0.5);
}
.hover-show-color-bg:hover{	
	color:inherit !important;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.hover-show-color-metro-bg{
	color:#B5B5B5 !important;
	background-color:#F7F7F7;
	margin-bottom: -5px;
	margin-left:-1px;
}

.hover-show-color-metro-bg.moon-dribbble-3 {margin-right:-1px;}

.hover-show-color-metro-bg:hover{	
	color:#fff !important;
	background-color:inherit !important;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
@-moz-document url-prefix() {
  .icon-spin {
    height: .9em;
  }
}


.icon-spinner:before, .icon-spinner-2:before, .icon-spinner-3:before, .icon-spinner-4:before, .icon-spinner-5:before, .icon-spinner-6, .icon-spinner-7:before {
	font-family: 'moon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-spinner:before {
	content: "\e000";
}
.icon-spinner-2:before {
	content: "\e1a8";
}
.icon-spinner-3:before {
	content: "\e002";
}
.icon-spinner-4:before {
	content: "\e003";
}
.icon-spinner-5:before {
	content: "\e004";
}
.icon-spinner-6:before {
	content: "\e005";
}
.icon-spinner-7:before {
	content: "\e006";
}

@keyframes anim-rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}


.moon-home:before {content: "\e000";}
.moon-home-2:before {content: "\e001";}
.moon-home-3:before {content: "\e002";}
.moon-home-4:before {content: "\e003";}
.moon-home-5:before {content: "\e004";}
.moon-home-6:before {content: "\e005";}
.moon-home-7:before {content: "\e006";}
.moon-home-8:before {content: "\e007";}
.moon-home-9:before {content: "\e008";}
.moon-home-10:before {content: "\e009";}
.moon-home-11:before {content: "\e00a";}
.moon-office:before {content: "\e00b";}
.moon-newspaper:before {content: "\e00c";}
.moon-pencil:before {content: "\e00d";}
.moon-pencil-2:before {content: "\e00e";}
.moon-pencil-3:before {content: "\e00f";}
.moon-pencil-4:before {content: "\e010";}
.moon-pencil-5:before {content: "\e011";}
.moon-pencil-6:before {content: "\e012";}
.moon-quill:before {content: "\e013";}
.moon-quill-2:before {content: "\e014";}
.moon-quill-3:before {content: "\e015";}
.moon-pen:before {content: "\e016";}
.moon-pen-2:before {content: "\e017";}
.moon-pen-3:before {content: "\e018";}
.moon-pen-4:before {content: "\e019";}
.moon-pen-5:before {content: "\e01a";}
.moon-marker:before {content: "\e01b";}
.moon-home-12:before {content: "\e01c";}
.moon-marker-2:before {content: "\e01d";}
.moon-blog:before {content: "\e01e";}
.moon-blog-2:before {content: "\e01f";}
.moon-brush:before {content: "\e020";}
.moon-palette:before {content: "\e021";}
.moon-palette-2:before {content: "\e022";}
.moon-eyedropper:before {content: "\e023";}
.moon-eyedropper-2:before {content: "\e024";}
.moon-droplet:before {content: "\e025";}
.moon-droplet-2:before {content: "\e026";}
.moon-droplet-3:before {content: "\e027";}
.moon-droplet-4:before {content: "\e028";}
.moon-paint-format:before {content: "\e029";}
.moon-paint-format-2:before {content: "\e02a";}
.moon-image:before {content: "\e02b";}
.moon-image-2:before {content: "\e02c";}
.moon-image-3:before {content: "\e02d";}
.moon-images:before {content: "\e02e";}
.moon-image-4:before {content: "\e02f";}
.moon-image-5:before {content: "\e030";}
.moon-image-6:before {content: "\e031";}
.moon-images-2:before {content: "\e032";}
.moon-image-7:before {content: "\e033";}
.moon-camera:before {content: "\e034";}
.moon-camera-2:before {content: "\e035";}
.moon-camera-3:before {content: "\e036";}
.moon-camera-4:before {content: "\e037";}
.moon-music:before {content: "\e038";}
.moon-music-2:before {content: "\e039";}
.moon-music-3:before {content: "\e03a";}
.moon-music-4:before {content: "\e03b";}
.moon-music-5:before {content: "\e03c";}
.moon-music-6:before {content: "\e03d";}
.moon-piano:before {content: "\e03e";}
.moon-guitar:before {content: "\e03f";}
.moon-headphones:before {content: "\e040";}
.moon-headphones-2:before {content: "\e041";}
.moon-play:before {content: "\e042";}
.moon-play-2:before {content: "\e043";}
.moon-movie:before {content: "\e044";}
.moon-movie-2:before {content: "\e045";}
.moon-movie-3:before {content: "\e046";}
.moon-film:before {content: "\e047";}
.moon-film-2:before {content: "\e048";}
.moon-film-3:before {content: "\e049";}
.moon-film-4:before {content: "\e04a";}
.moon-camera-5:before {content: "\e04b";}
.moon-camera-6:before {content: "\e04c";}
.moon-camera-7:before {content: "\e04d";}
.moon-camera-8:before {content: "\e04e";}
.moon-camera-9:before {content: "\e04f";}
.moon-dice:before {content: "\e050";}
.moon-gamepad:before {content: "\e051";}
.moon-gamepad-2:before {content: "\e052";}
.moon-gamepad-3:before {content: "\e053";}
.moon-pacman:before {content: "\e054";}
.moon-spades:before {content: "\e055";}
.moon-clubs:before {content: "\e056";}
.moon-diamonds:before {content: "\e057";}
.moon-king:before {content: "\e058";}
.moon-queen:before {content: "\e059";}
.moon-rock:before {content: "\e05a";}
.moon-bishop:before {content: "\e05b";}
.moon-knight:before {content: "\e05c";}
.moon-pawn:before {content: "\e05d";}
.moon-chess:before {content: "\e05e";}
.moon-bullhorn:before {content: "\e05f";}
.moon-megaphone:before {content: "\e060";}
.moon-new:before {content: "\e061";}
.moon-connection:before {content: "\e062";}
.moon-connection-2:before {content: "\e063";}
.moon-podcast:before {content: "\e064";}
.moon-radio:before {content: "\e065";}
.moon-feed:before {content: "\e066";}
.moon-connection-3:before {content: "\e067";}
.moon-radio-2:before {content: "\e068";}
.moon-podcast-2:before {content: "\e069";}
.moon-podcast-3:before {content: "\e06a";}
.moon-mic:before {content: "\e06b";}
.moon-mic-2:before {content: "\e06c";}
.moon-mic-3:before {content: "\e06d";}
.moon-mic-4:before {content: "\e06e";}
.moon-mic-5:before {content: "\e06f";}
.moon-book:before {content: "\e070";}
.moon-book-2:before {content: "\e071";}
.moon-books:before {content: "\e072";}
.moon-reading:before {content: "\e073";}
.moon-library:before {content: "\e074";}
.moon-library-2:before {content: "\e075";}
.moon-graduation:before {content: "\e076";}
.moon-file:before {content: "\e077";}
.moon-profile:before {content: "\e078";}
.moon-file-2:before {content: "\e079";}
.moon-file-3:before {content: "\e07a";}
.moon-file-4:before {content: "\e07b";}
.moon-file-5:before {content: "\e07c";}
.moon-file-6:before {content: "\e07d";}
.moon-files:before {content: "\e07e";}
.moon-file-plus:before {content: "\e07f";}
.moon-file-minus:before {content: "\e080";}
.moon-file-download:before {content: "\e081";}
.moon-file-upload:before {content: "\e082";}
.moon-file-check:before {content: "\e083";}
.moon-file-remove:before {content: "\e084";}
.moon-file-7:before {content: "\e085";}
.moon-file-8:before {content: "\e086";}
.moon-file-plus-2:before {content: "\e087";}
.moon-file-minus-2:before {content: "\e088";}
.moon-file-download-2:before {content: "\e089";}
.moon-file-upload-2:before {content: "\e08a";}
.moon-file-check-2:before {content: "\e08b";}
.moon-file-remove-2:before {content: "\e08c";}
.moon-file-9:before {content: "\e08d";}
.moon-copy:before {content: "\e08e";}
.moon-copy-2:before {content: "\e08f";}
.moon-copy-3:before {content: "\e090";}
.moon-copy-4:before {content: "\e091";}
.moon-paste:before {content: "\e092";}
.moon-paste-2:before {content: "\e093";}
.moon-paste-3:before {content: "\e094";}
.moon-stack:before {content: "\e095";}
.moon-stack-2:before {content: "\e096";}
.moon-stack-3:before {content: "\e097";}
.moon-folder:before {content: "\e098";}
.moon-folder-download:before {content: "\e099";}
.moon-folder-upload:before {content: "\e09a";}
.moon-folder-plus:before {content: "\e09b";}
.moon-folder-plus-2:before {content: "\e09c";}
.moon-folder-minus:before {content: "\e09d";}
.moon-folder-minus-2:before {content: "\e09e";}
.moon-folder8:before {content: "\e09f";}
.moon-folder-remove:before {content: "\e0a0";}
.moon-folder-2:before {content: "\e0a1";}
.moon-folder-open:before {content: "\e0a2";}
.moon-folder-3:before {content: "\e0a3";}
.moon-folder-4:before {content: "\e0a4";}
.moon-folder-plus-3:before {content: "\e0a5";}
.moon-folder-minus-3:before {content: "\e0a6";}
.moon-folder-plus-4:before {content: "\e0a7";}
.moon-folder-remove-2:before {content: "\e0a8";}
.moon-folder-download-2:before {content: "\e0a9";}
.moon-folder-upload-2:before {content: "\e0aa";}
.moon-folder-download-3:before {content: "\e0ab";}
.moon-folder-upload-3:before {content: "\e0ac";}
.moon-folder-5:before {content: "\e0ad";}
.moon-folder-open-2:before {content: "\e0ae";}
.moon-folder-6:before {content: "\e0af";}
.moon-folder-open-3:before {content: "\e0b0";}
.moon-certificate:before {content: "\e0b1";}
.moon-cc:before {content: "\e0b2";}
.moon-tag:before {content: "\e0b3";}
.moon-tag-2:before {content: "\e0b4";}
.moon-tag-3:before {content: "\e0b5";}
.moon-tag-4:before {content: "\e0b6";}
.moon-tag-5:before {content: "\e0b7";}
.moon-tag-6:before {content: "\e0b8";}
.moon-tag-7:before {content: "\e0b9";}
.moon-tags:before {content: "\e0ba";}
.moon-tags-2:before {content: "\e0bb";}
.moon-tag-8:before {content: "\e0bc";}
.moon-barcode:before {content: "\e0bd";}
.moon-barcode-2:before {content: "\e0be";}
.moon-qrcode:before {content: "\e0bf";}
.moon-ticket:before {content: "\e0c0";}
.moon-cart:before {content: "\e0c1";}
.moon-cart-2:before {content: "\e0c2";}
.moon-cart-3:before {content: "\e0c3";}
.moon-cart-4:before {content: "\e0c4";}
.moon-cart-5:before {content: "\e0c5";}
.moon-cart-6:before {content: "\e0c6";}
.moon-cart-7:before {content: "\e0c7";}
.moon-cart-plus:before {content: "\e0c8";}
.moon-cart-minus:before {content: "\e0c9";}
.moon-cart-add:before {content: "\e0ca";}
.moon-cart-remove:before {content: "\e0cb";}
.moon-cart-checkout:before {content: "\e0cc";}
.moon-cart-remove-2:before {content: "\e0cd";}
.moon-basket:before {content: "\e0ce";}
.moon-basket-2:before {content: "\e0cf";}
.moon-bag:before {content: "\e0d0";}
.moon-bag-2:before {content: "\e0d1";}
.moon-bag-3:before {content: "\e0d2";}
.moon-coin:before {content: "\e0d3";}
.moon-coins:before {content: "\e0d4";}
.moon-credit:before {content: "\e0d5";}
.moon-credit-2:before {content: "\e0d6";}
.moon-calculate:before {content: "\e0d7";}
.moon-calculate-2:before {content: "\e0d8";}
.moon-support:before {content: "\e0d9";}
.moon-phone:before {content: "\e0da";}
.moon-phone-2:before {content: "\e0db";}
.moon-phone-3:before {content: "\e0dc";}
.moon-phone-4:before {content: "\e0dd";}
.moon-contact-add:before {content: "\e0de";}
.moon-contact-remove:before {content: "\e0df";}
.moon-contact-add-2:before {content: "\e0e0";}
.moon-contact-remove-2:before {content: "\e0e1";}
.moon-call-incoming:before {content: "\e0e2";}
.moon-call-outgoing:before {content: "\e0e3";}
.moon-phone-5:before {content: "\e0e4";}
.moon-phone-6:before {content: "\e0e5";}
.moon-phone-hang-up:before {content: "\e0e6";}
.moon-phone-hang-up-2:before {content: "\e0e7";}
.moon-address-book:before {content: "\e0e8";}
.moon-address-book-2:before {content: "\e0e9";}
.moon-notebook:before {content: "\e0ea";}
.moon-envelop:before {content: "\e0eb";}
.moon-envelop-2:before {content: "\e0ec";}
.moon-mail-send:before {content: "\e0ed";}
.moon-envelop-opened:before {content: "\e0ee";}
.moon-envelop-3:before {content: "\e0ef";}
.moon-pushpin:before {content: "\e0f0";}
.moon-location:before {content: "\e0f1";}
.moon-location-2:before {content: "\e0f2";}
.moon-location-3:before {content: "\e0f3";}
.moon-location-4:before {content: "\e0f4";}
.moon-location-5:before {content: "\e0f5";}
.moon-location-6:before {content: "\e0f6";}
.moon-location-7:before {content: "\e0f7";}
.moon-compass:before {content: "\e0f8";}
.moon-compass-2:before {content: "\e0f9";}
.moon-map:before {content: "\e0fa";}
.moon-map-2:before {content: "\e0fb";}
.moon-map-3:before {content: "\e0fc";}
.moon-map-4:before {content: "\e0fd";}
.moon-direction:before {content: "\e0fe";}
.moon-history:before {content: "\e0ff";}
.moon-history-2:before {content: "\e100";}
.moon-clock:before {content: "\e101";}
.moon-clock-2:before {content: "\e102";}
.moon-clock-3:before {content: "\e103";}
.moon-clock-4:before {content: "\e104";}
.moon-watch:before {content: "\e105";}
.moon-clock-5:before {content: "\e106";}
.moon-clock-6:before {content: "\e107";}
.moon-clock-7:before {content: "\e108";}
.moon-alarm:before {content: "\e109";}
.moon-alarm-2:before {content: "\e10a";}
.moon-bell:before {content: "\e10b";}
.moon-bell-2:before {content: "\e10c";}
.moon-alarm-plus:before {content: "\e10d";}
.moon-alarm-minus:before {content: "\e10e";}
.moon-alarm-check:before {content: "\e10f";}
.moon-alarm-cancel:before {content: "\e110";}
.moon-stopwatch:before {content: "\e111";}
.moon-calendar:before {content: "\e112";}
.moon-calendar-2:before {content: "\e113";}
.moon-calendar-3:before {content: "\e114";}
.moon-calendar-4:before {content: "\e115";}
.moon-calendar-5:before {content: "\e116";}
.moon-print:before {content: "\e117";}
.moon-print-2:before {content: "\e118";}
.moon-print-3:before {content: "\e119";}
.moon-mouse:before {content: "\e11a";}
.moon-mouse-2:before {content: "\e11b";}
.moon-mouse-3:before {content: "\e11c";}
.moon-mouse-4:before {content: "\e11d";}
.moon-keyboard:before {content: "\e11e";}
.moon-keyboard-2:before {content: "\e11f";}
.moon-screen:before {content: "\e120";}
.moon-screen-2:before {content: "\e121";}
.moon-screen-3:before {content: "\e122";}
.moon-screen-4:before {content: "\e123";}
.moon-laptop:before {content: "\e124";}
.moon-mobile:before {content: "\e125";}
.moon-mobile-2:before {content: "\e126";}
.moon-tablet:before {content: "\e127";}
.moon-mobile-3:before {content: "\e128";}
.moon-tv:before {content: "\e129";}
.moon-cabinet:before {content: "\e12a";}
.moon-archive:before {content: "\e12b";}
.moon-drawer:before {content: "\e12c";}
.moon-drawer-2:before {content: "\e12d";}
.moon-drawer-3:before {content: "\e12e";}
.moon-box:before {content: "\e12f";}
.moon-box-add:before {content: "\e130";}
.moon-box-remove:before {content: "\e131";}
.moon-download:before {content: "\e132";}
.moon-upload:before {content: "\e133";}
.moon-disk:before {content: "\e134";}
.moon-cd:before {content: "\e135";}
.moon-storage:before {content: "\e136";}
.moon-storage-2:before {content: "\e137";}
.moon-database:before {content: "\e138";}
.moon-database-2:before {content: "\e139";}
.moon-database-3:before {content: "\e13a";}
.moon-undo:before {content: "\e13b";}
.moon-redo:before {content: "\e13c";}
.moon-rotate:before {content: "\e13d";}
.moon-rotate-2:before {content: "\e13e";}
.moon-flip:before {content: "\e13f";}
.moon-flip-2:before {content: "\e140";}
.moon-unite:before {content: "\e141";}
.moon-subtract:before {content: "\e142";}
.moon-interset:before {content: "\e143";}
.moon-exclude:before {content: "\e144";}
.moon-align-left:before {content: "\e145";}
.moon-align-center-horizontal:before {content: "\e146";}
.moon-align-right:before {content: "\e147";}
.moon-align-top:before {content: "\e148";}
.moon-align-center-vertical:before {content: "\e149";}
.moon-align-bottom:before {content: "\e14a";}
.moon-undo-2:before {content: "\e14b";}
.moon-redo-2:before {content: "\e14c";}
.moon-forward:before {content: "\e14d";}
.moon-reply:before {content: "\e14e";}
.moon-reply-2:before {content: "\e14f";}
.moon-bubble:before {content: "\e150";}
.moon-bubbles:before {content: "\e151";}
.moon-bubbles-2:before {content: "\e152";}
.moon-bubble-2:before {content: "\e153";}
.moon-bubbles-3:before {content: "\e154";}
.moon-bubbles-4:before {content: "\e155";}
.moon-bubble-notification:before {content: "\e156";}
.moon-bubbles-5:before {content: "\e157";}
.moon-bubbles-6:before {content: "\e158";}
.moon-bubble-3:before {content: "\e159";}
.moon-bubble-dots:before {content: "\e15a";}
.moon-bubble-4:before {content: "\e15b";}
.moon-bubble-5:before {content: "\e15c";}
.moon-bubble-dots-2:before {content: "\e15d";}
.moon-bubble-6:before {content: "\e15e";}
.moon-bubble-7:before {content: "\e15f";}
.moon-bubble-8:before {content: "\e160";}
.moon-bubbles-7:before {content: "\e161";}
.moon-bubble-9:before {content: "\e162";}
.moon-bubbles-8:before {content: "\e163";}
.moon-bubble-10:before {content: "\e164";}
.moon-bubble-dots-3:before {content: "\e165";}
.moon-bubble-11:before {content: "\e166";}
.moon-bubble-12:before {content: "\e167";}
.moon-bubble-dots-4:before {content: "\e168";}
.moon-bubble-13:before {content: "\e169";}
.moon-bubbles-9:before {content: "\e16a";}
.moon-bubbles-10:before {content: "\e16b";}
.moon-bubble-blocked:before {content: "\e16c";}
.moon-bubble-quote:before {content: "\e16d";}
.moon-bubble-user:before {content: "\e16e";}
.moon-bubble-check:before {content: "\e16f";}
.moon-bubble-video-chat:before {content: "\e170";}
.moon-bubble-link:before {content: "\e171";}
.moon-bubble-locked:before {content: "\e172";}
.moon-bubble-star:before {content: "\e173";}
.moon-bubble-heart:before {content: "\e174";}
.moon-bubble-paperclip:before {content: "\e175";}
.moon-bubble-cancel:before {content: "\e176";}
.moon-bubble-plus:before {content: "\e177";}
.moon-bubble-minus:before {content: "\e178";}
.moon-bubble-notification-2:before {content: "\e179";}
.moon-bubble-trash:before {content: "\e17a";}
.moon-bubble-left:before {content: "\e17b";}
.moon-bubble-right:before {content: "\e17c";}
.moon-bubble-up:before {content: "\e17d";}
.moon-bubble-down:before {content: "\e17e";}
.moon-bubble-first:before {content: "\e17f";}
.moon-bubble-last:before {content: "\e180";}
.moon-bubble-replu:before {content: "\e181";}
.moon-bubble-forward:before {content: "\e182";}
.moon-bubble-reply:before {content: "\e183";}
.moon-bubble-forward-2:before {content: "\e184";}
.moon-user:before {content: "\e185";}
.moon-users:before {content: "\e186";}
.moon-user-plus:before {content: "\e187";}
.moon-user-plus-2:before {content: "\e188";}
.moon-user-minus:before {content: "\e189";}
.moon-user-minus-2:before {content: "\e18a";}
.moon-user-cancel:before {content: "\e18b";}
.moon-user-block:before {content: "\e18c";}
.moon-users-2:before {content: "\e18d";}
.moon-user-2:before {content: "\e18e";}
.moon-users-3:before {content: "\e18f";}
.moon-user-plus-3:before {content: "\e190";}
.moon-user-minus-3:before {content: "\e191";}
.moon-user-cancel-2:before {content: "\e192";}
.moon-user-block-2:before {content: "\e193";}
.moon-user-3:before {content: "\e194";}
.moon-user-4:before {content: "\e195";}
.moon-user-5:before {content: "\e196";}
.moon-user-6:before {content: "\e197";}
.moon-users-4:before {content: "\e198";}
.moon-user-7:before {content: "\e199";}
.moon-user-8:before {content: "\e19a";}
.moon-users-5:before {content: "\e19b";}
.moon-vcard:before {content: "\e19c";}
.moon-tshirt:before {content: "\e19d";}
.moon-hanger:before {content: "\e19e";}
.moon-quotes-left:before {content: "\e19f";}
.moon-quotes-right:before {content: "\e1a0";}
.moon-quotes-right-2:before {content: "\e1a1";}
.moon-quotes-right-3:before {content: "\e1a2";}
.moon-busy:before {content: "\e1a3";}
.moon-busy-2:before {content: "\e1a4";}
.moon-busy-3:before {content: "\e1a5";}
.moon-busy-4:before {content: "\e1a6";}
.moon-spinner:before {content: "\e1a7";}
.moon-spinner-2:before {content: "\e1a8";}
.moon-spinner-3:before {content: "\e1a9";}
.moon-spinner-4:before {content: "\e1aa";}
.moon-spinner-5:before {content: "\e1ab";}
.moon-spinner-6:before {content: "\e1ac";}
.moon-spinner-7:before {content: "\e1ad";}
.moon-spinner-8:before {content: "\e1ae";}
.moon-spinner-9:before {content: "\e1af";}
.moon-spinner-10:before {content: "\e1b0";}
.moon-spinner-11:before {content: "\e1b1";}
.moon-spinner-12:before {content: "\e1b2";}
.moon-microscope:before {content: "\e1b3";}
.moon-binoculars:before {content: "\e1b4";}
.moon-binoculars-2:before {content: "\e1b5";}
.moon-search:before {content: "\e1b6";}
.moon-search-2:before {content: "\e1b7";}
.moon-zoom-in:before {content: "\e1b8";}
.moon-zoom-out:before {content: "\e1b9";}
.moon-search-3:before {content: "\e1ba";}
.moon-search-4:before {content: "\e1bb";}
.moon-zoom-in-2:before {content: "\e1bc";}
.moon-zoom-out-2:before {content: "\e1bd";}
.moon-search-5:before {content: "\e1be";}
.moon-expand:before {content: "\e1bf";}
.moon-contract:before {content: "\e1c0";}
.moon-scale-up:before {content: "\e1c1";}
.moon-scale-down:before {content: "\e1c2";}
.moon-expand-2:before {content: "\e1c3";}
.moon-contract-2:before {content: "\e1c4";}
.moon-scale-up-2:before {content: "\e1c5";}
.moon-scale-down-2:before {content: "\e1c6";}
.moon-fullscreen:before {content: "\e1c7";}
.moon-expand-3:before {content: "\e1c8";}
.moon-contract-3:before {content: "\e1c9";}
.moon-key:before {content: "\e1ca";}
.moon-key-2:before {content: "\e1cb";}
.moon-key-3:before {content: "\e1cc";}
.moon-key-4:before {content: "\e1cd";}
.moon-key-5:before {content: "\e1ce";}
.moon-keyhole:before {content: "\e1cf";}
.moon-lock:before {content: "\e1d0";}
.moon-lock-2:before {content: "\e1d1";}
.moon-lock-3:before {content: "\e1d2";}
.moon-lock-4:before {content: "\e1d3";}
.moon-unlocked:before {content: "\e1d4";}
.moon-lock-5:before {content: "\e1d5";}
.moon-unlocked-2:before {content: "\e1d6";}
.moon-wrench:before {content: "\e1d7";}
.moon-wrench-2:before {content: "\e1d8";}
.moon-wrench-3:before {content: "\e1d9";}
.moon-wrench-4:before {content: "\e1da";}
.moon-settings:before {content: "\e1db";}
.moon-equalizer:before {content: "\e1dc";}
.moon-equalizer-2:before {content: "\e1dd";}
.moon-equalizer-3:before {content: "\e1de";}
.moon-cog:before {content: "\e1df";}
.moon-cogs:before {content: "\e1e0";}
.moon-cog-2:before {content: "\e1e1";}
.moon-cog-3:before {content: "\e1e2";}
.moon-cog-4:before {content: "\e1e3";}
.moon-cog-5:before {content: "\e1e4";}
.moon-cog-6:before {content: "\e1e5";}
.moon-cog-7:before {content: "\e1e6";}
.moon-factory:before {content: "\e1e7";}
.moon-hammer:before {content: "\e1e8";}
.moon-tools:before {content: "\e1e9";}
.moon-screwdriver:before {content: "\e1ea";}
.moon-screwdriver-2:before {content: "\e1eb";}
.moon-wand:before {content: "\e1ec";}
.moon-wand-2:before {content: "\e1ed";}
.moon-health:before {content: "\e1ee";}
.moon-aid:before {content: "\e1ef";}
.moon-patch:before {content: "\e1f0";}
.moon-bug:before {content: "\e1f1";}
.moon-bug-2:before {content: "\e1f2";}
.moon-inject:before {content: "\e1f3";}
.moon-inject-2:before {content: "\e1f4";}
.moon-construction:before {content: "\e1f5";}
.moon-cone:before {content: "\e1f6";}
.moon-pie:before {content: "\e1f7";}
.moon-pie-2:before {content: "\e1f8";}
.moon-pie-3:before {content: "\e1f9";}
.moon-pie-4:before {content: "\e1fa";}
.moon-pie-5:before {content: "\e1fb";}
.moon-pie-6:before {content: "\e1fc";}
.moon-pie-7:before {content: "\e1fd";}
.moon-stats:before {content: "\e1fe";}
.moon-stats-2:before {content: "\e1ff";}
.moon-stats-3:before {content: "\e200";}
.moon-bars:before {content: "\e201";}
.moon-bars-2:before {content: "\e202";}
.moon-bars-3:before {content: "\e203";}
.moon-bars-4:before {content: "\e204";}
.moon-bars-5:before {content: "\e205";}
.moon-bars-6:before {content: "\e206";}
.moon-stats-up:before {content: "\e207";}
.moon-stats-down:before {content: "\e208";}
.moon-stairs-down:before {content: "\e209";}
.moon-stairs-down-2:before {content: "\e20a";}
.moon-chart:before {content: "\e20b";}
.moon-stairs:before {content: "\e20c";}
.moon-stairs-2:before {content: "\e20d";}
.moon-ladder:before {content: "\e20e";}
.moon-cake:before {content: "\e20f";}
.moon-gift:before {content: "\e210";}
.moon-gift-2:before {content: "\e211";}
.moon-balloon:before {content: "\e212";}
.moon-rating:before {content: "\e213";}
.moon-rating-2:before {content: "\e214";}
.moon-rating-3:before {content: "\e215";}
.moon-podium:before {content: "\e216";}
.moon-medal:before {content: "\e217";}
.moon-medal-2:before {content: "\e218";}
.moon-medal-3:before {content: "\e219";}
.moon-medal-4:before {content: "\e21a";}
.moon-medal-5:before {content: "\e21b";}
.moon-crown:before {content: "\e21c";}
.moon-trophy:before {content: "\e21d";}
.moon-trophy-2:before {content: "\e21e";}
.moon-trophy-star:before {content: "\e21f";}
.moon-diamond:before {content: "\e220";}
.moon-diamond-2:before {content: "\e221";}
.moon-glass:before {content: "\e222";}
.moon-glass-2:before {content: "\e223";}
.moon-bottle:before {content: "\e224";}
.moon-bottle-2:before {content: "\e225";}
.moon-mug:before {content: "\e226";}
.moon-food:before {content: "\e227";}
.moon-food-2:before {content: "\e228";}
.moon-hamburger:before {content: "\e229";}
.moon-cup:before {content: "\e22a";}
.moon-cup-2:before {content: "\e22b";}
.moon-leaf:before {content: "\e22c";}
.moon-leaf-2:before {content: "\e22d";}
.moon-apple-fruit:before {content: "\e22e";}
.moon-tree:before {content: "\e22f";}
.moon-tree-2:before {content: "\e230";}
.moon-paw:before {content: "\e231";}
.moon-steps:before {content: "\e232";}
.moon-flower:before {content: "\e233";}
.moon-rocket:before {content: "\e234";}
.moon-meter:before {content: "\e235";}
.moon-meter2:before {content: "\e236";}
.moon-meter-slow:before {content: "\e237";}
.moon-meter-medium:before {content: "\e238";}
.moon-meter-fast:before {content: "\e239";}
.moon-dashboard:before {content: "\e23a";}
.moon-hammer-2:before {content: "\e23b";}
.moon-balance:before {content: "\e23c";}
.moon-bomb:before {content: "\e23d";}
.moon-fire:before {content: "\e23e";}
.moon-fire-2:before {content: "\e23f";}
.moon-lab:before {content: "\e240";}
.moon-atom:before {content: "\e241";}
.moon-atom-2:before {content: "\e242";}
.moon-magnet:before {content: "\e243";}
.moon-magnet-2:before {content: "\e244";}
.moon-magnet-3:before {content: "\e245";}
.moon-magnet-4:before {content: "\e246";}
.moon-dumbbell:before {content: "\e247";}
.moon-skull:before {content: "\e248";}
.moon-skull-2:before {content: "\e249";}
.moon-skull-3:before {content: "\e24a";}
.moon-lamp:before {content: "\e24b";}
.moon-lamp-2:before {content: "\e24c";}
.moon-lamp-3:before {content: "\e24d";}
.moon-lamp-4:before {content: "\e24e";}
.moon-remove:before {content: "\e24f";}
.moon-remove-2:before {content: "\e250";}
.moon-remove-3:before {content: "\e251";}
.moon-remove-4:before {content: "\e252";}
.moon-remove-5:before {content: "\e253";}
.moon-remove-6:before {content: "\e254";}
.moon-remove-7:before {content: "\e255";}
.moon-remove-8:before {content: "\e256";}
.moon-briefcase:before {content: "\e257";}
.moon-briefcase-2:before {content: "\e258";}
.moon-briefcase-3:before {content: "\e259";}
.moon-airplane:before {content: "\e25a";}
.moon-airplane-2:before {content: "\e25b";}
.moon-paper-plane:before {content: "\e25c";}
.moon-car:before {content: "\e25d";}
.moon-gas-pump:before {content: "\e25e";}
.moon-bus:before {content: "\e25f";}
.moon-truck:before {content: "\e260";}
.moon-bike:before {content: "\e261";}
.moon-road:before {content: "\e262";}
.moon-train:before {content: "\e263";}
.moon-ship:before {content: "\e264";}
.moon-boat:before {content: "\e265";}
.moon-cube:before {content: "\e266";}
.moon-cube-2:before {content: "\e267";}
.moon-cube-3:before {content: "\e268";}
.moon-cube4:before {content: "\e269";}
.moon-pyramid:before {content: "\e26a";}
.moon-pyramid-2:before {content: "\e26b";}
.moon-cylinder:before {content: "\e26c";}
.moon-package:before {content: "\e26d";}
.moon-puzzle:before {content: "\e26e";}
.moon-puzzle-2:before {content: "\e26f";}
.moon-puzzle-3:before {content: "\e270";}
.moon-puzzle-4:before {content: "\e271";}
.moon-glasses:before {content: "\e272";}
.moon-glasses-2:before {content: "\e273";}
.moon-glasses-3:before {content: "\e274";}
.moon-sun-glasses:before {content: "\e275";}
.moon-accessibility:before {content: "\e276";}
.moon-accessibility-2:before {content: "\e277";}
.moon-brain:before {content: "\e278";}
.moon-target:before {content: "\e279";}
.moon-target-2:before {content: "\e27a";}
.moon-target-3:before {content: "\e27b";}
.moon-gun:before {content: "\e27c";}
.moon-gun-ban:before {content: "\e27d";}
.moon-shield:before {content: "\e27e";}
.moon-shield-2:before {content: "\e27f";}
.moon-shield-3:before {content: "\e280";}
.moon-shield-4:before {content: "\e281";}
.moon-soccer:before {content: "\e282";}
.moon-football:before {content: "\e283";}
.moon-baseball:before {content: "\e284";}
.moon-basketball:before {content: "\e285";}
.moon-golf:before {content: "\e286";}
.moon-hockey:before {content: "\e287";}
.moon-racing:before {content: "\e288";}
.moon-eight-ball:before {content: "\e289";}
.moon-bowling-ball:before {content: "\e28a";}
.moon-bowling:before {content: "\e28b";}
.moon-bowling-2:before {content: "\e28c";}
.moon-lightning:before {content: "\e28d";}
.moon-power:before {content: "\e28e";}
.moon-power-2:before {content: "\e28f";}
.moon-switch:before {content: "\e290";}
.moon-power-cord:before {content: "\e291";}
.moon-cord:before {content: "\e292";}
.moon-socket:before {content: "\e293";}
.moon-clipboard:before {content: "\e294";}
.moon-clipboard-2:before {content: "\e295";}
.moon-signup:before {content: "\e296";}
.moon-clipboard-3:before {content: "\e297";}
.moon-clipboard-4:before {content: "\e298";}
.moon-list:before {content: "\e299";}
.moon-list-2:before {content: "\e29a";}
.moon-list-3:before {content: "\e29b";}
.moon-numbered-list:before {content: "\e29c";}
.moon-list-4:before {content: "\e29d";}
.moon-list-5:before {content: "\e29e";}
.moon-playlist:before {content: "\e29f";}
.moon-grid:before {content: "\e2a0";}
.moon-grid-2:before {content: "\e2a1";}
.moon-grid-3:before {content: "\e2a2";}
.moon-grid-4:before {content: "\e2a3";}
.moon-grid-5:before {content: "\e2a4";}
.moon-grid-6:before {content: "\e2a5";}
.moon-tree-3:before {content: "\e2a6";}
.moon-tree-4:before {content: "\e2a7";}
.moon-tree-5:before {content: "\e2a8";}
.moon-menu:before {content: "\e2a9";}
.moon-menu-2:before {content: "\e2aa";}
.moon-circle-small:before {content: "\e2ab";}
.moon-menu-3:before {content: "\e2ac";}
.moon-menu-4:before {content: "\e2ad";}
.moon-menu-5:before {content: "\e2ae";}
.moon-menu-6:before {content: "\e2af";}
.moon-menu-7:before {content: "\e2b0";}
.moon-menu-8:before {content: "\e2b1";}
.moon-menu-9:before {content: "\e2b2";}
.moon-cloud:before {content: "\e2b3";}
.moon-cloud-2:before {content: "\e2b4";}
.moon-cloud-3:before {content: "\e2b5";}
.moon-cloud-download:before {content: "\e2b6";}
.moon-cloud-upload:before {content: "\e2b7";}
.moon-download-2:before {content: "\e2b8";}
.moon-upload-2:before {content: "\e2b9";}
.moon-download-3:before {content: "\e2ba";}
.moon-upload-3:before {content: "\e2bb";}
.moon-download-4:before {content: "\e2bc";}
.moon-upload-4:before {content: "\e2bd";}
.moon-download-5:before {content: "\e2be";}
.moon-upload-5:before {content: "\e2bf";}
.moon-download-6:before {content: "\e2c0";}
.moon-upload-6:before {content: "\e2c1";}
.moon-download-7:before {content: "\e2c2";}
.moon-upload-7:before {content: "\e2c3";}
.moon-globe:before {content: "\e2c4";}
.moon-globe-2:before {content: "\e2c5";}
.moon-globe-3:before {content: "\e2c6";}
.moon-earth:before {content: "\e2c7";}
.moon-network:before {content: "\e2c8";}
.moon-link:before {content: "\e2c9";}
.moon-link-2:before {content: "\e2ca";}
.moon-link-3:before {content: "\e2cb";}
.moon-link2:before {content: "\e2cc";}
.moon-link-4:before {content: "\e2cd";}
.moon-link-5:before {content: "\e2ce";}
.moon-link-6:before {content: "\e2cf";}
.moon-anchor:before {content: "\e2d0";}
.moon-flag:before {content: "\e2d1";}
.moon-flag-2:before {content: "\e2d2";}
.moon-flag-3:before {content: "\e2d3";}
.moon-flag-4:before {content: "\e2d4";}
.moon-flag-5:before {content: "\e2d5";}
.moon-flag-6:before {content: "\e2d6";}
.moon-attachment:before {content: "\e2d7";}
.moon-attachment-2:before {content: "\e2d8";}
.moon-eye:before {content: "\e2d9";}
.moon-eye-blocked:before {content: "\e2da";}
.moon-eye-2:before {content: "\e2db";}
.moon-eye-3:before {content: "\e2dc";}
.moon-eye-blocked-2:before {content: "\e2dd";}
.moon-eye-4:before {content: "\e2de";}
.moon-eye-5:before {content: "\e2df";}
.moon-eye-6:before {content: "\e2e0";}
.moon-eye-7:before {content: "\e2e1";}
.moon-eye-8:before {content: "\e2e2";}
.moon-bookmark:before {content: "\e2e3";}
.moon-bookmark-2:before {content: "\e2e4";}
.moon-bookmarks:before {content: "\e2e5";}
.moon-bookmark-3:before {content: "\e2e6";}
.moon-spotlight:before {content: "\e2e7";}
.moon-starburst:before {content: "\e2e8";}
.moon-snowflake:before {content: "\e2e9";}
.moon-temperature:before {content: "\e2ea";}
.moon-temperature-2:before {content: "\e2eb";}
.moon-weather-lightning:before {content: "\e2ec";}
.moon-weather-rain:before {content: "\e2ed";}
.moon-weather-snow:before {content: "\e2ee";}
.moon-windy:before {content: "\e2ef";}
.moon-fan:before {content: "\e2f0";}
.moon-umbrella:before {content: "\e2f1";}
.moon-sun:before {content: "\e2f2";}
.moon-sun-2:before {content: "\e2f3";}
.moon-brightness-high:before {content: "\e2f4";}
.moon-brightness-medium:before {content: "\e2f5";}
.moon-brightness-low:before {content: "\e2f6";}
.moon-brightness-contrast:before {content: "\e2f7";}
.moon-contrast:before {content: "\e2f8";}
.moon-moon:before {content: "\e2f9";}
.moon-bed:before {content: "\e2fa";}
.moon-bed-2:before {content: "\e2fb";}
.moon-star:before {content: "\e2fc";}
.moon-star-2:before {content: "\e2fd";}
.moon-star-3:before {content: "\e2fe";}
.moon-star-4:before {content: "\e2ff";}
.moon-star-5:before {content: "\e300";}
.moon-star-6:before {content: "\e301";}
.moon-heart:before {content: "\e302";}
.moon-heart-2:before {content: "\e303";}
.moon-heart-3:before {content: "\e304";}
.moon-heart-4:before {content: "\e305";}
.moon-heart-broken:before {content: "\e306";}
.moon-heart-5:before {content: "\e307";}
.moon-heart-6:before {content: "\e308";}
.moon-heart-broken-2:before {content: "\e309";}
.moon-heart-7:before {content: "\e30a";}
.moon-heart-8:before {content: "\e30b";}
.moon-heart-broken-3:before {content: "\e30c";}
.moon-lips:before {content: "\e30d";}
.moon-lips-2:before {content: "\e30e";}
.moon-thumbs-up:before {content: "\e30f";}
.moon-thumbs-up-2:before {content: "\e310";}
.moon-thumbs-down:before {content: "\e311";}
.moon-thumbs-down-2:before {content: "\e312";}
.moon-thumbs-up-3:before {content: "\e313";}
.moon-thumbs-up-4:before {content: "\e314";}
.moon-thumbs-up-5:before {content: "\e315";}
.moon-thumbs-up-6:before {content: "\e316";}
.moon-people:before {content: "\e317";}
.moon-man:before {content: "\e318";}
.moon-male:before {content: "\e319";}
.moon-woman:before {content: "\e31a";}
.moon-female:before {content: "\e31b";}
.moon-peace:before {content: "\e31c";}
.moon-yin-yang:before {content: "\e31d";}
.moon-happy:before {content: "\e31e";}
.moon-happy-2:before {content: "\e31f";}
.moon-smiley:before {content: "\e320";}
.moon-smiley-2:before {content: "\e321";}
.moon-tongue:before {content: "\e322";}
.moon-tongue-2:before {content: "\e323";}
.moon-sad:before {content: "\e324";}
.moon-sad-2:before {content: "\e325";}
.moon-wink:before {content: "\e326";}
.moon-wink-2:before {content: "\e327";}
.moon-grin:before {content: "\e328";}
.moon-grin-2:before {content: "\e329";}
.moon-cool:before {content: "\e32a";}
.moon-cool-2:before {content: "\e32b";}
.moon-angry:before {content: "\e32c";}
.moon-angry-2:before {content: "\e32d";}
.moon-evil:before {content: "\e32e";}
.moon-evil-2:before {content: "\e32f";}
.moon-shocked:before {content: "\e330";}
.moon-shocked-2:before {content: "\e331";}
.moon-confused:before {content: "\e332";}
.moon-confused-2:before {content: "\e333";}
.moon-neutral:before {content: "\e334";}
.moon-neutral-2:before {content: "\e335";}
.moon-wondering:before {content: "\e336";}
.moon-wondering-2:before {content: "\e337";}
.moon-cursor:before {content: "\e338";}
.moon-cursor-2:before {content: "\e339";}
.moon-point-up:before {content: "\e33a";}
.moon-point-right:before {content: "\e33b";}
.moon-point-down:before {content: "\e33c";}
.moon-point-left:before {content: "\e33d";}
.moon-pointer:before {content: "\e33e";}
.moon-hand:before {content: "\e33f";}
.moon-stack-empty:before {content: "\e340";}
.moon-stack-plus:before {content: "\e341";}
.moon-stack-minus:before {content: "\e342";}
.moon-stack-star:before {content: "\e343";}
.moon-stack-picture:before {content: "\e344";}
.moon-stack-down:before {content: "\e345";}
.moon-stack-up:before {content: "\e346";}
.moon-stack-cancel:before {content: "\e347";}
.moon-stack-checkmark:before {content: "\e348";}
.moon-stack-list:before {content: "\e349";}
.moon-stack-clubs:before {content: "\e34a";}
.moon-stack-spades:before {content: "\e34b";}
.moon-stack-hearts:before {content: "\e34c";}
.moon-stack-diamonds:before {content: "\e34d";}
.moon-stack-user:before {content: "\e34e";}
.moon-stack-4:before {content: "\e34f";}
.moon-stack-music:before {content: "\e350";}
.moon-stack-play:before {content: "\e351";}
.moon-move:before {content: "\e352";}
.moon-resize:before {content: "\e353";}
.moon-resize-2:before {content: "\e354";}
.moon-warning:before {content: "\e355";}
.moon-warning-2:before {content: "\e356";}
.moon-notification:before {content: "\e357";}
.moon-notification-2:before {content: "\e358";}
.moon-question:before {content: "\e359";}
.moon-question-2:before {content: "\e35a";}
.moon-question-3:before {content: "\e35b";}
.moon-question-4:before {content: "\e35c";}
.moon-question-5:before {content: "\e35d";}
.moon-plus-circle:before {content: "\e35e";}
.moon-plus-circle-2:before {content: "\e35f";}
.moon-minus-circle:before {content: "\e360";}
.moon-minus-circle-2:before {content: "\e361";}
.moon-info:before {content: "\e362";}
.moon-info-2:before {content: "\e363";}
.moon-blocked:before {content: "\e364";}
.moon-cancel-circle:before {content: "\e365";}
.moon-cancel-circle-2:before {content: "\e366";}
.moon-checkmark-circle:before {content: "\e367";}
.moon-checkmark-circle-2:before {content: "\e368";}
.moon-cancel:before {content: "\e369";}
.moon-spam:before {content: "\e36a";}
.moon-close:before {content: "\e36b";}
.moon-close-2:before {content: "\e36c";}
.moon-close-3:before {content: "\e36d";}
.moon-close-4:before {content: "\e36e";}
.moon-close-5:before {content: "\e36f";}
.moon-checkmark:before {content: "\e370";}
.moon-checkmark-2:before {content: "\e371";}
.moon-checkmark-3:before {content: "\e372";}
.moon-checkmark-4:before {content: "\e373";}
.moon-spell-check:before {content: "\e374";}
.moon-minus:before {content: "\e375";}
.moon-plus:before {content: "\e376";}
.moon-minus-2:before {content: "\e377";}
.moon-plus-2:before {content: "\e378";}
.moon-enter:before {content: "\e379";}
.moon-exit:before {content: "\e37a";}
.moon-enter-2:before {content: "\e37b";}
.moon-exit-2:before {content: "\e37c";}
.moon-enter-3:before {content: "\e37d";}
.moon-exit-3:before {content: "\e37e";}
.moon-exit-4:before {content: "\e37f";}
.moon-play-3:before {content: "\e380";}
.moon-pause:before {content: "\e381";}
.moon-stop:before {content: "\e382";}
.moon-backward:before {content: "\e383";}
.moon-forward-2:before {content: "\e384";}
.moon-play-4:before {content: "\e385";}
.moon-pause-2:before {content: "\e386";}
.moon-stop-2:before {content: "\e387";}
.moon-backward-2:before {content: "\e388";}
.moon-forward-3:before {content: "\e389";}
.moon-first:before {content: "\e38a";}
.moon-last:before {content: "\e38b";}
.moon-previous:before {content: "\e38c";}
.moon-next:before {content: "\e38d";}
.moon-eject:before {content: "\e38e";}
.moon-volume-high:before {content: "\e38f";}
.moon-volume-medium:before {content: "\e390";}
.moon-volume-low:before {content: "\e391";}
.moon-volume-mute:before {content: "\e392";}
.moon-volume-mute-2:before {content: "\e393";}
.moon-volume-increase:before {content: "\e394";}
.moon-volume-decrease:before {content: "\e395";}
.moon-volume-high-2:before {content: "\e396";}
.moon-volume-medium-2:before {content: "\e397";}
.moon-volume-low-2:before {content: "\e398";}
.moon-volume-mute-3:before {content: "\e399";}
.moon-volume-mute-4:before {content: "\e39a";}
.moon-volume-increase-2:before {content: "\e39b";}
.moon-volume-decrease-2:before {content: "\e39c";}
.moon-volume5:before {content: "\e39d";}
.moon-volume4:before {content: "\e39e";}
.moon-volume3:before {content: "\e39f";}
.moon-volume2:before {content: "\e3a0";}
.moon-volume1:before {content: "\e3a1";}
.moon-volume0:before {content: "\e3a2";}
.moon-volume-mute-5:before {content: "\e3a3";}
.moon-volume-mute-6:before {content: "\e3a4";}
.moon-loop:before {content: "\e3a5";}
.moon-loop-2:before {content: "\e3a6";}
.moon-loop-3:before {content: "\e3a7";}
.moon-loop-4:before {content: "\e3a8";}
.moon-loop-5:before {content: "\e3a9";}
.moon-shuffle:before {content: "\e3aa";}
.moon-shuffle-2:before {content: "\e3ab";}
.moon-wave:before {content: "\e3ac";}
.moon-wave-2:before {content: "\e3ad";}
.moon-arrow-first:before {content: "\e3ae";}
.moon-arrow-right:before {content: "\e3af";}
.moon-arrow-up:before {content: "\e3b0";}
.moon-arrow-right-2:before {content: "\e3b1";}
.moon-arrow-down:before {content: "\e3b2";}
.moon-arrow-left:before {content: "\e3b3";}
.moon-arrow-up-2:before {content: "\e3b4";}
.moon-arrow-right-3:before {content: "\e3b5";}
.moon-arrow-down-2:before {content: "\e3b6";}
.moon-arrow-left-2:before {content: "\e3b7";}
.moon-arrow-up-left:before {content: "\e3b8";}
.moon-arrow-up-3:before {content: "\e3b9";}
.moon-arrow-up-right:before {content: "\e3ba";}
.moon-arrow-right-4:before {content: "\e3bb";}
.moon-arrow-down-right:before {content: "\e3bc";}
.moon-arrow-down-3:before {content: "\e3bd";}
.moon-arrow-down-left:before {content: "\e3be";}
.moon-arrow-left-3:before {content: "\e3bf";}
.moon-arrow-up-left-2:before {content: "\e3c0";}
.moon-arrow-up-4:before {content: "\e3c1";}
.moon-arrow-up-right-2:before {content: "\e3c2";}
.moon-arrow-right-5:before {content: "\e3c3";}
.moon-arrow-down-right-2:before {content: "\e3c4";}
.moon-arrow-down-4:before {content: "\e3c5";}
.moon-arrow-down-left-2:before {content: "\e3c6";}
.moon-arrow-left-4:before {content: "\e3c7";}
.moon-arrow-up-left-3:before {content: "\e3c8";}
.moon-arrow-up-5:before {content: "\e3c9";}
.moon-arrow-up-right-3:before {content: "\e3ca";}
.moon-arrow-right-6:before {content: "\e3cb";}
.moon-arrow-down-right-3:before {content: "\e3cc";}
.moon-arrow-down-5:before {content: "\e3cd";}
.moon-arrow-down-left-3:before {content: "\e3ce";}
.moon-arrow-left-5:before {content: "\e3cf";}
.moon-arrow-up-left-4:before {content: "\e3d0";}
.moon-arrow-up-6:before {content: "\e3d1";}
.moon-arrow-up-right-4:before {content: "\e3d2";}
.moon-arrow-right-7:before {content: "\e3d3";}
.moon-arrow-down-right-4:before {content: "\e3d4";}
.moon-arrow-down-6:before {content: "\e3d5";}
.moon-arrow-down-left-4:before {content: "\e3d6";}
.moon-arrow-left-6:before {content: "\e3d7";}
.moon-arrow:before {content: "\e3d8";}
.moon-arrow-2:before {content: "\e3d9";}
.moon-arrow-3:before {content: "\e3da";}
.moon-arrow-4:before {content: "\e3db";}
.moon-arrow-5:before {content: "\e3dc";}
.moon-arrow-6:before {content: "\e3dd";}
.moon-arrow-7:before {content: "\e3de";}
.moon-arrow-8:before {content: "\e3df";}
.moon-arrow-up-left-5:before {content: "\e3e0";}
.moon-arrow-square:before {content: "\e3e1";}
.moon-arrow-up-right-5:before {content: "\e3e2";}
.moon-arrow-right-8:before {content: "\e3e3";}
.moon-arrow-down-right-5:before {content: "\e3e4";}
.moon-arrow-down-7:before {content: "\e3e5";}
.moon-arrow-down-left-5:before {content: "\e3e6";}
.moon-arrow-left-7:before {content: "\e3e7";}
.moon-arrow-up-7:before {content: "\e3e8";}
.moon-arrow-right-9:before {content: "\e3e9";}
.moon-arrow-down-8:before {content: "\e3ea";}
.moon-arrow-left-8:before {content: "\e3eb";}
.moon-arrow-up-8:before {content: "\e3ec";}
.moon-arrow-right-10:before {content: "\e3ed";}
.moon-arrow-bottom:before {content: "\e3ee";}
.moon-arrow-left-9:before {content: "\e3ef";}
.moon-arrow-up-left-6:before {content: "\e3f0";}
.moon-arrow-up-9:before {content: "\e3f1";}
.moon-arrow-up-right-6:before {content: "\e3f2";}
.moon-arrow-right-11:before {content: "\e3f3";}
.moon-arrow-down-right-6:before {content: "\e3f4";}
.moon-arrow-down-9:before {content: "\e3f5";}
.moon-arrow-down-left-6:before {content: "\e3f6";}
.moon-arrow-left-10:before {content: "\e3f7";}
.moon-arrow-up-left-7:before {content: "\e3f8";}
.moon-arrow-up-10:before {content: "\e3f9";}
.moon-arrow-up-right-7:before {content: "\e3fa";}
.moon-arrow-right-12:before {content: "\e3fb";}
.moon-arrow-down-right-7:before {content: "\e3fc";}
.moon-arrow-down-10:before {content: "\e3fd";}
.moon-arrow-down-left-7:before {content: "\e3fe";}
.moon-arrow-left-11:before {content: "\e3ff";}
.moon-arrow-up-11:before {content: "\e400";}
.moon-arrow-right-13:before {content: "\e401";}
.moon-arrow-down-11:before {content: "\e402";}
.moon-arrow-left-12:before {content: "\e403";}
.moon-arrow-up-12:before {content: "\e404";}
.moon-arrow-right-14:before {content: "\e405";}
.moon-arrow-down-12:before {content: "\e406";}
.moon-arrow-left-13:before {content: "\e407";}
.moon-arrow-up-13:before {content: "\e408";}
.moon-arrow-right-15:before {content: "\e409";}
.moon-arrow-down-13:before {content: "\e40a";}
.moon-arrow-left-14:before {content: "\e40b";}
.moon-arrow-up-14:before {content: "\e40c";}
.moon-arrow-right-16:before {content: "\e40d";}
.moon-arrow-down-14:before {content: "\e40e";}
.moon-arrow-left-15:before {content: "\e40f";}
.moon-arrow-up-15:before {content: "\e410";}
.moon-arrow-right-17:before {content: "\e411";}
.moon-arrow-down-15:before {content: "\e412";}
.moon-arrow-left-16:before {content: "\e413";}
.moon-arrow-up-16:before {content: "\e414";}
.moon-arrow-right-18:before {content: "\e415";}
.moon-arrow-down-16:before {content: "\e416";}
.moon-arrow-left-17:before {content: "\e417";}
.moon-menu-10:before {content: "\e418";}
.moon-menu-11:before {content: "\e419";}
.moon-menu-close:before {content: "\e41a";}
.moon-menu-close-2:before {content: "\e41b";}
.moon-enter-4:before {content: "\e41c";}
.moon-enter-5:before {content: "\e41d";}
.moon-esc:before {content: "\e41e";}
.moon-backspace:before {content: "\e41f";}
.moon-backspace-2:before {content: "\e420";}
.moon-backspace-3:before {content: "\e421";}
.moon-tab:before {content: "\e422";}
.moon-transmission:before {content: "\e423";}
.moon-transmission-2:before {content: "\e424";}
.moon-sort:before {content: "\e425";}
.moon-sort-2:before {content: "\e426";}
.moon-key-keyboard:before {content: "\e427";}
.moon-key-A:before {content: "\e428";}
.moon-key-up:before {content: "\e429";}
.moon-key-right:before {content: "\e42a";}
.moon-key-down:before {content: "\e42b";}
.moon-key-left:before {content: "\e42c";}
.moon-command:before {content: "\e42d";}
.moon-checkbox-checked:before {content: "\e42e";}
.moon-checkbox-unchecked:before {content: "\e42f";}
.moon-square:before {content: "\e430";}
.moon-checkbox-partial:before {content: "\e431";}
.moon-checkbox:before {content: "\e432";}
.moon-checkbox-unchecked-2:before {content: "\e433";}
.moon-checkbox-partial-2:before {content: "\e434";}
.moon-checkbox-checked-2:before {content: "\e435";}
.moon-checkbox-unchecked-3:before {content: "\e436";}
.moon-checkbox-partial-3:before {content: "\e437";}
.moon-radio-checked:before {content: "\e438";}
.moon-radio-unchecked:before {content: "\e439";}
.moon-circle:before {content: "\e43a";}
.moon-circle-2:before {content: "\e43b";}
.moon-crop:before {content: "\e43c";}
.moon-crop-2:before {content: "\e43d";}
.moon-vector:before {content: "\e43e";}
.moon-rulers:before {content: "\e43f";}
.moon-scissors:before {content: "\e440";}
.moon-scissors-2:before {content: "\e441";}
.moon-scissors-3:before {content: "\e442";}
.moon-filter:before {content: "\e443";}
.moon-filter-2:before {content: "\e444";}
.moon-filter-3:before {content: "\e445";}
.moon-filter-4:before {content: "\e446";}
.moon-font:before {content: "\e447";}
.moon-font-size:before {content: "\e448";}
.moon-type:before {content: "\e449";}
.moon-text-height:before {content: "\e44a";}
.moon-text-width:before {content: "\e44b";}
.moon-height:before {content: "\e44c";}
.moon-width:before {content: "\e44d";}
.moon-bold:before {content: "\e44e";}
.moon-underline:before {content: "\e44f";}
.moon-italic:before {content: "\e450";}
.moon-strikethrough:before {content: "\e451";}
.moon-strikethrough-2:before {content: "\e452";}
.moon-font-size-2:before {content: "\e453";}
.moon-bold-2:before {content: "\e454";}
.moon-underline-2:before {content: "\e455";}
.moon-italic-2:before {content: "\e456";}
.moon-strikethrough-3:before {content: "\e457";}
.moon-omega:before {content: "\e458";}
.moon-sigma:before {content: "\e459";}
.moon-nbsp:before {content: "\e45a";}
.moon-page-break:before {content: "\e45b";}
.moon-page-break-2:before {content: "\e45c";}
.moon-superscript:before {content: "\e45d";}
.moon-subscript:before {content: "\e45e";}
.moon-superscript-2:before {content: "\e45f";}
.moon-subscript-2:before {content: "\e460";}
.moon-text-color:before {content: "\e461";}
.moon-highlight:before {content: "\e462";}
.moon-pagebreak:before {content: "\e463";}
.moon-clear-formatting:before {content: "\e464";}
.moon-table:before {content: "\e465";}
.moon-table-2:before {content: "\e466";}
.moon-insert-template:before {content: "\e467";}
.moon-pilcrow:before {content: "\e468";}
.moon-left-to-right:before {content: "\e469";}
.moon-right-to-left:before {content: "\e46a";}
.moon-paragraph-left:before {content: "\e46b";}
.moon-paragraph-center:before {content: "\e46c";}
.moon-paragraph-right:before {content: "\e46d";}
.moon-paragraph-justify:before {content: "\e46e";}
.moon-paragraph-left-2:before {content: "\e46f";}
.moon-paragraph-center-2:before {content: "\e470";}
.moon-paragraph-right-2:before {content: "\e471";}
.moon-paragraph-justify-2:before {content: "\e472";}
.moon-indent-increase:before {content: "\e473";}
.moon-indent-decrease:before {content: "\e474";}
.moon-paragraph-left-3:before {content: "\e475";}
.moon-paragraph-center-3:before {content: "\e476";}
.moon-paragraph-right-3:before {content: "\e477";}
.moon-paragraph-justify-3:before {content: "\e478";}
.moon-indent-increase-2:before {content: "\e479";}
.moon-indent-decrease-2:before {content: "\e47a";}
.moon-share:before {content: "\e47b";}
.moon-new-tab:before {content: "\e47c";}
.moon-new-tab-2:before {content: "\e47d";}
.moon-popout:before {content: "\e47e";}
.moon-embed:before {content: "\e47f";}
.moon-code:before {content: "\e480";}
.moon-console:before {content: "\e481";}
.moon-seven-segment-0:before {content: "\e482";}
.moon-seven-segment-1:before {content: "\e483";}
.moon-seven-segment-2:before {content: "\e484";}
.moon-seven-segment-3:before {content: "\e485";}
.moon-seven-segment-4:before {content: "\e486";}
.moon-seven-segment-5:before {content: "\e487";}
.moon-seven-segment-6:before {content: "\e488";}
.moon-seven-segment-7:before {content: "\e489";}
.moon-seven-segment-8:before {content: "\e48a";}
.moon-seven-segment-9:before {content: "\e48b";}
.moon-share-2:before {content: "\e48c";}
.moon-share-3:before {content: "\e48d";}
.moon-mail:before {content: "\e48e";}
.moon-mail-2:before {content: "\e48f";}
.moon-mail-3:before {content: "\e490";}
.moon-mail-4:before {content: "\e491";}
.moon-google:before {content: "\e492";}
.moon-google_plus:before {content: "\e493";}
.moon-google_plus-2:before {content: "\e494";}
.moon-google_plus-3:before {content: "\e495";}
.moon-google_plus-4:before {content: "\e496";}
.moon-google-drive:before {content: "\e497";}
.moon-facebook:before {content: "\e498";}
.moon-facebook-2:before {content: "\e499";}
.moon-facebook-3:before {content: "\e49a";}
.moon-facebook-4:before {content: "\e49b";}
.moon-instagram:before {content: "\e49c";}
.moon-twitter:before {content: "\e49d";}
.moon-twitter-2:before {content: "\e49e";}
.moon-twitter-3:before {content: "\e49f";}
.moon-feed-2:before {content: "\e4a0";}
.moon-feed-3:before {content: "\e4a1";}
.moon-feed-4:before {content: "\e4a2";}
.moon-youtube:before {content: "\e4a3";}
.moon-youtube-2:before {content: "\e4a4";}
.moon-vimeo:before {content: "\e4a5";}
.moon-vimeo2:before {content: "\e4a6";}
.moon-vimeo-2:before {content: "\e4a7";}
.moon-lanyrd:before {content: "\e4a8";}
.moon-flickr:before {content: "\e4a9";}
.moon-flickr-2:before {content: "\e4aa";}
.moon-flickr-3:before {content: "\e4ab";}
.moon-flickr-4:before {content: "\e4ac";}
.moon-picassa:before {content: "\e4ad";}
.moon-picassa-2:before {content: "\e4ae";}
.moon-dribbble:before {content: "\e4af";}
.moon-dribbble-2:before {content: "\e4b0";}
.moon-dribbble-3:before {content: "\e4b1";}
.moon-forrst:before {content: "\e4b2";}
.moon-forrst-2:before {content: "\e4b3";}
.moon-deviantart:before {content: "\e4b4";}
.moon-deviantart-2:before {content: "\e4b5";}
.moon-steam:before {content: "\e4b6";}
.moon-steam-2:before {content: "\e4b7";}
.moon-github:before {content: "\e4b8";}
.moon-github-2:before {content: "\e4b9";}
.moon-github-3:before {content: "\e4ba";}
.moon-github-4:before {content: "\e4bb";}
.moon-github-5:before {content: "\e4bc";}
.moon-wordpress:before {content: "\e4bd";}
.moon-wordpress-2:before {content: "\e4be";}
.moon-joomla:before {content: "\e4bf";}
.moon-blogger:before {content: "\e4c0";}
.moon-blogger-2:before {content: "\e4c1";}
.moon-tumblr:before {content: "\e4c2";}
.moon-tumblr-2:before {content: "\e4c3";}
.moon-yahoo:before {content: "\e4c4";}
.moon-tux:before {content: "\e4c5";}
.moon-apple:before {content: "\e4c6";}
.moon-finder:before {content: "\e4c7";}
.moon-android:before {content: "\e4c8";}
.moon-windows:before {content: "\e4c9";}
.moon-windows8:before {content: "\e4ca";}
.moon-soundcloud:before {content: "\e4cb";}
.moon-soundcloud-2:before {content: "\e4cc";}
.moon-skype:before {content: "\e4cd";}
.moon-reddit:before {content: "\e4ce";}
.moon-linkedin:before {content: "\e4cf";}
.moon-lastfm:before {content: "\e4d0";}
.moon-lastfm-2:before {content: "\e4d1";}
.moon-delicious:before {content: "\e4d2";}
.moon-stumbleupon:before {content: "\e4d3";}
.moon-stumbleupon-2:before {content: "\e4d4";}
.moon-stackoverflow:before {content: "\e4d5";}
.moon-pinterest:before {content: "\e4d6";}
.moon-pinterest-2:before {content: "\e4d7";}
.moon-xing:before {content: "\e4d8";}
.moon-xing-2:before {content: "\e4d9";}
.moon-flattr:before {content: "\e4da";}
.moon-safari:before {content: "\e4db";}
.moon-foursquare:before {content: "\e4dc";}
.moon-foursquare-2:before {content: "\e4dd";}
.moon-paypal:before {content: "\e4de";}
.moon-paypal-2:before {content: "\e4df";}
.moon-paypal-3:before {content: "\e4e0";}
.moon-yelp:before {content: "\e4e1";}
.moon-libreoffice:before {content: "\e4e2";}
.moon-file-pdf:before {content: "\e4e3";}
.moon-file-openoffice:before {content: "\e4e4";}
.moon-file-word:before {content: "\e4e5";}
.moon-file-excel:before {content: "\e4e6";}
.moon-file-zip:before {content: "\e4e7";}
.moon-file-powerpoint:before {content: "\e4e8";}
.moon-file-xml:before {content: "\e4e9";}
.moon-file-css:before {content: "\e4ea";}
.moon-html5:before {content: "\e4eb";}
.moon-html5-2:before {content: "\e4ec";}
.moon-css3:before {content: "\e4ed";}
.moon-chrome:before {content: "\e4ee";}
.moon-firefox:before {content: "\e4ef";}
.moon-IE:before {content: "\e4f0";}
.moon-opera:before {content: "\e4f1";}
