/*.search-form .form-control{
    border-radius:4px 0px 0px 4px !important;
}
.search-form .btn-default{
     border-radius: 0px 4px 4px 0px !important;
     margin-left:-5px;
       margin-top: -11px;
}*/
.gridreport .col-lg-6 .list-group{
    margin: 0px!important;
}
.ereport .lead{
    margin:0px!important;
    padding:0px!important;
}
.ereport .page-header {
    margin:0px!important;
    padding:0px!important;
}
.panel{
    display: initial !important;
}
#main-panel{
    margin-left:0px !important
}

.ajax-loader {
    margin: 0px auto;
    position: relative;
    top: 150px;
    text-align: center;
}
.ajax-loader p{
    color: rgba(95, 126, 126, 1);
    margin-top: 5px;
}