/**
 * BuyKart Styles
 *
 * @package     local
 * @subpackage  local_buykart
 * @author      Thomas Threadgold
 * @copyright   2015 LearningWorks Ltd
 * @license     http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */

.product-item {
    overflow: hidden;
    margin: 1em 0;
}

.product-image {
    max-width: 100%;
}

.product-item .product-title {
    margin-top: 0;
}

.filter-bar {
    overflow: hidden;
    padding: 1em;
}

.filter__category {
    float: left;
}

.filter__sort {
    float: right;
}

.product-single {
    overflow: hidden;
}

.product-single .product-description {
    margin-bottom: 2em;
}

.catalogue-empty {
    text-align: center;
}

.cart-overview .products {
    margin: 0;
}

.cart-overview .product__form {
    float: right;
    height: 40px;
}

.cart-overview .product-item {
    margin: 0;
    overflow: hidden;
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
    list-style: none;
}

.cart-overview .product-item .product-price {
    float: left;
    line-height: 40px;
}

.cart-overview .product__form .form__submit {
    height: 32px;
    display: block;
    margin: 4px 0;
}

.cart-overview .cart-summary {
    overflow: hidden;
}

.related-products {
    text-align: center;
}

.grid-container {
    max-width: 700px;
    list-style: none;
    margin: 0 auto;
}

.grid-container .grid-item {
    width: 200px;
    margin: 1em;
    display: inline-block;
}

.grid-container .grid-item a {
    display: block;
}

.pagination-bar .pagination {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.pagination .page-item {
    display: inline-block;
}

.pagination .page-item a {
    display: block;
    padding: 0.5em;
    min-width: 2em;
    box-sizing: border-box;
}

.pagination .page-item a.active {
    border: 1px solid #ccc;
}

.cart-overview .cart-actions form {
    text-align: center;
    margin: 0 0.5em;
}

.mform .fitem.course-settings-tier {
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
    margin-bottom: 2em;
}

.cart-summary {
    margin-bottom: 1em;
}

.back-to-shop {
    float: left;
}

.payment-gateway {
    float: right;
}

.cart-review__wrapper {
    background-color: #f2dede;
    margin: 2em 0;
    padding: 2em;
    color: #b94a48;
    border: 1px solid #eed3d7;
    border-radius: 4px;
}

.cart-review__wrapper ul {
    margin: 0 0 0 25px;
}

#fitem_id_variable_name_1:before {
    content: 'Tier 1';
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
#fitem_id_variable_name_2:before {
    content: 'Tier 2';
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
#fitem_id_variable_name_3:before {
    content: 'Tier 3';
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
#fitem_id_variable_name_4:before {
    content: 'Tier 4';
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
#fitem_id_variable_name_5:before {
    content: 'Tier 5';
    display: block;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

@media all and (min-width: 767px) {
    .product-item .product-details {
        float: left;
        width: 80%;
    }
    .product-item .product-details__wrapper {
        float: left;
        width: calc(100% - 175px);
    }
    .product-item .product-actions {
        float: right;
        width: 19%;
    }
    .product-item .product-image {
        float: left;
        width: 150px;
        margin-top: 0.75em;
        margin-right: 1em;
    }
    .product-single .product-image {
        float: right;
        width: 25%;
        margin: 0 2em;
    }
    .product-single .product-details {
        margin-right: calc(25% + 4em);
    }
    .cart-overview .product-item .product-title {
        float: left;
        width: 80%;
        line-height: 40px;
        margin: 0;
    }
    .cart-overview .cart-total__label {
        float: left;
        text-align: right;
        width: 80%;
        padding-right: 0.5em;
        box-sizing: border-box;
    }
    .cart-overview .cart-total {
        float: left;
        width: 20%;
    }
    .cart-overview .cart-actions {
        float: right;
    }
    .cart-overview .cart-actions form {
        float: left;
        text-align: left;
    }
}
