.block_edubusiness  {
  padding: 0px;
  margin: 0px;
  border: none!important;
  background: #eee;
  margin-bottom:0px!important;
  border-radius: 0px!important;
}
.block_edubusiness .content {padding:0px;}
.block_edubusiness .editbutton {text-align:right;}
.site-features .sfcol .rcbox.feature-01 {
background-image: url([[pix:block_edubusiness|expert_instructer]]);
background-repeat: no-repeat;
background-position: center;
background-color: #fff;
}
.site-features .sfcol .rcbox.feature-02 {
background-image: url([[pix:block_edubusiness|flexible_schedule]]);
background-repeat: no-repeat;
background-position: center;
background-color: #fff;
}
.site-features .sfcol .rcbox.feature-03 {
background-image: url([[pix:block_edubusiness|live_classes]]);
background-repeat: no-repeat;
background-position: center;
background-color: #fff;
}
.site-features .sfcol .rcbox.feature-04 {
background-image: url('/pix/supporthome.png');
background-image: url([[pix:block_edubusiness|supporthome]]);
background-repeat: no-repeat;
background-position: center;
background-color: #fff;
}
.site-features .sfcol .rcbox {
width: 140px;
height: 140px;
background-color: #fff;
background-repeat: no-repeat;
background-position: center center;
border: 5px solid #53aad0;
-webkit-border-radius: 70px;
-moz-border-radius: 70px;
border-radius: 70px;
margin: 0 auto;
}
.hdivider {
padding: 20px 0;
}
.site-features .sfcol p {
/*color: #fff;*/
margin-bottom: 0;
}
.site-features .sfcol {
padding: 18px 0;
}
.site-info .info-text {
padding: 7px 0 7px 40px;
border-left: 1px dotted #f00;
display: table-cell;
}
.site-info .info-text p {
color: #5a5a5a;
line-height: 27px;
margin-bottom: 0;
}
.site-info .infotitle {
width: 250px;
height: 100%;
margin: 0;
display: table-cell;
vertical-align: middle;
}
.visible-xs, .visible-sm, .visible-md, .visible-lg {
display: none !important;
}
.hdivider span {
width: 33px;
height: 5px;
background: #f1d257;
display: block;
margin: 0 auto;
}
.site-features {

padding: 30px 0;
margin: 36px 0 0;
}
.site-info {
margin: 16px 0 0;
padding-top:10px;
}

/*---styles added for edubusiness by Arjun Singh */

div#pgc-1642-6-0{float: left;
				  width: 38.452%;
				  background-color: #5DBD59;
				}

div#pgc-1642-6-1 {
    width: 61.548%;
    float: left;
    background-color: #5DBD59;
}
.custom-readmore{
	padding-top: 65px;
    background-repeat: no-repeat !important;
    background-position: bottom right;
    padding-bottom: 34px;
    overflow: hidden;
}
.icon-left .boxes-icon{
	float: left;
    margin-right: 15px;
}
.custom-readmore .boxes-icon{
	height: auto !important;
}
.custom-readmore .content-inner{  
    position: relative;
    padding-right: 160px;}
.smicon-read{
	margin-top: 15px;
    padding: 5px 30px;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #2C3339;
}
.custom-readmore .content-inner .smicon-read{
	border-width: 2px;
    padding: 6px 20px;
    position: absolute;
    top: 50%;
    margin-top: -30px;
    right: 0;
    border-radius: 5px;
    font-size: 115%;
}
.images-student{
	margin-top: -100px;
    position: relative;
}
 .smicon-read a:hover{
 	text-decoration: none;
 	}
.single-image.center{
	text-align: center;
}
.custom-readmore .content-inner .smicon-read:hover{
	    opacity: 0.7;
}