.label-warning[href]:hover{background-color: #fff;}
.panel-green .panel-body{
    border: 1px solid #5cb85c;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-body {
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.panel-body .list-group
{
    margin-bottom:0px!important;
}
.panel-body .list-group-item
{
        border: 1px solid #9DA0A0!important;
}
.panel-heading .avatar
{
    float:right;
    margin-top: -35px;
}
.panel-heading img.uimgcircle
{
    border-radius: 5px;
}
.panel-red .panel-body{
    border:1px solid #d9534f;
}
.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}
.chkoutbtn{
    width: 11%;
    border-bottom: 1px solid #9DA0A0;
    border-radius: 10px;
}
.mform .fcontainer .fitem .felement select {
    min-width: 65px!important;
}


